<%= simple_form_for(@cliente) do |f| %>
  <%= f.error_notification %>

  <div class="card">
    <h3 class="card-header">Cliente</h3>

    <div class="container">
      <br>
        <div class="card-block">
          <div class="my_card_pedidos_form">
            <div class="col-4">
              <%= f.input :nombre %>
            </div>
            <div class="col-4">
              <%= f.input :nit %>
            </div>
            <div class="col-4">
              <%= f.input :direccion %>
            </div>


          </div>
        </div>
      <br>
    </div>
</div>

<br>




  <div >

    <br>
      <div class="card">
        <div class="card-header">
          <div class="my_card_contactos_form">
            <div >
              <h3>Contactos</h3>
            </div>
            <div >
              <%= link_to_add_contactos('<button type="button" id="pruebaSelect" class="btn btn-outline-primary"><span><i class="ion-person-add"></i></span></button>'.html_safe, f, :contactos, class: '') %>
            </div>
        </div>
        </div>


        <div class="container">

          <table class="table">
            <tbody class='fields_contactos'>
              <%=f.fields_for :contactos do |contc|%>

                 <%= render 'contacto_fields', f:contc%>

              <%end%>
            </tbody>
            </table>

        </div>
    </div>


  </div>


  <div class="">
    <br>
      <div class="card">
        <div class="card-header">
          <div class="my_card_contactos_form">
            <div >
              <h3>Direcciones Despacho</h3>
            </div>
            <div >
              <%= link_to_add_lugar_depacho('<button type="button" id="pruebaSelect" class="btn btn-outline-primary"><span><i class="ion-plus-round"></i></span></button>'.html_safe, f, :lugares_despachos, class: '') %>
            </div>
        </div>
        </div>


        <div class="container">

          <table class="table">
            <tbody class='fields_lugar_despacho'>
              <%=f.fields_for :lugares_despachos do |contc|%>

                 <%= render 'lugar_despacho', f:contc%>

              <%end%>
            </tbody>
            </table>

        </div>
    </div>
  </div>




  <div class="">
    <br>
      <div class="card">
        <div class="card-header">
          <div class="my_card_contactos_form">
            <div >
              <h3>Facturar</h3>
            </div>
            <div >
              <%= link_to_add_nombre_facturacion('<button type="button" id="pruebaSelect" class="btn btn-outline-primary"><span><i class="ion-plus-round"></i></span></button>'.html_safe, f, :nombres_facturaciones, class: '') %>
            </div>
        </div>
        </div>


        <div class="container">

          <table class="table">
            <tbody class='fields_nombre_facturacion'>
              <%=f.fields_for :nombres_facturaciones do |contc|%>

                 <%= render 'nombre_facturacion', f:contc%>

              <%end%>
            </tbody>
            </table>

        </div>
    </div>
  </div>


  <br>

  <div class="btn pull-right">
  <%= button_tag type: 'submit', class: "btn btn-outline-success" do %>
    <span>Guardar
      <i id="iconoSubmit"class="ion-paper-airplane" aria-hidden="true"></i>
    </span>
   <% end %>
 </div>
<% end %>
