<p id="notice"><%= notice %></p>


<div class="row my_card_users">
 <% @clientes.each do |cliente| %>
  <div class="col-4">

    <div class="card border-secondary mb-3" style="max-width: 20rem;">

        <div class="card-header">
          <%= cliente.nombre %>
        </div>

          <div class="card-body text-secondary">

            <h4 class="card-title">Información General</h4>
            <p class="card-text">
              Nit: <%= cliente.nit %>
            </p>
            <p class="card-text">
              Direccion: <%= cliente.direccion %>
            </p>
            <p class="card-text">
              Telefono: <%= cliente.telefono %>
            </p>

          </div>

          <div class="card-footer bg-transparent border-secondary">
            <div class="my_users_btn_options">
              <%= link_to '<button type="button" class="btn btn-outline-warning">Ver</button>'.html_safe, cliente %>
              <%= link_to '<button type="button" class="btn btn-outline-success">Editar</button>'.html_safe, edit_cliente_path(cliente) %>
              <%= link_to '<button type="button" class="btn btn-outline-danger">Eliminar</button>'.html_safe, cliente, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          </div>

        </div>

  </div>
  <% end %>

</div>


<h1>Clientes</h1>
<div class="pull-right">
  <%= will_paginate @clientes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Nit</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%   @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.nit %></td>
        <td><%= cliente.direccion %></td>
        <td><%= cliente.telefono %></td>
        <td><%= cliente.user.nombre %></td>
        <td><%= link_to 'Show', cliente %></td>
        <td><%= link_to 'Edit', edit_cliente_path(cliente) %></td>
        <td><%= link_to 'Destroy', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div class="pull-right">
  <%= will_paginate @clientes, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
<%= link_to 'New Cliente', new_cliente_path %>
<%= link_to 'Vista para Subir Excel', vista_subir_excel_path,class:'btn btn-success' %>
