<br>
<h1>Contactos de
  <%=@cliente.nombre%></h1>

<p id="notice"><%= notice %></p>

<table class="table  table-hover">
  <thead>
    <tr>
      <th>Nombre contacto</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th>Correo</th>
    </tr>
  </thead>

  <tbody>
    <% @cliente.contactos.each do |contacto| %>

          <tr id=<%="contacto_num_#{contacto.id}"%> >
            <td><%= contacto.nombre_contacto %></td>
            <td><%= contacto.telefono %></td>
            <td><%= contacto.celular %></td>
            <td><%= contacto.correo %></td>
            <td><%= link_to '<button class="btn btn-outline-danger"><span><i class="ion-trash-a"></i></i></span></button>'.html_safe, contacto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>



        <% end %>
      </tbody>
    </table>

    <br>

<h1>Lugares de entrega</h1>

<br>

    <table class="table  table-hover">
      <thead>
        <tr >
          <th>Dirección</th>
        </tr>
      </thead>

      <tbody>
        <% @cliente.lugares_despachos.each do |despacho| %>


            <tr id=<%="despacho_num_#{despacho.id}"%> >
              <td><%= despacho.direccion %></td>
            </tr>


            <% end %>
          </tbody>
        </table>





        <h1>Facturar a</h1>

        <br>

            <table class="table  table-hover">
              <thead>
                <tr>
                  <th>Dirección</th>
                </tr>
              </thead>

              <tbody>
                <% @cliente.nombres_facturaciones.each do |nombre| %>


                    <tr id=<%="nombre_num_#{nombre.id}"%> >
                      <td><%= nombre.nombre %></td>
                    </tr>


                    <% end %>
                  </tbody>
                </table>






    <%if current_user.rol.cargo=="Gerente Comercial"%>
    <!-- BTN modal -->
    <br>
    <button class="btn btn-success" data-toggle="modal" data-target="#modalExcel">Importar Contactos Desde Excel</button>
    <br>
    <%= link_to 'Edit', edit_cliente_path(@cliente) %>
    |
    <%= link_to 'Back', clientes_path %>

    <!-- Modal Excel -->

    <div class="modal fade fullscreen-modal " id="modalExcel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content col-12">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Importar Contactos Desde Excel</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <h1>Instrucciones:</h1>
              <h6>
                <strong>-</strong>
                Para importar los contactos asegurese de que el orden las las columnas sean los siguientes:
                <br>
                &nbsp;
                <strong>Nombre del Contacto, Telefono, Celular, Correo
                </strong>
              </h6>
              <h6>
                <strong>-</strong>
                Además El archivo tendrá que pertenecer a alguna de estas extenciones:<br>
                &nbsp;
                <strong>".xls", ".xlsx", ".csv".
                </strong>
              </h6>
              <%= form_tag import_contactos_from_excel_path(@cliente), multipart: true do %>
              <%= file_field_tag :file %>
              <br>
              <br>
              <%= submit_tag "Importar", :class=> "btn btn-primary"%>
            <% end %>
            <h1><%=@user_id%></h1>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        </div>

      </div>
    </div>
    <%elsif current_user.rol.cargo=="Administrador"%>
    <!-- BTN modal -->
    <br>
    <button class="btn btn-success" data-toggle="modal" data-target="#modalExcel">Importar Contactos Desde Excel</button>
    <br>
    <%= link_to 'Edit', edit_cliente_path(@cliente) %>
    |
    <%= link_to 'Back', clientes_path %>

    <!-- Modal Excel -->

    <div class="modal fade fullscreen-modal " id="modalExcel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content col-12">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Importar Contactos Desde Excel</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="container">
              <h1>Instrucciones:</h1>
              <h6>
                <strong>-</strong>
                Para importar los contactos asegurese de que el orden las las columnas sean los siguientes:
                <br>
                &nbsp;
                <strong>Nombre del Contacto, Telefono, Celular, Correo
                </strong>
              </h6>
              <h6>
                <strong>-</strong>
                Además El archivo tendrá que pertenecer a alguna de estas extenciones:<br>
                &nbsp;
                <strong>".xls", ".xlsx", ".csv".
                </strong>
              </h6>
              <%= form_tag import_contactos_from_excel_path(@cliente), multipart: true do %>
              <%= file_field_tag :file %>
              <br>
              <br>
              <%= submit_tag "Importar", :class=> "btn btn-primary"%>
            <% end %>
            <h1><%=@user_id%></h1>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

        </div>

      </div>
    </div>
    <%end%>


    <%= link_to '<button type="button" class="btn btn-outline-primary">Listar Clientes</button>'.html_safe, clientes_path %>

    <script type="text/javascript">
      jQuery(".best_in_place").best_in_place();
    </script>
