
<! ------------------Información Del Pedido---------------------------------->
<div class="container card-block">
  <div class="container my_card_pedidos_form my_orden_pedidos">
    <div class="col-4">
      <label for="">Cliente</label>
      <h4 ><%= @orden_produccion.formato_op.montaje.cliente.nombre%></h4>
    </div>
    <div class="col-4">
      <label for="">Descripción</label>
      <h4 ><%= @orden_produccion.formato_op.montaje.nombre%></h4>
    </div>
    <div class="col-4">
      <label for="">Numero de Orden</label>
      <h4><%= @orden_produccion.numero_de_orden%></h4>
    </div>
  </div>
</div>

<hr>

<div class="my_card_produccion">

  <div class="card col-4">
    <ul class="list-group list-group-flush">

      <li class="list-group-item container my_card_produccion">
        <div class="">
          <strong>Máquina:</strong>
          <%=@orden_produccion.formato_op.maquina.nombre%>
        </div>



        <div class="">

          <!--FONT FACE="arial" SIZE=6>
            <span size=10 >
               <i class="ion-printer"></i>
            </span>
          </!--FONT-->

        </div>
      </li>


    </ul>
  </div>


  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">
        <div class="">
          <strong>Vendedor: </strong>
          <%=@orden_produccion.formato_op.user.nombre%>
        </div>


        <div class="">
          <!--FONT FACE="arial" SIZE=6>
            <span size=10 >
               <i class="ion-images"></i>
            </span>
          </!--FON--->
        </div>

    </li>





    </ul>
  </div>



  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">

        <div class="">
          <strong>Pieza a Decorar: </strong>
          <%=@orden_produccion.formato_op.pieza_a_decorar.nombre%>
        </div>

        <div class="">
          <!--FONT FACE="arial" SIZE=6>
            <span size=10 >
               <i class="ion-wand"></i>
            </span>
          </!--FONT-->

        </div>
      </li>




    </ul>
  </div>





  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">
        <div class="">
          <strong>Linea De Color: </strong>
          <%=@orden_produccion.formato_op.linea_de_color.nombre%>
        </div>

        <div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-paintbrush"></i>
          </span>
        </!--FONT-->

        </div>
      </li>




    </ul>
  </div>



  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">
        <div class="">
          <strong>Cantidad: </strong>
          <%=@orden_produccion.cantidad_programada%>
        </div>

        <div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-stats-bars"></i>
          </span>
        </!--FONT-->

        </div>
       </li>




    </ul>
  </div>



  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">
        <div class="">
          <strong>Tamaños Totales: </strong>
          <%=@orden_produccion.tamanos_total%>
        </div>

        <div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-arrow-graph-up-right"></i>
          </span>
        </!--FONT-->

        </div>
      </li>




    </ul>
  </div>



  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">
        <div class="">
          <strong>Precio Unitario: </strong>
         <%=@orden_produccion.precio_unitario%>
        </div>

        <div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-cash"></i>
          </span>
        </!--FONT-->

        </div>
      </li>




    </ul>
  </div>



  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">
        <div class="">
          <strong>Valor Total: </strong>
          <%=@orden_produccion.valor_total%>
        </div>

        <div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-card"></i>
          </span>
        </!--FONT-->

        </div>
      </li>




    </ul>
  </div>


  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">
        <div class="">
          <strong>Cavidad: </strong>
          <%=@orden_produccion.cavidad%>
        </div>

        <div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-crop"></i>
          </span>
        </!--FONT-->

        </div>
      </li>




    </ul>
  </div>



  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">
        <div class="">
          <strong>Cantidad Hojas: </strong>
          <%=@orden_produccion.cantidad_hoja%>
        </div>

        <div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-document-text"></i>
          </span>
        </!--FONT-->

        </div>
      </li>




    </ul>
  </div>

  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">
        <div class="">
          <strong>Materiales: </strong>
          <%=@orden_produccion.formato_op.material%>
        </div>

        <div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-briefcase"></i>
          </span>
        </!--FONT-->

        </div>
      </li>




    </ul>
  </div>

  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">
        <div class="">
          <strong>Tiro: </strong>
          <%if @orden_produccion.tiro== true%>
              Sí
          <% else %>
              No
          <% end %>
        </div>

        <div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-aperture"></i>
          </span>
        </!--FONT-->

        </div>
      </li>




    </ul>
  </div>

  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">

        <div class="">
          <strong>Retiro: </strong>
          <%if @orden_produccion.retiro== true%>
              Sí
          <% else %>
              No
          <% end %>
        </div>

        <div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-aperture"></i>
          </span>
        </!--FONT-->

        </div>
      </li>




    </ul>
  </div>

  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">
        <div class="">
          <strong>Fecha De Compromiso: </strong>
          <%=@orden_produccion.fecha_compromiso%>
        </div>

        <div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-calendar"></i>
          </span>
        </!--FONT-->

        </div>
      </li>




    </ul>
  </div>





  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">

        <div class="">
          <strong>Observaciones: </strong>
          <%=@orden_produccion.observacion%>
        </div>


        <!--div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-monitor"></i>
          </span>
        </!--FONT--->

      </div-->
      </li>




    </ul>
  </div>








</div>


<hr>

<div class="my_card_produccion">
  <div class="col-12">
    <h1>Tintas Tiro</h1>
  </div>

<%@orden_produccion.formato_op.montaje.tintas_fop_tiro.each do |tintas_tiro|%>



<div class="card col-6">
  <ul class="list-group list-group-flush">




    <li class="list-group-item container my_card_produccion">
      <div class="col-9">
        <div class="">
          <strong>Tinta:</strong>
        </div>


      </div>
      <div class="col-3">
        <strong>Malla:</strong>
      </div>


      <div class="">

        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-printer"></i>
          </span>
        </!--FONT-->

      </div>
    </li>
<!--color-->

    <li class="list-group-item container my_card_produccion">
      <div class="col-9">

        <p><%=tintas_tiro.descripcion%></p>

      </div>

      <div class="col-3">

        <p><%=tintas_tiro.malla.nombre%></p>

      </div>



      <div class="">

        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-printer"></i>
          </span>
        </!--FONT-->

      </div>
    </li>





  </ul>
</div>


<% end %>
</div>








<hr>

<div class="my_card_produccion">
  <div class="col-12">
    <h1>Tintas Retiro</h1>
  </div>

<%@orden_produccion.formato_op.montaje.tintas_fop_retiro.each do |tintas_retiro|%>



<div class="card col-6">
  <ul class="list-group list-group-flush">




    <li class="list-group-item container my_card_produccion">
      <div class="col-9">
        <div class="">
          <strong>Tinta:</strong>
        </div>


      </div>
      <div class="col-3">
        <strong>Malla:</strong>
      </div>


      <div class="">

        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-printer"></i>
          </span>
        </!--FONT-->

      </div>
    </li>
<!--color-->

    <li class="list-group-item container my_card_produccion">
      <div class="col-9">

        <p><%=tintas_retiro.descripcion%></p>

      </div>

      <div class="col-3">

        <p><%=tintas_retiro.malla.nombre%></p>

      </div>



      <div class="">

        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-printer"></i>
          </span>
        </!--FONT-->

      </div>
    </li>





  </ul>
</div>


<% end %>
</div>
