<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @orden_produccion.cliente %>
</p>

<p>
  <strong>User:</strong>
  <%= @orden_produccion.user %>
</p>

<p>
  <strong>Maquina:</strong>
  <%= @orden_produccion.maquina %>
</p>

<p>
  <strong>Montaje:</strong>
  <%= @orden_produccion.montaje %>
</p>

<p>
  <strong>Pieza a decorar:</strong>
  <%= @orden_produccion.pieza_a_decorar %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @orden_produccion.mes %>
</p>

<p>
  <strong>Linea de color:</strong>
  <%= @orden_produccion.linea_de_color %>
</p>

<p>
  <strong>Numero de orden:</strong>
  <%= @orden_produccion.numero_de_orden %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @orden_produccion.mes %>
</p>

<p>
  <strong>Cantidad programada:</strong>
  <%= @orden_produccion.cantidad_programada %>
</p>

<p>
  <strong>Precio unitario:</strong>
  <%= @orden_produccion.precio_unitario %>
</p>

<p>
  <strong>Valor total:</strong>
  <%= @orden_produccion.valor_total %>
</p>

<p>
  <strong>Tipo de produccion:</strong>
  <%= @orden_produccion.tipo_de_produccion %>
</p>

<p>
  <strong>Material:</strong>
  <%= @orden_produccion.material %>
</p>

<p>
  <strong>Temperatura:</strong>
  <%= @orden_produccion.temperatura %>
</p>

<p>
  <strong>Tamanos total:</strong>
  <%= @orden_produccion.tamanos_total %>
</p>

<p>
  <strong>Cavidad:</strong>
  <%= @orden_produccion.cavidad %>
</p>

<p>
  <strong>Tipo de linea:</strong>
  <%= @orden_produccion.tipo_de_linea %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @orden_produccion.fecha %>
</p>

<p>
  <strong>Fecha compromiso:</strong>
  <%= @orden_produccion.fecha_compromiso %>
</p>

<p>
  <strong>Cantidad hoja:</strong>
  <%= @orden_produccion.cantidad_hoja %>
</p>

<p>
  <strong>Tiro:</strong>
  <%= @orden_produccion.tiro %>
</p>

<p>
  <strong>Retiro:</strong>
  <%= @orden_produccion.retiro %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @orden_produccion.observacion %>
</p>

<p>
  <strong>Pantalla:</strong>
  <%= @orden_produccion.pantalla %>
</p>

<p>
  <strong>Color:</strong>
  <%= @orden_produccion.color %>
</p>

<p>
  <strong>Corte material:</strong>
  <%= @orden_produccion.corte_material %>
</p>

<p>
  <strong>Impresion:</strong>
  <%= @orden_produccion.impresion %>
</p>

<p>
  <strong>Troquel:</strong>
  <%= @orden_produccion.troquel %>
</p>

<p>
  <strong>Acabado:</strong>
  <%= @orden_produccion.acabado %>
</p>

<p>
  <strong>Habilitar impresion:</strong>
  <%= @orden_produccion.habilitar_impresion %>
</p>

<p>
  <strong>Habilitar acabado:</strong>
  <%= @orden_produccion.habilitar_acabado %>
</p>

<p>
  <strong>Estado de orden:</strong>
  <%= @orden_produccion.estado_de_orden %>
</p>

<p>
  <strong>Linea producto:</strong>
  <%= @orden_produccion.linea_producto %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @orden_produccion.estado %>
</p>

<%= link_to 'Edit', edit_orden_produccion_path(@orden_produccion) %> |
<%= link_to 'Back', ordenes_produccion_path %>
