<p id="notice"><%= notice %></p>

<h1>Tintas Fop Retiro</h1>

<table>
  <thead>
    <tr>
      <th>Montaje</th>
      <th>Tinta</th>
      <th>Malla</th>
      <th>Descripcion</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tintas_fop_retiro.each do |tinta_fop_retiro| %>
      <tr>
        <td><%= tinta_fop_retiro.montaje %></td>
        <td><%= tinta_fop_retiro.tinta %></td>
        <td><%= tinta_fop_retiro.malla %></td>
        <td><%= tinta_fop_retiro.descripcion %></td>
        <td><%= tinta_fop_retiro.estado %></td>
        <td><%= link_to 'Show', tinta_fop_retiro %></td>
        <td><%= link_to 'Edit', edit_tinta_fop_retiro_path(tinta_fop_retiro) %></td>
        <td><%= link_to 'Destroy', tinta_fop_retiro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tinta Fop Retiro', new_tinta_fop_retiro_path %>
