<p id="notice"><%= notice %></p>

<p>
  <strong>Formato op:</strong>
  <%= @tinta_fop_retiro.formato_op %>
</p>

<p>
  <strong>Malla:</strong>
  <%= @tinta_fop_retiro.malla %>
</p>

<p>
  <strong>Tipo de tinta:</strong>
  <%= @tinta_fop_retiro.tipo_de_tinta %>
</p>

<p>
  <strong>Color:</strong>
  <%= @tinta_fop_retiro.color %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @tinta_fop_retiro.estado %>
</p>

<%= link_to 'Edit', edit_tinta_fop_retiro_path(@tinta_fop_retiro) %> |
<%= link_to 'Back', tintas_fop_retiro_path %>
