
<div>

    <div class="container_opacity col-12">

    </div>

    <div class="my_container_image col-7 offset-md-2">
      <%=
      image_tag "ColoresHumo.jpg",
       class:"img-fluid",
         alt:"Responsive image"
         %>

    </div>

    <div class="col-md-8 offset-md-1 my_container_tittle">
        <div class="">

            <h1 class="my_title_login">Manejo Corporativo</h1>

           <hr class="line_title"/>
            <% if user_signed_in? %>

              <%= link_to '<button type="button" class="btn btn-outline-danger btn-lg btn-block my_btn_title "> <span class="btn_letter_color"> Logout</span> </button>'.html_safe, destroy_user_session_path, :method=>'delete' %>
            <%else%>

             <button type="button" class="btn btn-outline-warning btn-lg btn-block my_btn_title btn_letter_color"
             data-toggle="modal" data-target="#exampleModal"> <span style="color: black;">Login</span> </button>

            <%end%>
            <diV class="">
                  <%=
                      image_tag 'logointercalco.png',
                      class:"float-left col-10"
                  %>

              </diV>
        </div>
        <!--Modal -->

   <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f| %>

    <div class="modal fade my_modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Iniciar Sesión</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="col-form-label">Usuario:</label>
                <%= f.email_field :email, autofocus: true, class: "form-control" %>
              </div>
              <div class="form-group">
                <label for="message-text" class="col-form-label">Contraseña:</label>
                <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-danger" data-dismiss="modal">Cancelar</button>
            <%= f.submit  t('.sign_in', :default => "Iniciar Sesion"), class: "btn btn-outline-success" %>
          </div>
        </div>
      </div>
    </div>


<%end%>
<!--/Modal -->
  </div>

</div>
