<%= simple_form_for(@material) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :codigo %>
    <%= f.input :descripcion %>
    <%= f.input :tipo_de_unidad %>
    <%= f.input :medida_material %>
  </div>

  <div class="btn pull-right">
  <%= button_tag type: 'submit', class: "btn btn-outline-success" do %>
    <span>Guardar
      <i id="iconoSubmit"class="ion-paper-airplane" aria-hidden="true"></i>
    </span>
   <% end %>
 </div>
<% end %>
