<%= simple_form_for(@tinta) do |f| %>
  <%= f.error_notification %>

  
  <div class="card">
    <h3 class="card-header">Cliente</h3>

    <div class="container">
      <br>
        <div class="card-block">
          <div class="my_card_pedidos_form">
            <div class="col-4">
              <%= f.association :malla %>
            </div>
            <div class="col-4">
              <%= f.association :linea_de_color %>
            </div>
            <div class="col-4">
              <%= f.input :descripcion %>
            </div>
            <div class="col-4">
              <%= f.input :codigo %>
            </div>

          </div>
        </div>
      <br>
    </div>
</div>

<br>




  <br>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
