<div class="">

  <div class="my_card_pedidos_form my_orden_pedidos">

    <div class="col-6">
      <%= link_to '<button class="btn btn-outline-warning"><span>Editar <i class="ion-paintbrush"></i></span></button>'.html_safe, edit_programacion_op_maquina_path( @programacion_op_maquina), remote: true %>
    </div>

    

  </div>



    <div class="col-12">
      <br>
    </div>


  <table class="table table-responsive">
    <thead>

      <th>FECHA DE IMPRESION</th>
      <th>CANTIDAD TOTAL</th>
      <th>TAMAÑOS TOTALES</th>
      <th>CANTIDAD DE MAQUINAS</th>
      <th>TOTAL EN HORAS</th>
      <th>TIEMPO POR MAQUINAS</th>
      <th>HORA DE INICIO</th>
      <th>TERMINA DE IMPRIMIR</th>
      <th>HORA FINAL</th>

    </thead>
      <tbody>

        <tr>

          <td> <h6> <%=@programacion_op_maquina.fecha_de_impresion%> <span> <i class="ion-calendar"></i> </span> </h6> </td>
          <td> <h6> <%=numero_beuty(@programacion_op_maquina.orden_produccion.cantidad_solicitada.to_i)%> </h6> </td>
          <td> <h6> <%=numero_beuty(@programacion_op_maquina.orden_produccion.tamanos_total.to_i)%> <span> UND</span> </h6 </h6> </td>
          <td> <h6> <%=@programacion_op_maquina.cantidad_maquinas%>  </h6> </td>
          <td> <h6> <%=@programacion_op_maquina.total_hora%> <span> <i class="ion-clock"></i> </span> </h6>  </td>
          <td> <h6> <%=@programacion_op_maquina.tiempo_por_maquina%> <span> <i class="ion-clock"></i> </span></h6>  </td>
          <td> <h6> <%=@programacion_op_maquina.hora_inicio.strftime("%H:%M ")%> <span> <i class="ion-clock"></i> </span> </h6>  </td>
          <td> <h6> <%=@programacion_op_maquina.fecha_de_impresion_final%> <span> <i class="ion-calendar"></i> </span> </h6> </td>
          <td> <h6> <%=@programacion_op_maquina.hora_final.strftime("%H:%M ")%> <span> <i class="ion-clock"></i> </span> </h6> </td>


        </tr>
      </tbody>

  </table>







</div>
