<tr class="" id="CamposDesarrollo">
  <td>


    <%= f.select :linea_de_color_id,LineaDeColor.all.map {|i| [i.nombre , i.id]},
    {}, {required: 'true', autofocus: 'true', class: 'js-example-tags form-control'}  %>
  </td>

  <td>
    <%= f.select :malla_id, Malla.all.map {|i| [i.nombre , i.id]},
    {}, {required: 'true', autofocus: 'true', class: 'js-example-tags form-control' } %>
  </td>

  <td>
    <%= f.select :descripción,@Tintas.map{|i| [i]},
    {}, {class: "form-control js-example-tintas"}%>
  </td>

  <td>
    <br>
    <%= f.input :tiro, label:false %>
  </td>

  <td>
    <br>
    <%= f.input :retiro, label:false %>
  </td>

  <td>
  <%= f.input_field :_destroy, as: :hidden %>
  <%= link_to '<button type="button" class="btn btn-outline-danger btn_delete_contacto"><span><i class="ion-trash-a"></i></span></button>'.html_safe, '#', class: 'remove_compromisos' %>
  </td>

</tr>


<script type="text/javascript">
  $(".js-example-tintas").select2({
    tags: true,
    tokenSeparators: [',']
  })
</script>
