<tr>
  <td><%= f.association :orden_produccion %></td>
  <td><%= f.association :linea_de_color %></td>
  <td><%= f.association :malla %></td>
  <td><%= f.input :descripción %></td>
  <td><%= f.input :tiro %></td>
  <td><%= f.input :retiro %></td>
</tr>
