
<%= simple_form_for(@montaje) do |f| %>
  <%= f.error_notification %>
  <!-- Errores en la validación -->

<h1></h1>

  <% if @montaje.errors.any? %>
    <div class="">
      <h2><%= pluralize(@montaje.errors.count, "errore") %> impiden registrar esta ficha:</h2>
      <ul>
      <% @montaje.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <%end%>


  <div class="offset-md-10">
    <%= link_to '<button class="btn btn-outline-info"><span>Ficha Existente <i class="ion-android-document"></i></span></button>'.html_safe, new_orden_produccion_path  %>
  </div>

  <br>

  <div class="card text-center">

     <div class="card-header">


       <div class="my_card_contactos_form">
         <div >
           <h1>Referencia</h1>
         </div>

         <div id="cliente">
           <div class="">
             <input type="checkbox"  id="crearCliente">
             <label for="" > Registrar cliente nuevo </label>
           </div>
         </div>


     </div>




     </div>

     <!--Card Block-->
     <div class="card-block">
        <h4 class="card-title"></h4>
        <div class="container">
           <!--Container Con Flexbox-->
           <div class="my_card_pedidos_form">


              <!--Cliente-->
              <div class="col-4" id="contenedorClienteExistente">
                <label for="">Seleccion Cliente</label>
                <%=
                  f.select :cliente_id,
                  Cliente.all.map{|i| ["Cliente: "+i.nombre+" " , i.id]},
                  {}, {required: 'true', autofocus: 'true', class: 'js-example-tags form-control', id: "select_cliente_montaje"}
                %>
                <p id="campo_cliente"></p>
              </div>


                      <div class="col-4 ContenedorClienteNuevo">
                        <label for="">Cliente nuevo</label><br>
                        <%=f.text_field :new_cliente,  :class => 'form-control '%>
                      </div>

                      <div class="col-4 ContenedorClienteNuevo">
                        <label for="">Contacto Nuevo</label> <br>
                        <%=f.text_field :contacto_nuevo_montaje,  :class => 'form-control '%>
                      </div>

                      <div class="col-4  ContenedorClienteNuevo" >
                        <label for="">Selecionar Vendedor</label> <br>
                        <%=f.select :select_vendedor, @comerciales.map{|i| [i.nombre, i.id]},
                        {}, {required: 'true', autofocus: 'true', class: 'form-control  col-12', id: "vendedor_cliente_nuevo"}%>
                      </div>

                      <div class="col-4 ContenedorClienteNuevo">
                        <label for="">Nit Cliente</label> <br>
                        <%=f.text_field :nit_cliente,  :class => 'form-control '%>
                      </div>

                      <div class="col-4 ContenedorClienteNuevo">
                        <label for="">Telefono Cliente</label> <br>
                        <%=f.text_field :tel_cliente,  :class => 'form-control '%>
                      </div>



                      <div class="col-4 ContenedorClienteNuevo">
                        <label for="">Direccion de entrega</label> <br>
                        <%=f.text_field :direccion_nuevo_montaje,  :class => 'form-control '%>
                      </div>


                      <div class="col-4 ContenedorClienteNuevo">
                        <label for="">Facturar a</label> <br>
                        <%=f.text_field :facturar_a_nuevo_montaje,  :class => 'form-control '%>
                      </div>



              <!--Linea de Producto-->
              <div class="col-4">
                <label for="">Línea de Producto</label>
                <%=
                f.select :linea_producto_id,
                LineaProducto.all.map{|i| [i.nombre, i.id]},
                {}, {required: 'true', autofocus: 'true', class: 'js-example-tags form-control'}
                %>
                <p id="campo_productos"></p>
              </div>


              <!--Linea De Color-->
              <div class="col-4">
                <label for="">Seleccione la linea de color</label>
                <%= f.select :linea_de_color_id,
                LineaDeColor.all.map{|i| [i.nombre, i.id]},
                {}, {required: 'true', autofocus: 'true', class: 'js-example-tags form-control'}
                %>
                <p id="campo_lineaColor"></p>
              </div>




              <!--Codigo-->
              <div class="col-4">
                <%= f.input :codigo %>
                <p id="campo_codigo"></p>
              </div>

              <!--Codigo-->
              <div class="col-4">
                <label for="">Descripción</label>
                <%= f.input :nombre, label:false %>
                <p id="campo_nombre"></p>
              </div>
              <!--Codigo-->

              <!--Codigo-->

              <!--Codigo-->
              <div class="col-4">
                <%= f.input :dimension %>
                <p id="campo_dimension"></p>
              </div>





              <div class="col-4" id="tiro_mont">
                <br>
                <%= f.input :tiro , class: "myCheckBoxTiro", id: "myCheckBoxTiro"%>
              </div>




              <!--Codigo-->
              <div class="col-4">
                <%= f.input :modo_de_empaque %>
              </div>








           </div>
           <!--/Container con Flexbox-->
        </div>
        <!--Container-->
        <br>
     </div>
     <!--/Card Block-->
  </div>
  <!--/Datos Generales del Pedido---->
  <br>





  <!--Inputs Medidas De corte-->

  <div class="card card-outline-secondary mb-3 text-center">
    <div class="card-header">


              <div class="my_card_contactos_form">
                <div >
                  <h1>Medida De corte y hojas</h1>
                </div>

                <div id="cliente">
                  <div class="">
                    <input type="checkbox"  id="crearMaterial">
                    <label for="" > Registrar material nuevo </label>
                  </div>
                </div>


            </div>

    </div>
     <div class="card-block">
        <div class="container">



          <br>
          <div class="my_card_pedidos_form">

            <div class="col-4" id="contenedorMaterialExistente">
              <label for="">Material</label>
              <%= f.select :material_id,
              Material.all.map{|i| [i.descripcion, i.id]},
              {}, {required: 'true', autofocus: 'true', class: 'js-example-tags form-control', id: "select_material"}
              %>
            </div>

                  <div class="col-4 ContenedorMaterialNuevo">
                    <label for=""> Material nuevo</label><br>
                    <%= f.input :material_nuevo, label: false %>
                  </div>




              <div class="col-2">
                <label for="">Medida de la hoja </label>
                <%= f.input :tamano_hoja, label: false %>
              </div>
              <div class="col-2">
                <label for="">Tamaños por hoja </label>
                <%= f.input :tamano_por_hojas, label: false %>
              </div>
              <div class="col-2">
                <label for="">Medida de corte </label>
                <%= f.input :tamano_de_corte, label: false %>
              </div>



          </div>

             <br>


        </div>
     </div>
  </div>















  <!--Depachos-->









  <div class="card card-outline-secondary mb-3 text-center" id="">
    <div class="card-header">

      <div class="col-12">
        <div class="my_card_contactos_form">
          <div >
            <h3>Anexar Tintas</h3>
          </div>

          <div class="" id="contenedorBotonesPolicromia">
            <div class="col-lg-8">


            <div class="input-group">
              <span class="input-group-addon" id="btnGroupAddon">
                <input type="checkbox"  id="checkbox_policromia">
              </span>

              <input type="text" class="form-control ion-aperture" placeholder="Input group example" value="Policromía" disabled>
            </div>
          </div>

          </div>




          <div >

          <%= link_to_add_desarrollo_tintas('<button type="button" id="btnDesarrollo" class="btn btn-outline-warning"><span><i class="ion-plus-round"></i></span></button>'.html_safe, f, :desarrollos_de_tintas, class: '') %>
          </div>
      </div>
      </div>

    </div>




     <div class="card-block">
        <div class="container">

           <br>
           <br>
           <div class="">
             <div class="col-12 ">

               <table class="table">
                 <thead>
                   <th>Selecione linea de color</th>
                   <th>Seleccione malla</th>
                   <th>Descripción</th>
                   <th>Anexar tinta al tiro</th>
                   <th>Anexar tinta al retiro</th>
                   <th>Eliminar</th>
                 </thead>
                 <tbody class="fields_desarrollo_tintas" id="ContenedorDesarrollo">
                   <%=f.fields_for :desarrollos_de_tintas do |builder|%>

                      <%= render 'desarrollo_de_tinta', f: builder%>

                   <%end%>
                 </tbody>
               </table>





             </div>
           </div>

        </div>
     </div>
  </div>

  <br>






  <!--/Datos De las Piezas---->

  <div class="container_add_entregas col-12">
     <div class="col-4">

     </div>

</div>


  <br>
  <div class="card card-outline-secondary mb-3 text-center">
    <div class="card-header">

      <div class="col-12">
        <div class="my_card_contactos_form">
          <div >
            <h3>Piezas</h3>
          </div>
          <div class="">

               <%= link_to_add_piezas('<button type="button" id="pruebaSelect" class="btn btn-outline-warning"><span><i class="ion-plus-round"></i></span></button>'.html_safe, f, :piezas, class: '') %>

          </div>




      </div>
      </div>

    </div>
     <div class="card-block">
        <div class="container">
           <br>
           <br>
           <div class="">
              <table class="table">
                 <thead>


                 </thead>
                 <tbody class='fields_piezas'>
                    <%= f.simple_fields_for :piezas do |builder| %>
                       <%= render "pieza", :f => builder %>
                    <% end %>
                 </tbody>

              </table>
           </div>

        </div>
     </div>
  </div>



  <div class="container_add_entregas col-12">
     <div class="col-4">
        <h5>Generar orden de producción  </h5>
     </div>

     <div id="contenedorBtnOrden" class="col-3 offset-md-6">
         <%= link_to_add_ordenes('<button type="button"  class="btn btn-outline-info"><span><i class="ion-checkmark-round"></i></span></button>'.html_safe, f, :ordenes_produccion, class: 'add_ordenes', id: "ordenes_quitar_poner") %>
     </div>
     <div id="contenedorBtnOrdenEliminar" class="col-3 offset-md-6">
       <%= link_to '<button type="button" class="btn btn-outline-info  "><span><i class="ion-close-round"></i></span></button>'.html_safe, '#', class: 'remove_ordenes' %>
     </div>
</div>






<br>

    <div class="" id="ContenedorDeOrdenes">


          <%=f.fields_for :ordenes_produccion do |builder|%>

             <%= render 'orden_produccion', :f => builder%>

          <%end%>



    </div>



    <div class="card card-outline-secondary mb-3 text-center">
      <div class="card-header">
        <h4>Maquinas</h4>

      </div>
       <div class="card-block">
          <div class="container">
             <br>
             <br>
             <div class="my_card_pedidos_form">




                 <div class="col-12">
                   <label for="">Selección de máquinas</label>
                    <%=
                    f.select :maquina_ids,
                     Maquina.all.map{|i| [ i.nombre, i.id]},
                     {}, {required: 'true', autofocus: 'true', class: 'multiSelect form-control', id: "", 'multiple': "multiple",readonly: "readonly"}
                     %>
                 </div>




             </div>
             <br>
          </div>
       </div>
    </div>


    <div class="card card-outline-secondary mb-3 text-center">
      <div class="card-header">
        <h4>Acabados</h4>

      </div>
       <div class="card-block">
          <div class="container">
             <br>
             <br>
             <div class="my_card_pedidos_form">



               <div class="col-12">
                   <label for="">Selecionar acabados</label>

                     <%=
                     f.select :acabado_ids,
                     Acabado.all.map{|i| [i.nombre, i.id]},
                     {},  {required: 'true', autofocus: 'true',
                     class: 'multiSelect form-control', id: "",
                     'multiple': "multiple",readonly: "readonly"}
                         %>
                   <script type="text/javascript">
                     $(".multiSelect").select2({
                         tags: true,
                         tokenSeparators: [',']
                      })
                   </script>
                </div>
                <div class="col-12">
                  <br>
                </div>
                <div class="col-12">
                    <%=f.input :agregar_acabado%>
                </div>
                 <div class="col-12">
                   <br>
                 </div>


             </div>
          </div>
       </div>
    </div>






    <div class="card card-outline-secondary mb-3 text-center">
      <div class="card-header">
        <h4>Observaciones en la ficha técnica</h4>

      </div>
       <div class="card-block">
          <div class="container">
             <br>
             <br>
             <div class="my_card_pedidos_form">




                 <div class="col-12">
                   <label for="">Obsevaciones de la ficha técnica</label>
                   <%= f.text_area :observacion, class: "form-control" %>
                 </div>

                 <div class="col-12">
                   <br>
                 </div>


             </div>
          </div>
       </div>
    </div>





















<div class="">
  <div class="btn pull-left">
    <%= link_to '<button type="button" class="btn btn-outline-dark">Lista de Fichas</button>'.html_safe, montajes_path %>
  </div>
    <div class="btn pull-right">
    <%= button_tag type: 'submit', class: "btn btn-outline-success" do %>

      <span>Guardar
        <i id="iconoSubmit"class="ion-paper-airplane" aria-hidden="true"></i>
      </span>
     <% end %>
   </div>
</div>
<% end %>
<script type="text/javascript">

</script>
