





<div class="" id="contenido_formulario">

<div class="">












<br>


  <div class="card text-center">

    <div class="card-header">
      <div class="my_card_contactos_form">
        <div >
          <h1>Datos Generales</h1>
        </div>


        <div class="ContenedorEntrega oc_cliente" id="">
          <div class="">
            <input type="checkbox"  id="despacho_nuevo">
            <label for="" > Lugar despacho nuevo  </label>
          </div>
        </div>

        <div class="ContenedorFactura oc_cliente" id="">
          <div class="">
            <input type="checkbox"  id="factura_nuevo">
            <label for="" > Facturar a nuevo  </label>
          </div>
        </div>


        <div  class="ContenedorContacto oc_cliente" id="">
          <div class="">
            <input type="checkbox"  id="Contacto_nuevo">
            <label for="" > Registrar Contacto nuevo  </label>
          </div>
        </div>


    </div>

    </div>

    <!--Card Block-->
    <div class="card-block">
       <h4 class="card-title"></h4>
       <div class="container">
          <!--Container Con Flexbox-->
          <div class="my_card_pedidos_form">



            <!--Numero de Orden-->
            <div class="col-3">
              <%= f.input :numero_de_orden %>
            </div>

            <!--Fecha De pedido-->
            <div class="col-3">
              <label for="">Fecha De La Orden</label>
              <div class="input-group" >
                <%= f.text_field :fecha , class: "form-control fecha_en_espanol", "data-date-format" => "dd/mm/yyyy", 'data-provide' => 'datepicker'%>
                <span class="input-group-addon " id="basic-addon2"> <i class="ion-calendar"></i> </span>

              </div>
              <p id="campo_fecha_pedido"></p>
            </div>


            <div class="col-3" id="contenedorContactoExistente">
              <label for="">Selección el contacto</label>
              <%=
              f.select  :contacto_id,options_for_select([ "" ]),
              {}, {required: 'true', autofocus: 'true', class: 'js-example-contactos form-control', id: "select_contactos"}
              %>

            </div>
            <script type="text/javascript">
              $(".js-example-contactos").select2({
              })
            </script>

            <div class="col-3 ContenedorContactoNuevo" id="contacto_nuevo-ocultar">
              <label for="">Nombre del Contacto nuevo</label>
              <%=
               f.text_field :contacto_nuevo, class: "form-control", id: "contact"
              %>
            </div>








            <div class="col-3 oc_cliente" id="contenedorFacturaExistente">
              <label for="">Facturar a</label>
                <%=
                 f.select :nombre_facturacion_id, options_for_select([ "" ]),
                 {}, {required: 'true', autofocus: 'true', class: 'js-select form-control', id: "select_facturar_a"}
                %>
            </div>
            <div class="col-3 ContenedorFacturaNuevo " >
              <label for="">Facturar a</label>
              <%=
               f.text_field :facturar_a_nuevo, class: "form-control", id: "fac"
              %>
            </div>

            <div class="col-3 oc_cliente"  id="contenedorDespachoExistente">
              <label for="">Dirección de envio</label>
                <%=
                 f.select :lugar_despacho_id, options_for_select([ "" ]),
                 {}, {required: 'true', autofocus: 'true', class: 'js-select form-control', id: "select_entrega"}
                %>
            </div>

            <div class="col-3 ContenedorDespachoNuevo" >
              <label for="">Dirección Nueva</label>
              <%=
               f.text_field :direccion_nueva, class: "form-control", id: "dir"
              %>
            </div>


            <script type="text/javascript">
              $(".js-select").select2({
                tags: true
              })
            </script>


            <div class="col-3">
              <label for="">Orden de compra</label>
             <%= f.input :orden_de_compra, label: false %>
            </div>


            <div class="col-3">
              <label for="">Cantidad </label>
              <%= f.input :cantidad_solicitada, label: false %>
            </div>



            <!--Mes-->


              <div class="ocultar">
                <%=
                 f.text_field :tomar_cliente, class: "form-control"
                %>
              </div>




              <div class="ocultar">
                <%=
                 f.text_field :tomar_usuario, class: "form-control"
                %>
              </div>





            <!--Numero de Orden-->
           <div class="col-3">
             <label for="[object Object]">Trabajo Nuevo</label>
             <%=
             f.input :orden_nueva, label: false
             %>
           </div>
           <div class="col-3">
             <%=
             f.input :sacar_de_inventario
             %>
           </div>
            <div class="col-12">
              <br>
            </div>
            <div class="col-12">
              <div class="my_card_contactos_form">
                <div >
                  <h3>Fechas De Entrega</h3>
                </div>
                <div >
                  <%= link_to_add_compromisos('<button type="button" id="pruebaSelect" class="btn btn-outline-primary"><span>Agregar <i class="ion-calendar"></i></span></button>'.html_safe, f, :compromisos_de_entrega, class: '') %>
                </div>
            </div>
            </div>

            <div class="col-6 ">

              <table class="table">
                <tbody class='fields_compromisos' >
                  <%=f.fields_for :compromisos_de_entrega do |builder|%>

                     <%= render 'compromiso_de_entrega', :f => builder%>

                  <%end%>
                </tbody>
                </table>




            </div>





          </div>
          <!--/Container con Flexbox-->
       </div>
       <!--Container-->
       <br>
    </div>
    <!--/Card Block-->
 </div>
 <!--/Datos Generales del Pedido---->















</div>
</div>
<br>

<div class="card card-outline-secondary mb-3 text-center">
  <div class="card-header">
     <h1>Cantidades en la orden</h1>

  </div>
   <div class="card-block">
      <div class="container">
         <br>

         <div class="my_card_pedidos_form">


                       <div class="col-12">
                         <br>
                       </div>

                       <div class="col-4">
                         <label for="[object Object]">Cantidad hojas</label>
                         <%= f.input :cantidad_hoja, label: false %>
                       </div>

                       <div class="col-4">
                         <label for="">Tamaños Totales</label>
                         <%= f.input :tamanos_total , label: false%>
                       </div>

                       <div class="col-4">
                         <%= f.input :cavidad %>
                       </div>

                       <div class="col-4">
                         <label for="">Cantidad Programada</label>
                         <%= f.input :cantidad_programada, label: false %>
                       </div>

                       <div class="col-4">
                         <label for="">Precio Unitario</label>
                         <%= f.input :precio_unitario, label: false %>
                       </div>









         </div>
         <br>
      </div>
   </div>
</div>


<br>





<div class="card card-outline-secondary mb-3 text-center">
  <div class="card-header">
    <h4>Observaciones</h4>

  </div>
   <div class="card-block">
      <div class="container">
         <br>
         <br>
         <div class="my_card_pedidos_form">




             <div class="col-12">
               <label for="">Obsevaciones en orden producción</label>
               <%= f.input :observacion, label: false %>
             </div>




         </div>
      </div>
   </div>
</div>

<script>
  $ ( "#select_contactos" ).prop("disabled", true)
  $('#select_cliente_montaje').select2().select2('val', $('#select_cliente_montaje option:eq(1)').val());
  $('#select_material').select2().select2('val', $('#select_material option:eq(1)').val());

  $('#montaje_linea_producto_id').select2().select2('val', $('#montaje_linea_producto_id option:eq(1)').val());
  $('#montaje_linea_de_color_id').select2().select2('val', $('#montaje_linea_de_color_id option:eq(1)').val());



  if( $('#montaje_desarrollos_de_tintas_attributes_0_tiro').prop('checked') ) {

  }else {
    $('#montaje_desarrollos_de_tintas_attributes_0_tiro').attr('checked',true);
  }

  valor = $("#select_cliente_montaje").val();
  if (valor.length > 0) {
      $.ajax({
        url:'/contactos_for_select/'+valor+'',
        method:'get',
        success: function (data){

        }
      })
  }
  $("#select_cliente_montaje").on("select2:select", function (e) {
    var fop_id = e.params.data.id;
    if (fop_id.length > 0) {
            $.ajax({
              url:'/contactos_for_select/'+fop_id+'',
              method:'get',
              success: function (data){

              }
            })
      }
  })
</script>
