<%= simple_form_for(@remision) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :factura_despacho %>
    <%= f.association :tiempos_de_entrega %>
    <%= f.input :fecha_de_despacho %>
    <%= f.input :cantidad_enviada %>
    <%= f.input :precio_a_facturar %>
    <%= f.input :cantidad_faltante %>
    <%= f.input :entrega_cumplida %>
    <%= f.input :estado %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
