<! ------------------Información Del Pedido---------------------------------->
<div class="container card-block">
  <div class="container my_card_pedidos_form my_orden_pedidos">
    <div class="col-4">
      <label for="">Cliente</label>

      <h4 ><%= @orden_produccion.montaje.cliente.nombre%> <br> <p> <%=@orden_produccion.montaje.cliente.user.nombre%> </p></h4>
    </div>
    <div class="col-4">
      <label for="">Producto</label>
      <h4 ><%= @orden_produccion.montaje.nombre%></h4>
    </div>
    <div class="col-4">
      <label for="">Numero de Orden</label>
      <h4><%= @orden_produccion.numero_de_orden%></h4>
    </div>
  </div>
</div>

<hr>
<%if @orden_produccion.orden_nueva == true%>
  <div class="col-md-6 offset-md-5">
    <h5> <span class="badge badge-warning">Producción nueva</span>  </h5>
  </div>
<%else%>
  <div class="col-md-6 offset-md-5">
    <h5> <span class="badge badge-info">Producción repetida</span>  </h5>
  </div>
<%end%>

<hr>



<% if @orden_produccion.programaciones_op_maquinas.empty? %>


  <!-- formulario para programacion -->
  <%= simple_form_for(@programacion_op_maquina, layout: :inline, remote: true) do |f| %>
    <%= f.error_notification %>


    <div class="form-inputs">

      <div class="col-4">
        <div class="">
          <label for="">FECHA DE IMPRESIÓN</label> <br>
            <div class="input-group">

              <span class="input-group-addon " id="basic-addon2"> <i class="ion-calendar "></i> </span>
              <%= f.text_field  :fecha_de_impresion,class: "form-control", id: "fecha_de_impresion"%>
            </div>
        </div>
      </div>
      <div class="">
        <br>
      </div>

      <div class="ocultar">
          <%= f.input :orden_produccion_id,
          :input_html => { :value => @orden_produccion.id },
          class: "ocultar"
            %>
      </div>

      <div class="ocultar col-3">
        <%= f.input :maquina_id %>
      </div>




      <div class="my_card_pedidos_form">


        <div class="col-4">
          <label for="">Cantidad de unidades</label><br>
          <h6 id="cantidad_total_pedida"> <strong ALING="CENTER"><%=number_to_currency_no_moneda(@orden_produccion.cantidad_solicitada) %></strong> </h6>
          <h6 id="cantidad_total_pedida_oculta" class="ocultar" > <strong ALING="CENTER"><%=@orden_produccion.cantidad_solicitada %></strong> </h6>
        </div>

        <div class="col-4">
          <label for="">Cantidad de tamaños</label>
          <h6 id="tamanos_totales"> <strong><%=number_to_currency_no_moneda(@orden_produccion.tamanos_total)%></strong> </h6>
          <h6 id="tamanos_totales_oculta" class="ocultar" > <strong><%=@orden_produccion.tamanos_total%></strong> </h6>
        </div>

        <div class="col-4">
          <label for="">Cantidad de tintas</label>
          <h6 id="cantidad_tintas"> <strong><%=number_to_currency_no_moneda(@orden_produccion.montaje.desarrollos_de_tintas.length)%></strong> </h6>
          <h6 id="cantidad_tintas_oculta" class="ocultar" > <strong><%= @orden_produccion.montaje.desarrollos_de_tintas.length%></strong> </h6>
        </div>





        <div class="col-4">
          <%= f.input :tiempo_de_montaje %>
        </div>

        <div class="col-4">
          <%= f.input :tiempo_de_desmontaje %>
        </div>

        <div class="col-4">
          <label for="">CANTIDAD DE MÁQUINAS</label><br>

            <%= f.input :cantidad_maquinas ,  label:false%>

        </div>
      <div class="col-4">
        <label for="">TIRAJES POR HORA</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">

            <div class="input-group-text">
                <input type="checkbox" aria-label="Checkbox for following text input" id="tirajes">

            </div>
          </div>

          <%= f.text_field  :tirajes_por_hora,
          class: 'form-control',
          'aria-label'=>"Text input with checkbox"
          %>
        </div>
      </div>








      <div class="col-4">
        <%= f.input :total_hora %>
      </div>






      <div class="col-4">
        <%= f.input :tiempo_por_maquina %>
      </div>

      <div class="col-4">
        <label for="">COMPLEMENTO</label>
        <div class="input-group mb-3">
          <div class="input-group-prepend">

            <div class="input-group-text">
                <input type="checkbox" aria-label="Checkbox for following text input" id="habilitar_complemento">

            </div>
          </div>

          <%= f.text_field  :complemento,
          class: 'form-control',
          'aria-label'=>"Text input with checkbox"
          %>
        </div>
      </div>




      <div class="col-4">
        <label for="">HORA DE INICIO</label><br>
        <%= f.time_field :hora_inicio, class: "form-control"%>
      </div>

      <div class="col-4">
        <label for="">HORA FINAL</label><br>
        <%= f.time_field :hora_final ,class: "form-control"%>
      </div>

      <!--CIERRE DEL DIV PARA ORDENAR LAS CASILLAS-->
      </div>









    </div>

    <div class="form-actions col-3 btn pull-right">
      <%= f.button :submit %>
    </div>


  <% end %>


<% else %>
  <h5>SI HAY PROGRAMACION</h5>
<% end %>
