
<%= simple_form_for(@maquina) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :descripcion %>
    <%= f.input :formato_de_tamaño %>
    <%= f.input :unidad %>
    <%= f.input :tirajes_por_hora %>


    <div class="col-12">
      <label for="">Rol Que puede administrarla</label>
       <%=
       f.select :rol_ids,
        @roles.map{|i| [ i.cargo, i.id]},
        {}, {required: 'true', autofocus: 'true', class: 'form-control roles_add', id: "", readonly: "readonly"}
        %>
    </div>
    <script type="text/javascript">
        $('.roles_add').selectize()
    </script>

    <%= f.input :estado %>
  </div>

  <div class="btn pull-right">
  <%= button_tag type: 'submit', class: "btn btn-outline-success" do %>
    <span>Guardar
      <i id="iconoSubmit"class="ion-paper-airplane" aria-hidden="true"></i>
    </span>
   <% end %>
 </div>
<% end %>
