<div class="">


</div>
<br>
<table class="table " id="mi-tabla">
  <thead>

    <th>NUMERO DE ORDEN</th>
    <th>CLIENTE</th>
    <th>PRODUCTO</th>
    <th class="sorter-shortDate dateFormat-ddmmyyyy tablesorter-header">FECHA DE COMPROMISO</th>
    <th class="">FECHA DE IMPRESION</th>
    <th>CANTIDADES</th>
    <th></th>
    <th></th>
  </thead>
  <tbody >
    <tr class="ocultar">

      <td></td>
      <td></td>
      <td></td>
      <td>01/01/2018</td>
      <td>01/01/2018</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <%@ordenes_produccion.each do |orden|%>

            <tr id=<%="fila_de_#{orden.id}"%>>

                <td><%=orden.numero_de_orden%></td>
                <td><%=orden.montaje.cliente.nombre%></td>
                <td><%=orden.montaje.nombre%></td>



                <% if orden.compromisos_de_entrega.any? %>
                              <!-- true -->



                            <%



                            %>
                            <%cont=0%>
                            <%@comparador_fecha = ""%>
                            <%contador_enviados = 0%>



                            <%@hallado = false%>
                            <%@estado_data= false%>
                            <% orden.compromisos_de_entrega.each do  |fecha| %>

                                    <% if fecha.fecha_de_compromiso != nil  %>
                                                <!-- true -->


                                                    <%
                                                      fech = fecha.fecha_de_compromiso
                                                      fech.strftime("%Y/%m/%d")
                                                    %>

                                                    <% if fecha.enviado == true %>
                                                        <%@estado_data = true%>
                                                        <%contador_enviados = contador_enviados + 1%>
                                                        <%@cantidades = contador_enviados%>
                                                    <% end %>



                                            <%if fecha.fecha_de_compromiso < Date.today

                                                  puts "******************Dia menor #{@dates}**********************"

                                                  @dates= fecha.fecha_de_compromiso
                                                  %>

                                            <% elsif fecha.fecha_de_compromiso >= Date.today %>

                                                    <%
                                                      dias = (fecha.fecha_de_compromiso - Date.today).to_i


                                                      if dias == 0
                                                        @dates= fecha.fecha_de_compromiso
                                                        @hallado = true
                                                        puts "******************Dia igual #{@dates}**********************"
                                                      else
                                                        if @hallado == false
                                                          @dates= fecha.fecha_de_compromiso
                                                          puts "******************Dia mayor #{@dates}**********************"
                                                        end
                                                      end

                                                      %>


                                            <% end %>


                                            <% end %>

                                  <% end %>




                                            <td ><%=@dates%> </td>

                                <% else %>

                                <td ><p>Pendiente Por Definir Fecha</p> </td>
                                <% end %>


                                <% if orden.programaciones_op_maquinas.first == nil %>
                                  <!-- true -->
                                  <td  > <p>Sin definir</p> </td>
                                <% else %>
                                <td  > <%=orden.programaciones_op_maquinas.first.fecha_de_impresion%> </td>
                                <% end %>





























                <td><%= number_to_currency_no_moneda(orden.cantidad_solicitada) %></td>
                <% if orden.impresion == true %>
                  <!-- true -->
                  <td><%= link_to '<button class="btn btn-outline-success"><span><i class="ion-checkmark-round"></i></span></button>'.html_safe, confirmar_impresion_path(orden), remote: true %></td>
                <% else %>
                  <td><%= link_to '<button class="btn btn-outline-warning"><span><i class="ion-qr-scanner"></i></span></button>'.html_safe, confirmar_impresion_path(orden), remote: true %></td>
                <% end %>

                <td><%= link_to '<button class="btn btn-outline-info"><span><i class="ion-stats-bars"></i></span></button>'.html_safe, detalles_produccion_maquina_path(orden), remote: true %></td>

            </tr>
    <%end%>
  </tbody>
</table>

<script type="text/javascript">


$.tablesorter.addParser({
    id: "ddmmyy",
    is: function(s) {
        return false;
    },
    format: function(s, table, cell, cellIndex) {
        var c = table.config, ci = c.headerList[cellIndex],
        x = s;
        s = s
            // replace separators
            .replace(/\s+/g," ").replace(/[\-|\.|\,]/g, "/")
            // reformat dd/mm/yy to mm/dd/yy
            .replace(/(\d{1,2})[\/\s](\d{1,2})[\/\s](\d{2})/, "$2/$1/$3");
        return $.tablesorter.formatFloat( (new Date(s).getTime() || ''), table);
    },
    type: "numeric"
});

$('.ocultar').hide()
  $('#mi-tabla').tablesorter({
    headers: {
        // 8th column
        3: { sorter: "ddmmyy" },
        4: { sorter: "ddmmyy" }
    },

    // initial sort on the date column
    sortList: [[7, 0]],

    // include zebra and any other widgets
    widgets: ['zebra', 'columns']



  });
  $('.limpiar_tr').remove()
  $('.add_for_clean').addClass('limpiar_tr')

//BUSCADOR POR Maquina
$('#buscar_orden_por_maquina').keyup(function (){

  var data =  $(this).val()


  toast.danger(id_maquina)
  if (data.length > 2) {
    $.ajax({
      url:'/buscar_orden_maquina/',
      data: {data:data},
      method:'get',
      success: function (data){

      }
    })
  }

})






</script>
