<p id="notice"><%= notice %></p>

<h1>Maquinas</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @maquinas.each do |maquina| %>
      <tr>
        <td><%= maquina.nombre %></td>
        <td><%= maquina.descripcion %></td>
        <td><%= maquina.estado %></td>
        <td><%= link_to 'Show', maquina %></td>
        <td><%= link_to 'Edit', edit_maquina_path(maquina) %></td>
        <td><%= link_to 'Destroy', maquina, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Maquina', new_maquina_path %>
