<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="maquina" >
    <Table>
      <Row>
        <Cell><Data ss:Type="String">O.P</Data></Cell>
        <Cell><Data ss:Type="String">Cliente</Data></Cell>
        <Cell><Data ss:Type="String">Producto</Data></Cell>
        <Cell><Data ss:Type="String">Fecha Impresión</Data></Cell>
        <Cell><Data ss:Type="String">Fecha de entrega</Data></Cell>
        <Cell><Data ss:Type="String">Cantidad unds</Data></Cell>
        <Cell><Data ss:Type="String">Cantidad tamaños</Data></Cell>

        <Cell><Data ss:Type="String">N° Tintas</Data></Cell>
        <Cell><Data ss:Type="String">T. Montaje</Data></Cell>
        <Cell><Data ss:Type="String">T. Desmontaje</Data></Cell>
        <Cell><Data ss:Type="String">Tiempo (hrs) </Data></Cell>
        <Cell><Data ss:Type="String">Cantidad Maq.</Data></Cell>
        <Cell><Data ss:Type="String">Tiempo (hrs) total según Maq.</Data></Cell>
        <Cell><Data ss:Type="String">Inicia</Data></Cell>
        <Cell><Data ss:Type="String">Termina</Data></Cell>
      </Row>




    <% @ordenes_produccion.each do |orden| %>


                    <Row>
                       <Cell><Data ss:Type="String"><%= orden["numero_de_orden"] %></Data></Cell>
                       <Cell><Data ss:Type="String"><%= orden["cliente"] %></Data></Cell>
                       <Cell><Data ss:Type="String"><%= orden["montaje"] %></Data></Cell>

                       <Cell><Data ss:Type="String"><%= orden["fecha_de_impresion"] %></Data></Cell>
                       <Cell><Data ss:Type="String"><%= orden %></Data></Cell>

                       <Cell><Data ss:Type="Number"><%= numero_beuty(orden["cantidad_solicitada"].to_i) %></Data></Cell>
                       <Cell><Data ss:Type="Number"><%= numero_beuty(orden["tamanos_total"].to_i) %></Data></Cell>
                       <Cell><Data ss:Type="String"><%=  %></Data></Cell>
                       <Cell><Data ss:Type="String"><%= orden["tiempo_de_montaje"]%></Data></Cell>
                       <Cell><Data ss:Type="String"><%= orden["tiempo_de_desmontaje"] %></Data></Cell>
                       <Cell><Data ss:Type="String"><%= orden["total_hora"]%></Data></Cell>
                       <Cell><Data ss:Type="String"><%= orden["cantidad_maquinas"] %></Data></Cell>

                       <Cell><Data ss:Type="String"><%= orden["tiempo_por_maquina"] %></Data></Cell>
                       <Cell><Data ss:Format="[h]:mm:ss"><%= orden["hora_inicio"]%></Data></Cell>
                       <Cell><Data ss:Format="[h]:mm:ss"><%= orden["hora_final"] %></Data></Cell>
                     </Row>



    <% end %>









    </Table>
  </Worksheet>
</Workbook>
