









      //FACTURADO
      <% if @orden_produccion.entregado == true %>

          <% if compromiso_de_entrega.orden_produccion.facturado == true %>
              $(<%="facturado_#{@orden_produccion.id}"%>).html('<%= j render 'facturado_true'%>')
          <% else %>
              $(<%="facturado_#{@orden_produccion.id}"%>).html('<%= j render 'facturado_false'%>')
          <% end %>

      <%else%>


        var  contenedor = '<button type="button" class="btn btn-outline-primary"><span><i class="ion-lock-combination" ></i></span></button>'
          $(<%="facturado_#{@orden_produccion.id}"%>).html(contenedor)

      <% end %>
