

<%if @compromiso_de_entrega.save%>
    toastr.success("Registro Gurdado")

<%end%>

$('#contenidoModal').html('<%= j render 'info_pedido'%>')

<% @orden_produccion.compromisos_de_entrega.each do  |compromiso_de_entrega| %>



      <% if  compromiso_de_entrega.orden_produccion.entregado == false || compromiso_de_entrega.orden_produccion.entregado == nil %>
            <% if compromiso_de_entrega.enviado == false || compromiso_de_entrega.enviado == nil%>
                    <% if  compromiso_de_entrega.orden_produccion.impresion == false%>

                      <% if compromiso_de_entrega.orden_produccion.pantalla == true || compromiso_de_entrega.orden_produccion.color === true || compromiso_de_entrega.orden_produccion.corte_material=== true && compromiso_de_entrega.orden_produccion.acabado == false%>

                          var contenedor = "<h6><span class='badge badge-info'>Preprensa</span></h6>"

                          $(<%="estado_orden_produccion#{compromiso_de_entrega.id}"%>).html(contenedor)

                      <%elsif compromiso_de_entrega.orden_produccion.pantalla == false && compromiso_de_entrega.orden_produccion.color === false && compromiso_de_entrega.orden_produccion.corte_material=== false && compromiso_de_entrega.orden_produccion.acabado == true%>

                       var contenedor =  "<h6><span class='badge badge-warning baged_acabado'>Acabado</span></h6>"
                       $(<%="estado_orden_produccion#{compromiso.id}"%>).html(contenedor)
                      <%elsif compromiso_de_entrega.orden_produccion.pantalla == false && compromiso_de_entrega.orden_produccion.color === false && compromiso_de_entrega.orden_produccion.corte_material=== false%>

                           var contenedor = "<h6 ><span class='badge badge-warning'>Sin Programar</span></h6>"
                           $(<%="estado_orden_produccion#{compromiso_de_entrega.id}"%>).html(contenedor)
                      <% end %>



                    <%elsif compromiso_de_entrega.orden_produccion.impresion == true && compromiso_de_entrega.orden_produccion.acabado == false%>

                        var contenedor = "<h6><span class='badge badge-warning baged_impresion'>Impresión</span></h6>"
                        $(<%="estado_orden_produccion#{compromiso_de_entrega.id}"%>).html(contenedor)
                    <%elsif compromiso_de_entrega.orden_produccion.impresion == true && compromiso_de_entrega.orden_produccion.acabado == true%>

                      var contenedor = "<h6 ><span class='badge badge-warning baged_acabado'>Acabado</span></h6>"

                      $(<%="estado_orden_produccion#{compromiso_de_entrega.id}"%>).html(contenedor)

                    <% end %>
              <% else %>
                var contenedor = "<h6><span class='badge badge-success'>Despacho entregado</span></h6>"
                $(<%="estado_orden_produccion#{compromiso_de_entrega.id}"%>).html(contenedor)
              <% end %>
        <% else %>
        var contenedor = "<h6 ><span class='badge badge-success'>Cerrado</span></h6>"
        $(<%="estado_orden_produccion#{compromiso_de_entrega.id}"%>).html(contenedor)
        <% end %>





<%end%>
