<%= simple_form_for(@linea_de_color) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :nombre %>
    <%= f.input :descripcion %>
  </div>

  <div class="btn pull-right">
  <%= button_tag type: 'submit', class: "btn btn-outline-success" do %>
    <span>Guardar
      <i id="iconoSubmit"class="ion-paper-airplane" aria-hidden="true"></i>
    </span>
   <% end %>
 </div>

<% end %>
