<p id="notice"><%= notice %></p>

<h1>Linea De Colores</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @linea_de_colores.each do |linea_de_color| %>
      <tr>
        <td><%= linea_de_color.nombre %></td>
        <td><%= linea_de_color.descripcion %></td>
        <td><%= linea_de_color.estado %></td>
        <td><%= link_to 'Show', linea_de_color %></td>
        <td><%= link_to 'Edit', edit_linea_de_color_path(linea_de_color) %></td>
        <td><%= link_to 'Destroy', linea_de_color, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Linea De Color', new_linea_de_color_path %>
