<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @produccion_orden.cliente %>
</p>

<p>
  <strong>User:</strong>
  <%= @produccion_orden.user %>
</p>

<p>
  <strong>Maquina:</strong>
  <%= @produccion_orden.maquina %>
</p>

<p>
  <strong>Montaje:</strong>
  <%= @produccion_orden.montaje %>
</p>

<p>
  <strong>Pieza a decorar:</strong>
  <%= @produccion_orden.pieza_a_decorar %>
</p>

<p>
  <strong>Numero de orden:</strong>
  <%= @produccion_orden.numero_de_orden %>
</p>

<p>
  <strong>Mes:</strong>
  <%= @produccion_orden.mes %>
</p>

<p>
  <strong>Cantidad programada:</strong>
  <%= @produccion_orden.cantidad_programada %>
</p>

<p>
  <strong>Precio unitario:</strong>
  <%= @produccion_orden.precio_unitario %>
</p>

<p>
  <strong>Valor total:</strong>
  <%= @produccion_orden.valor_total %>
</p>

<p>
  <strong>Tipo de produccion:</strong>
  <%= @produccion_orden.tipo_de_produccion %>
</p>

<p>
  <strong>Tamanos total:</strong>
  <%= @produccion_orden.tamanos_total %>
</p>

<p>
  <strong>Cavidad:</strong>
  <%= @produccion_orden.cavidad %>
</p>

<p>
  <strong>Tipo de linea:</strong>
  <%= @produccion_orden.tipo_de_linea %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @produccion_orden.fecha %>
</p>

<p>
  <strong>Fecha compromiso:</strong>
  <%= @produccion_orden.fecha_compromiso %>
</p>

<p>
  <strong>Cantidad hoja:</strong>
  <%= @produccion_orden.cantidad_hoja %>
</p>

<p>
  <strong>Tiro:</strong>
  <%= @produccion_orden.tiro %>
</p>

<p>
  <strong>Retiro:</strong>
  <%= @produccion_orden.retiro %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @produccion_orden.observacion %>
</p>

<p>
  <strong>Pantalla:</strong>
  <%= @produccion_orden.pantalla %>
</p>

<p>
  <strong>Color:</strong>
  <%= @produccion_orden.color %>
</p>

<p>
  <strong>Corte material:</strong>
  <%= @produccion_orden.corte_material %>
</p>

<p>
  <strong>Impresion:</strong>
  <%= @produccion_orden.impresion %>
</p>

<p>
  <strong>Troquel:</strong>
  <%= @produccion_orden.troquel %>
</p>

<p>
  <strong>Acabado:</strong>
  <%= @produccion_orden.acabado %>
</p>

<p>
  <strong>Habilitar impresion:</strong>
  <%= @produccion_orden.habilitar_impresion %>
</p>

<p>
  <strong>Habilitar acabado:</strong>
  <%= @produccion_orden.habilitar_acabado %>
</p>

<p>
  <strong>Estado de orde:</strong>
  <%= @produccion_orden.estado_de_orde %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @produccion_orden.estado %>
</p>

<%= link_to 'Edit', edit_produccion_orden_path(@produccion_orden) %> |
<%= link_to 'Back', producciones_ordenes_path %>
