<%= simple_form_for(@factura_despacho) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :tiempos_de_entrega %>
    <%= f.input :numero_de_factura %>
    <%= f.input :cancelada %>
    <%= f.input :estado %>
  </div>
  <div class="col-3 offset-md-6">
     <%= link_to_add_remision('<button type="button" id="pruebaSelect" class="btn btn-outline-warning"><span><i class="ion-plus-round"></i></span></button>'.html_safe, f, :remisiones, class: '') %>
  </div>
  <table>
  <thead></thead>
  <tbody class='fields_remisiones'>
  <%= f.simple_fields_for :remisiones do |builder| %>
    <%= render "remision", :f => builder %>
  <% end %>
  </tbody>
  </table>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
