<%= simple_form_for(@factura, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="col-12">

  </div>

  <div class="">
    <br>
  </div>


  <div class="card">
    <div class="card-header container_add_entregas col-12">
      <h3 class="">Registrar Factura</h3>
      <div class=" ">
        <button type="button"  class="btn btn-outline-danger" id="CerrarVentana"><span><i class="ion-reply-all"></i></span></button>
      </div>
    </div>



    <div class="container">
      <br>
        <div class="card-block">
          <div class="my_card_pedidos_form">
            <div class="col-4">
              <%=f.input :numero_de_factura%>
            </div>
            <div class="col-12">


                  <label for="">Remisiones</label>
                  <%=
                    f.select :compromiso_de_entrega_ids,
                    @orden_produccion.compromisos_de_entrega.map{|i| [ i.numero_de_remision, i.id]},
                    {}, {required: 'true', autofocus: 'true', class: 'multiSelect form-control', id: "", 'multiple': "multiple",readonly: "readonly"}
                  %>
            </div>

            <div class="col-12 btn pull-right">
              <%= f.button :submit %>
            </div>


          </div>
        </div>
      <br>
    </div>
</div>



  <div class="form-inputs ocultar">
    <%= f.association :orden_produccion, label:'Cliente',
    collection: OrdenProduccion.all,
    label_method: :numero_de_orden,
    value_method: :id,
    as: :select,
    class:'col-4 my_cliente form-control',
    selected: @orden_produccion.id %>
  </div>



<% end %>
