<%= simple_form_for(@factura, remote: true) do |f| %>
  <%= f.error_notification %>

  <div class="col-12">

  </div>

  <div class="">
    <br>
  </div>


  <div class="card">
    <div class="card-header container_add_entregas col-12">
      <h3 class="">Registrar Factura</h3>
      <div class=" ">
        <button type="button"  class="btn btn-outline-danger" id="CerrarVentana"><span><i class="ion-reply-all"></i></span></button>
      </div>
    </div>



    <div class="container">
      <br>
        <div class="card-block">
          <div class="my_card_pedidos_form">
            <div class="col-12">
              <div class="">
                <%= f.text_field :numero_de_factura, class: "form-control" %>
              </div>

                  <label for="">Remisiones</label>


                      <%=f.fields_for :contenedores_de_ordenes do |contc|%>

                         <%= render 'contenedor_de_ordenes', f:contc%>

                      <%end%>

                      <div class="col-12 btn pull-right">
              <%= f.button :submit %>
            </div>

            </div>
          </div>
        </div>
      <br>
    </div>
</div>







<% end %>
