<%if @orden_produccion.facturas.any?%>

  <div class="" id="btnFormulario">
    <%= link_to '<button class="btn btn-outline-info"><span>Registrar Facturas <i class="ion-android-document"></i></span></button>'.html_safe, desarrollar_factura_path, remote: true  %>
  </div>

  <div class="" id="desarrollar_factura">

  </div>
<br>
<div class="" id="facturas">


            <div class="card text-center">
              <div class="card-header">

                <ul class="nav nav-tabs card-header-tabs">
                  <li class="nav-item">
                    <div class="nav-link active" id=<%="factura_#{@orden_produccion.facturas.first.id}"%> >
                        <%= link_to ''+@orden_produccion.facturas.first.numero_de_factura+'  ', @orden_produccion.facturas.first, remote: true %>
                    </div>
                  </li>
                  <%cont= 0%>
                  <% @orden_produccion.facturas.each do |facturas|%>
                  <%cont = cont+1%>

                  <% if cont >= 2 %>
                      <li class="nav-item">
                        <div class="nav-link" id=<%="factura_#{facturas.id}"%> >
                            <%= link_to ''+facturas.numero_de_factura+'  ', facturas, remote: true %>
                        </div>
                      </li>
                  <% end %>


                  <% end %>
                </ul>
              </div>
              <div class="card-block" id="detalles_facturas">
                      <div class="contenedorFacturas">


                      <br>
                            <div class="container_add_entregas">
                              <div class="col-6">

                              </div>


                              <div class="col-6">
                                <h6 class="" ALIGN="justify"> <strong> Cliente: </strong>  <%= @orden_produccion.montaje.cliente.nombre%></h6>
                                <h6 class="card-title" ALIGN="justify"><strong>Descripcción: </strong> <%= @orden_produccion.montaje.nombre%></h6>

                              </div>



                            </div>


                            <div class="">
                                <hr>
                            </div>

                            <div class="">
                              <h6>Numero de Factura: <%= @orden_produccion.facturas.first.numero_de_factura%></h6>

                              <p class="card-text"></p>
                              <table class="table">
                                <thead>
                                  <th>Remision</th>
                                  <th>Cantidad despachada</th>
                                </thead>
                                <tbody>
                                  <% @orden_produccion.facturas.first.contenedor_de_remisiones.each do |remisiones|%>
                                    <tr>
                                      <td><%=remisiones.compromiso_de_entrega.numero_de_remision%></td>
                                      <td><%=remisiones.compromiso_de_entrega.cantidad_despacho%></td>
                                    </tr>
                                  <%end%>
                                </tbody>
                              </table>
                            </div>


                          <div class="bnt pull-right">
                            <%= link_to '<button class="btn btn-outline-danger"><span><i class="ion-trash-a"></i></i></span></button>'.html_safe, @orden_produccion.facturas.first, method: :delete,remote: true, data: { confirm: 'Are you sure?' } %>
                          </div>


                      </div>

              </div>
              <br>
            </div>
    </div>
<% else %>
            <h1>No hay Facturas Creadas</h1>
            <div class="">
              <%= link_to '<button class="btn btn-outline-info"><span>Registrar Facturas <i class="ion-android-document"></i></span></button>'.html_safe, desarrollar_factura_path, remote: true  %>
            </div>

            <div class="" id="desarrollar_factura">

            </div>

            <div class="" id="facturas">


                        <div class="card text-center">
                          <div class="card-header">
                            <ul class="nav nav-tabs card-header-tabs">
                              <% @orden_produccion.facturas.each do |facturas|%>
                                  <li class="nav-item">
                                    <a class="nav-link active" href="#"><%=facturas.numero_de_factura%></a>
                                    <td><%= link_to '<a class="nav-link active" href="#">'+facturas.numero_de_factura+'</a>'.html_safe, facturas, remote: true %></td>
                                  </li>
                              <% end %>
                            </ul>
                          </div>
                          <div class="card-block">
                            <div class="contenedorFacturas">


                            <br>
                            <h4 class="card-title">Descripcción: <%= @orden_produccion.montaje.nombre%></h4>

                              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>

                              <div class="">

                              </div>
                            </div>

                          </div>
                          <br>
                        </div>
                </div>
<%end%>
