<p id="notice"><%= notice %></p>

<p>
  <strong>Montaje:</strong>
  <%= @contenedor_de_acabados.montaje %>
</p>

<p>
  <strong>Acabado:</strong>
  <%= @contenedor_de_acabados.acabado %>
</p>

<%= link_to 'Edit', edit_contenedor_de_acabados_path(@contenedor_de_acabados) %> |
<%= link_to 'Back', contenedores_de_acabados_path %>
