<%= simple_form_for(@habilitar_rol_maquina) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :maquina %>
    <%= f.association :rol %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
