<p id="notice"><%= notice %></p>

<h1>Habilitar Rol Maquinas</h1>

<table>
  <thead>
    <tr>
      <th>Maquina</th>
      <th>Rol</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @habilitar_rol_maquinas.each do |habilitar_rol_maquina| %>
      <tr>
        <td><%= habilitar_rol_maquina.maquina %></td>
        <td><%= habilitar_rol_maquina.rol %></td>
        <td><%= link_to 'Show', habilitar_rol_maquina %></td>
        <td><%= link_to 'Edit', edit_habilitar_rol_maquina_path(habilitar_rol_maquina) %></td>
        <td><%= link_to 'Destroy', habilitar_rol_maquina, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Habilitar Rol Maquina', new_habilitar_rol_maquina_path %>
