<p id="notice"><%= notice %></p>

<p>
  <strong>Maquina:</strong>
  <%= @habilitar_rol_maquina.maquina %>
</p>

<p>
  <strong>Rol:</strong>
  <%= @habilitar_rol_maquina.rol %>
</p>

<%= link_to 'Edit', edit_habilitar_rol_maquina_path(@habilitar_rol_maquina) %> |
<%= link_to 'Back', habilitar_rol_maquinas_path %>
