<p id="notice"><%= notice %></p>

<h1>Contactos</h1>

<table  class="table  table-hover">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Nombre contacto</th>
      <th>Telefono</th>
      <th>Celular</th>
      <th>Correo</th>
      <th>Asignar Comercial</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contactos.each do |contacto| %>
      <tr>
        <td><%= contacto.cliente.nombre %></td>
        <td><%= contacto.nombre_contacto %></td>
        <td><%= contacto.telefono %></td>
        <td><%= contacto.celular %></td>
        <td><%= contacto.correo %></td>
        <%if current_user.rol.cargo=="Gerente Comercial"%>
          <td><%= best_in_place contacto, :user_id, :as => :select, :collection => User.all.map { |i| [i.id, i.nombre] }%></td>
        <%elsif current_user.rol.cargo=="Administrador"%>
          <td><%= best_in_place contacto, :user_id, :as => :select, :collection => User.all.map { |i| [i.id, i.nombre] }%></td>
        <%else%>
          <td><%=contacto.user.nombre%><td>
        <%end%>
        <td><%= link_to 'Show', contacto %></td>
        <td><%= link_to 'Edit', edit_contacto_path(contacto) %></td>
        <td><%= link_to 'Destroy', contacto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contacto', new_contacto_path %>
