<p id="notice"><%= notice %></p>

<h1>Lineas Productos</h1>
<div class="container ">
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @lineas_productos.each do |linea_producto| %>
      <tr>
        <td><%= linea_producto.nombre %></td>
        <td><%= linea_producto.descripcion %></td>
        <td><%= link_to '<button class="btn btn-outline-warning"><span><i class="ion-paintbrush"></i></span></button>'.html_safe, edit_linea_producto_path(linea_producto) %></td>
        <td><%= link_to '<button class="btn btn-outline-danger"><span><i class="ion-trash-a"></i></span></button>'.html_safe, linea_producto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to '<button type="button" class="btn btn-dark">Crear Línea de producto</button>'.html_safe, new_linea_producto_path %>
