<p id="notice"><%= notice %></p>

<h1>Mallas</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @mallas.each do |malla| %>
      <tr>
        <td><%= malla.nombre %></td>
        <td><%= malla.descripcion %></td>
        <td><%= link_to '<button class="btn btn-outline-warning"><span><i class="ion-paintbrush"></i></span></button>'.html_safe, edit_malla_path(malla) %></td>
        <td><%= link_to '<button class="btn btn-outline-danger"><span><i class="ion-trash-a"></i></i></span></button>'.html_safe, malla, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button type="button" class="btn btn-outline-primary">Registrar malla nueva</button>'.html_safe, new_malla_path %>
