<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @malla.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @malla.descripcion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @malla.estado %>
</p>

<%= link_to 'Edit', edit_malla_path(@malla) %> |
<%= link_to 'Back', mallas_path %>
