<tr id="detalles_formulario">
  <td ><%= f.input :codigo, class: "codigo"%> </td>
  <td ><%= f.input :descripcion, class:"descripcion" %></td>
  <td ><%= f.input :cantidad, class:"cantidad"%></td>
  <td size=colspan="5" class="borrar-fecha"><%= f.text_field :fecha, class:"borrar-fecha" %></td>
  <td><div class="container">
    <div class="col-sm-6" style="height:130px;">
        <div class="form-group">
            <div class='input-group date' id='datetimepicker10'>
                <input type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar">
                    </span>
                </span>
            </div>
        </div>
    </div>
    
</div></td>
  <td class="">
    <%= f.input_field :_destroy, as: :hidden %>
    <%=
        link_to '<button type="button"  class="btn btn-outline-danger"><span><i class="ion-trash-a"></i></span></button>'.html_safe,
        '#',
        class: 'remove_detalle'
    %>
  </td>
</tr>
