
<! ------------------Información Del Pedido---------------------------------->
<%@ped.each do |pedido|%>
  <div class="container card-block">
    <div class="container my_card_pedidos_form my_orden_pedidos">
      <div class="col-4">
        <label for="">Cliente</label>
        <h4 ><%=pedido.contacto.cliente.nombre%></h4>
      </div>
      <div class="col-4">
        <label for="">Descripción</label>
        <h4 ><%=pedido.descripcion%></h4>
      </div>
      <div class="col-4">
        <label for="">Numero de Pedido</label>
        <h4 ><%=pedido.numero_de_pedido%></h4>
      </div>
    </div>
  </div>
<%end%>
<hr>

<! ------------------Formulario---------------------------------->

  <! ------------------Detalles-Formularios---------------------------------->


        <%= render "orden_de_produccion" %>

<! ------------------Información De la Producción---------------------------------->
<%@ped.each do |pedido|%>
<%pedido.ordenes_de_produccion.each do |ord|%>

<%end%>
<%end%>
<div class="container" id="informacionProduccion">
  <%@ordenes.each do |ordenes|%>
  <div id=<%= "orden_#{ordenes.id}" %> >
    <div class="AgregarOrdenes" >
      <div class="">
        <div class="my_card_eliminar_ordenes">
          <div class="col-5">
          <label for="">Numero de Orden:</label>
          <%= best_in_place ordenes,:numero_de_orden,as: :input%>
          </div>
          <div class="col6">
          <%= link_to '<button class="btn btn-outline-danger borrar"><span><i class="ion-trash-a"></i></i></span></button>'.html_safe, ordenes, method: :delete, id:'borrar',remote: true,data: { confirm: 'Are you sure?' } %>
          </div>
        </div>


          <table class="table">
            <tbody>
              <thead>
                <th>Codigo</th>
                <th>Descripción</th>
                <th>Cantidad</th>
                <th>Fecha</th>
                <th></th>
              </thead>
              <%ordenes.detalles_de_produccion.each do |detalles|%>
              <tr>
                <td><h6><%=best_in_place detalles, :codigo, as: :input%></h6></td>
                <td><h6><%=best_in_place detalles, :descripcion, as: :input%></h6></td>
                <td><h6><%=best_in_place detalles, :cantidad, as: :input%></h6></td>
                <td><h6><%=best_in_place detalles, :fecha, as: :input%></h6></td>
                <td></td>
              </tr>
              <%end%>
            </tbody>
          </table>





      </div>

    </div>
    <hr>
  </div>
  <%end%>
  <div class="agregarDetalle" id="agregarDetalle">

  </div>










  </div>

</div>
