<div class=''>

  <%= simple_form_for(@produccion, remote: true) do |f| %>
    <%= f.error_notification %>
  <div class="container">

    <div class="form-inputs">
      <%= 
        f.association :pedido
      %>
      <%= f.input :numero_de_orden %>
      <%= f.input :descripcion %>
    </div>
  
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  </div>
  <% end %>
</div>