<tr id=<%="orden_#{@orden_de_produccion.id}"%>>
    <td><%=best_in_place @orden_de_produccion,:numero_de_orden, :as => :input%></td>
    <td><%=best_in_place @orden_de_produccion,:codigo, as: :input%></td>
    <td><%=best_in_place  @orden_de_produccion,:descripcion, as: :input%></td>
    <td><%=best_in_place @orden_de_produccion,:cantidad, as: :input%></td>
    <td><%=best_in_place @orden_de_produccion,:fecha, as: :input%></td>
    <td><%= link_to '<button class="btn btn-outline-danger borrar"><span><i class="ion-trash-a"></i></i></span></button>'.html_safe, @orden_de_produccion, method: :delete, id:'borrar',remote: true,data: { confirm: 'Are you sure?' } %></td>
</tr> 
<script>
    toastr.error('cargars')
    jQuery(".best_in_place").best_in_place();
</script>