<p id="notice"><%= notice %></p>

<p>
  <strong>Pedido:</strong>
  <%= @ordenes.pedido %>
</p>

<p>
  <strong>Numero de orden:</strong>
  <%= @orden_de_produccion.numero_de_orden %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @ordenes.descripcion %>
</p>

<p>
  <strong>Fecha final:</strong>
  <%= @ordenesordenes.fecha_final %>
</p>

<p>
  <strong>Total:</strong>
  <%= @ordenes.total %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @ordenes.estado %>
</p>

<%= link_to 'Edit', edit_orden_de_produccion_path(@ordenes) %> |
<%= link_to 'Back', ordenes_de_produccion_path %>
