<p id="notice"><%= notice %></p>

<h1>Despachos</h1>

<table>
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Nombre</th>
      <th>Nit</th>
      <th>Telefono</th>
      <th>Lugar de despacho</th>
      <th>Direccion</th>
      <th>Celular</th>
      <th>Correo</th>
      <th>Recibe</th>
      <th>Observacion</th>
      <th>Facturar</th>
      <th>Estado</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @despachos.each do |despacho| %>
      <tr>
        <td><%= despacho.cliente %></td>
        <td><%= despacho.nombre %></td>
        <td><%= despacho.nit %></td>
        <td><%= despacho.telefono %></td>
        <td><%= despacho.lugar_de_despacho %></td>
        <td><%= despacho.direccion %></td>
        <td><%= despacho.celular %></td>
        <td><%= despacho.correo %></td>
        <td><%= despacho.recibe %></td>
        <td><%= despacho.observacion %></td>
        <td><%= despacho.facturar %></td>
        <td><%= despacho.estado %></td>
        <td><%= link_to 'Show', despacho %></td>
        <td><%= link_to 'Edit', edit_despacho_path(despacho) %></td>
        <td><%= link_to 'Destroy', despacho, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Despacho', new_despacho_path %>
