<%= simple_form_for(@lugar_despacho) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :cliente %>
    <%= f.input :nombre %>
    <%= f.input :direccion %>
    <%= f.input :telefono %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
