
     <div class="col-4">
        <%= f.input :nombre, class:'form-control' %>
      </div>
      <div class="col-4">
        <%= f.input :direccion, class:'form-control' %>
      </div>
      <div class="col-4">
        <%= f.input :celular, class:'form-control' %>
      </div>
      <div class="col-4">
        <%= f.input :telefono, class:'form-control' %>
      </div>
      <div class="col-4">
        <%= f.input :correo, class:'form-control' %>
      </div>
      <div class="col-4">
        <%= f.input :lugar_de_despacho, class:'form-control' %>
      </div>
      <div class="col-4">
        <%= f.input :recibe, class:'form-control'%>
      </div>
      <div class="col-4">
        <label>Llevar Factura con Despacho</label>
        <%= f.select :entregar_factura,[['Si'], ['No']],
            {label: false}, {class: "form-control"} %>
      </div>
      <div class="col-4">
        <label>Observaciones</label>
        <%= f.input :observacion, class:'form-control', label: false%>
      </div>