<tr>
  <td class="ocultar_fecha">
    <div class="input-group date  ">

      <%= f.text_field :fecha_compromiso, class:"my_fecha" %>

    </div>
  </td>
  <td>
    <div class="">
      <div class="input-group" >
        <input type="text" data-date-format="yyyy/mm/dd" class="form-control fecha"
        data-provide='datepicker' placeholder="Fecha"
        aria-describedby="basic-addon2" id='fecha'>
        <span class="input-group-addon " id="basic-addon2"> <i class="ion-calendar"></i> </span>
      </div>
    </div>
  </td>
  <td>
    <%= f.text_field :cantidad,class:'form-control ' %>
  </td>

  <td>
    <%= f.text_field :precio, class:'form-control ' %>
  </td>

  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to '<button type="button" class="btn btn-outline-danger"><span><i class="ion-trash-a"></i></span></button>'.html_safe, '#', class: 'remove_entregas' %>
  </td>

</tr>
