<tr>
  <td>
    <div class="input-group date  ">

      <%= f.input :fecha_compromiso, label: false, as: :date, class:'form-control ', 'data-provide'=>'datepicker' %>

    </div>
  </td>
  <td>
    <%= f.text_field :cantidad,class:'form-control ' %>
  </td>

  <td>
    <%= f.text_field :precio, class:'form-control ' %>
  </td>

  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to '<button type="button" class="btn btn-outline-danger"><span><i class="ion-trash-a"></i></span></button>'.html_safe, '#', class: 'remove_entregas' %>
  </td>

</tr>
