<p id="notice"><%= notice %></p>

<h1>Entregas</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cliente</th>

      <th>Fecha de pedido</th>
      <th>Numero de pedido</th>
      <th>Descripcion</th>
      <th>Estado de Pedido</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.contacto.cliente.nombre %></td>
        <td><%= pedido.contacto.nombre_contacto %></td>
        <td><%= pedido.producto %></td>
        <td><%= pedido.tipo_de_trabajo %></td>
        <td><%= pedido.fecha_de_pedido %></td>
        <td><%= pedido.numero_de_pedido %></td>
        <td><%= pedido.descripcion %></td>

<!-- ---------------------Estado Pedido Bageds ------------------------------------ -->

            <td><h6><span class="badge badge-warning"><%= pedido.estado_pedido %></span></h6></td>



        <td><%= link_to '<button class="btn btn-outline-primary" data-toggle="modal" data-target="#modalConsultarDespachos" ><span><i class="ion-network"></i></i></span></button>'.html_safe, consultar_despacho_path(pedido), remote: true%></td>
      </tr>


    <% end %>
  </tbody>
</table>

<br>




<span class="badge badge-default">Default</span>
<span class="badge badge-primary">Primary</span>
<span class="badge badge-success">Success</span>
<span class="badge badge-info">Info</span>
<span class="badge badge-warning">Warning</span>
<span class="badge badge-danger">Danger</span>




<!-- Modal Consulltar Depachos -->

<div class="modal fade fullscreen-modal " id="modalConsultarDespachos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content col-12">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class=" container" id="contenidoModal">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>

    </div>
  </div>
