<br>

<h1>Reportes De los Pedidos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Contacto</th>
      <th>Fecha de pedido</th>
      <th>Numero de pedido</th>
      <th>Descripcion Del Pedido</th>
      <th>Estado de Pedido</th>
      <th>Generar Excel</th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.contacto.cliente.nombre %></td>
        <td><%= pedido.contacto.nombre_contacto %></td>
        <td><%= pedido.fecha_de_pedido %></td>
        <td><%= pedido.numero_de_pedido %></td>
        <td><%= pedido.descripcion %></td>
<!-- ---------------------Estado Pedido Bageds ------------------------------------ -->
            <%if pedido.estado_pedido =="Pedido"%>
            <td><h6><span class="badge badge-warning"><%= pedido.estado_pedido %></span></h6></td>
            <%elsif pedido.estado_pedido =="En Producción"
              %>
            <td><h6><span class="badge badge-info"><%= pedido.estado_pedido %></span></h6></td>
            <%end%>



        <td><%= link_to '<button type="button" id="crearProduccion" data-toggle="modal" data-target="" class="btn btn-outline-success"><span><i class="fa fa-file-excel-o" aria-hidden="true"></i></span></button>'.html_safe, pedido_url(pedido.id,format: :xlsx) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<div class="">
  <%= link_to '<button type="button" id="crearProduccion" data-toggle="modal" data-target="" class="btn btn-outline-success"><span><i class="fa fa-file-excel-o" aria-hidden="true"></i> Generar Excel De Todos Los Pedidos</span></button>'.html_safe, pedidos_path(format: :xlsx) %>
</div>
