<p id="notice"><%= notice %></p>

<h1>Pedidos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Contacto</th>
      <th>Producto</th>
      <th>Tipo de trabajo</th>
      <th>Fecha de pedido</th>
      <th>Numero de pedido</th>
      <th>Descripcion</th>
      <th>Estado de Pedido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.contacto.cliente.nombre %></td>
        <td><%= pedido.contacto.nombre_contacto %></td>
        <td><%= pedido.producto %></td>
        <td><%= pedido.tipo_de_trabajo %></td>
        <td><%= pedido.fecha_de_pedido %></td>
        <td><%= pedido.numero_de_pedido %></td>
        <td><%= pedido.descripcion %></td>
<!-- ---------------------Estado Pedido Bageds ------------------------------------ -->

            <td><h6><span class="badge badge-warning"><%= pedido.estado_pedido %></span></h6></td>
          


        <td><%= link_to '<button class="btn btn-outline-primary"><span><i class="ion-clipboard"></i></i></span></button>'.html_safe, pedido, remote: true%></td>
        <!--td><!--%= link_to '<button class="btn btn-outline-primary"><span><i class="ion-clipboard"></i></i></span></button>'.html_safe, pedido %></td-->
        <td><%= link_to '<button class="btn btn-outline-warning"><span><i class="ion-paintbrush"></i></i></span></button>'.html_safe, edit_pedido_path(pedido) %></td>
        <td><%= link_to '<button class="btn btn-outline-danger"><span><i class="ion-trash-a"></i></i></span></button>'.html_safe, pedido, method: :delete,remote: true, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '<button class="btn btn-outline-primary"><span>Agregar <i class="ion-android-list"></i></span></button>'.html_safe, new_pedido_path %>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'detalle_pedido' %>

    </div>
  </div>
</div>

<span class="badge badge-default">Default</span>
<span class="badge badge-primary">Primary</span>
<span class="badge badge-success">Success</span>
<span class="badge badge-info">Info</span>
<span class="badge badge-warning">Warning</span>
<span class="badge badge-danger">Danger</span>
