<p id="notice"><%= notice %></p>

<h1>Pedidos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Contacto</th>
      <th>Producto</th>
      <th>Tipo de trabajo</th>
      <th>Fecha de pedido</th>
      <th>Numero de pedido</th>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.contacto.cliente.nombre %></td>
        <td><%= pedido.contacto.nombre_contacto %></td>
        <td><%= pedido.producto %></td>
        <td><%= pedido.tipo_de_trabajo %></td>
        <td><%= pedido.fecha_de_pedido %></td>
        <td><%= pedido.numero_de_pedido %></td>
        <td><%= pedido.descripcion %></td>
        <td><%= link_to '<button class="btn btn-outline-primary"><span><i class="ion-clipboard"></i></i></span></button>'.html_safe, pedido %></td>
        <td><%= link_to '<button class="btn btn-outline-warning"><span><i class="ion-paintbrush"></i></i></span></button>'.html_safe, edit_pedido_path(pedido) %></td>
        <td><%= link_to '<button class="btn btn-outline-danger"><span><i class="ion-trash-a"></i></i></span></button>'.html_safe, pedido, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Pedido', new_pedido_path %>
