<p id="notice"><%= notice %></p>

<h1>Pedidos Para Producción</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Numero de pedido</th>
      <th>Descripcion Del Producto</th>
      <th>Numero de Cotización</th>
      <th>Fecha de pedido</th>
      <th>Digitado</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td class="cliente"><%= pedido.contacto.cliente.nombre %></td>
        <td ><%=best_in_place pedido, :numero_de_pedido,as: :input %></td>
        <td class="descripcion"><%= pedido.descripcion %></td>
        <td><%= pedido.numero_cotizacion %></td>
        <!--td><!--%= pedido.producto %></td-->
        <td><%= pedido.fecha_de_pedido %></td>
        <td><%= pedido.created_at%></td>



        <td><%= link_to '<button type="button" id="crearProduccion" data-toggle="modal" data-target="" class="btn btn-outline-info"><span><i class="ion-plus-round"></i></span></button>'.html_safe, pedido_path(@p=pedido.id), id:'nuevo_task', remote:true %></td>
        <!--td><!--%= link_to '<button class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal"><span><i class="ion-clipboard"></i></i></span></button>'.html_safe, pedido %></td-->
      </tr>

    <% end %>
  </tbody>
</table>

<br>







<div class="modal my_modal fade my_modal_orden_pedido " id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-lg"  role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Ordenes de Producción</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div id="activarmodal"></div>
      <div class="modal-body">
        <form id="activarmodal">

        </form>
      </div>
      <div class="modal-footer">

          <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>