<p id="notice"><%= notice %></p>

<h1>Pedidos Para Producción</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Numero de pedido</th>
      <th>Descripcion Del Producto</th>
      <th>Numero de Cotización</th>
      <th>Fecha de pedido</th>
      <th>Digitado</th>
      <th>Estado de Pedido</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr>
        <td><%= pedido.contacto.cliente.nombre %></td>
        <td><%= pedido.numero_de_pedido %></td>
        <td><%= best_in_place pedido,:descripcion,as: :input,:place_holder=>"Click me to add content!" %></td>
        <td><%= pedido.numero_cotizacion %></td>
        <!--td><!--%= pedido.producto %></td-->
        <td><%= pedido.fecha_de_pedido %></td>
        <td><%= pedido.created_at%></td>
        <td><%= best_in_place pedido, :estado_pedido,as: :select, collection:[[1,'En Pedido'],[2,'En Produccion']]%></td>
        <!--td class="my_id"><!--%= pedido.id %></td-->
        <!--td><input id="toggle-event" class="my_checkbox evento" type="checkbox" data-toggle="toggle"></td-->
        
        <td><%= link_to '<button class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal"><span><i class="ion-clipboard"></i></i></span></button>'.html_safe, pedido %></td>
      </tr>
      
    <% end %>
  </tbody>
</table>

<br>

<!--input type="checkbox" id="my_toggle" class="my_checkbox"  checked data-toggle="toggle" data-onstyle="success" data-offstyle="danger"-->
<script>
  $(function() {
    
    $('#toggle-event').bootstrapToggle();
    
    $('.evento').change(function() {
      var id = $(this).parents("tr").find('.my_id').text();
      var valor =  $(this).parents("tr").find('.my_checkbox').prop('checked');
       
      var va="My Value" 
      
      /*$.ajax({
        url:'/pedidos/1/my_update',
        method:'put',
        success: function(data){
          toastr.error(data);
        }, 
        error: function(data){
          toastr.error('Error occurred while updating the record.');
        }
       
      });*/
       
       
      
      
      if (valor==true)
        toastr.success(id)
        
      else
        toastr.error(id)
      console.log('Toggle: ' + $(this).prop('checked'));
      });
    
  })
</script>



<button class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal"><span><i class="ion-clipboard"></i></i></span></button>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= render 'modal_produccion' %>
      
    </div>
  </div>
</div>
