<p id="notice"><%= notice %></p>

<p>
  <strong>Contacto:</strong>
  <%= @pedido.contacto %>
</p>

<p>
  <strong>Producto:</strong>
  <%= @pedido.producto %>
</p>

<p>
  <strong>Tipo de trabajo:</strong>
  <%= @pedido.tipo_de_trabajo %>
</p>

<p>
  <strong>Condicion de pedido:</strong>
  <%= @pedido.condicion_de_pedido %>
</p>

<p>
  <strong>Fecha entrega:</strong>
  <%= @pedido.fecha_entrega %>
</p>

<p>
  <strong>Fecha de pedido:</strong>
  <%= @pedido.fecha_de_pedido %>
</p>

<p>
  <strong>Numero cotizacion:</strong>
  <%= @pedido.numero_cotizacion %>
</p>

<p>
  <strong>Numero de pedido:</strong>
  <%= @pedido.numero_de_pedido %>
</p>

<p>
  <strong>Linea de impresion:</strong>
  <%= @pedido.linea_de_impresion %>
</p>

<p>
  <strong>Forma de pago:</strong>
  <%= @pedido.forma_de_pago %>
</p>

<p>
  <strong>Arte:</strong>
  <%= @pedido.arte %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @pedido.descripcion %>
</p>

<p>
  <strong>Estado pedido:</strong>
  <%= @pedido.estado_pedido %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @pedido.estado %>
</p>

<%= link_to 'Edit', edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
