<p id="notice"><%= notice %></p>

<p>
  <strong>Cliente:</strong>
  <%= @nombre_facturacion.cliente %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @nombre_facturacion.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @nombre_facturacion.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @nombre_facturacion.telefono %>
</p>

<%= link_to 'Edit', edit_nombre_facturacion_path(@nombre_facturacion) %> |
<%= link_to 'Back', nombres_facturaciones_path %>
