<% if  @orden_produccion.impresion == false%>

  <% if @orden_produccion.pantalla == true || @orden_produccion.color === true || @orden_produccion.corte_material=== true && @orden_produccion.acabado == false%>

      <h6 id=<%="quitar_estado_@orden_produccion#{@orden_produccion.id}"%>>
        <span class="badge badge-info">
          Preprensa
        </span>
      </h6>

  <%elsif @orden_produccion.pantalla == false && @orden_produccion.color === false && @orden_produccion.corte_material=== false && @orden_produccion.acabado == true%>

    <h6 id=<%="quitar_estado_@orden_produccion#{@orden_produccion.id}"%>>
      <span class="badge badge-warning baged_acabado">
        Acabado
      </span>
    </h6>

  <%elsif @orden_produccion.pantalla == false && @orden_produccion.color === false && @orden_produccion.corte_material=== false%>

      <h6 id=<%="quitar_estado_@orden_produccion#{@orden_produccion.id}"%>>
        <span class="badge badge-warning">
          Sin Programar
        </span>
      </h6>



  <% end %>



<%elsif @orden_produccion.impresion == true && @orden_produccion.acabado == false%>

  <h6 id=<%="quitar_estado_@orden_produccion#{@orden_produccion.id}"%>>
    <span class="badge badge-warning baged_impresion">
      Impresión
    </span>
  </h6>

<%elsif @orden_produccion.impresion == true && @orden_produccion.acabado == true%>

  <h6 id=<%="quitar_estado_@orden_produccion#{@orden_produccion.id}"%>>
    <span class="badge badge-warning baged_acabado">
      Acabado
    </span>
  </h6>



<% end %>
