
<! ------------------Información Del Pedido---------------------------------->
<div class="container card-block">
  <div class="container my_card_pedidos_form my_orden_pedidos">
    <div class="col-4">
      <label for="">Cliente</label>

      <h4 ><%= @orden_produccion.montaje.cliente.nombre%> <br> <p> <%=@orden_produccion.montaje.cliente.user.nombre%> </p></h4>
    </div>
    <div class="col-4">
      <label for="">Descripción</label>
      <h4 ><%= @orden_produccion.montaje.nombre%></h4>
    </div>
    <div class="col-4">
      <label for="">Numero de Orden</label>
      <h4><%= @orden_produccion.numero_de_orden%></h4>
    </div>
  </div>
</div>

<hr>

<div class="my_card_produccion">

  <div class="card col-4">
    <ul class="list-group list-group-flush">

      <li class="list-group-item container my_card_produccion">

            <div class="">
            <strong>Máquina:</strong>
            <%conteo = 0%>
            <%@orden_produccion.montaje.contenedores_de_maquinas.each do |contenedor_maquina|%>
              <%
              conteo = conteo+1

              %>
              <% if conteo == 1 %>
                <%=contenedor_maquina.maquina.nombre%>
              <%else%>
                <%=", "+contenedor_maquina.maquina.nombre%>
              <% end %>

            <%end%>
            </div>



        <div class="">

          <!--FONT FACE="arial" SIZE=6>
            <span size=10 >
               <i class="ion-printer"></i>
            </span>
          </!--FONT-->

        </div>
      </li>


    </ul>
  </div>


  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">
        <div class="">
          <strong>Vendedor: </strong>
          <%=@orden_produccion.montaje.cliente.user.nombre%>
        </div>


        <div class="">
          <!--FONT FACE="arial" SIZE=6>
            <span size=10 >
               <i class="ion-images"></i>
            </span>
          </!--FON--->
        </div>

    </li>





    </ul>
  </div>








  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">


            <div class="">
            <strong>Linea De Color: </strong>
            <%=@orden_produccion.montaje.linea_de_color.nombre%>
            </div>



        <div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-paintbrush"></i>
          </span>
        </!--FONT-->

        </div>
      </li>




    </ul>
  </div>



  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">
        <div class="">
          <strong>Cantidad: </strong>
          <%=@orden_produccion.cantidad_programada%>
        </div>

        <div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-stats-bars"></i>
          </span>
        </!--FONT-->

        </div>
       </li>




    </ul>
  </div>



  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">
        <div class="">
          <strong>Tamaños Totales: </strong>
          <%=@orden_produccion.tamanos_total%>
        </div>

        <div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-arrow-graph-up-right"></i>
          </span>
        </!--FONT-->

        </div>
      </li>




    </ul>
  </div>









  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">
        <div class="">
          <strong>Cavidad: </strong>
          <%=@orden_produccion.cavidad%>
        </div>

        <div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-crop"></i>
          </span>
        </!--FONT-->

        </div>
      </li>




    </ul>
  </div>



  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">
        <div class="">
          <strong>Cantidad Hojas: </strong>
          <%=@orden_produccion.cantidad_hoja%>
        </div>

        <div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-document-text"></i>
          </span>
        </!--FONT-->

        </div>
      </li>




    </ul>
  </div>

  <div class="card col-4">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">



            <div class="">
            <strong>Materiales: </strong>
              <%=@orden_produccion.montaje.material.descripcion%>
            </div>


        <div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-briefcase"></i>
          </span>
        </!--FONT-->

        </div>
      </li>




    </ul>
  </div>











  <div class="card col-12">
    <ul class="list-group list-group-flush">
      <li class="list-group-item my_card_produccion">

        <div class="">
          <strong>Observaciones: </strong>
          <%=@orden_produccion.observacion%>
        </div>


        <!--div class="">
        <!--FONT FACE="arial" SIZE=6>
          <span size=10 >
             <i class="ion-monitor"></i>
          </span>
        </!--FONT--->

      </div-->
      </li>




    </ul>
  </div>


  <div class="col-12">
    <br>
  </div>


  <div class="col-12">
    <h5>Despachos</h5>
    <table class="table">
      <thead>
        <th>Fecha de compromiso</th>
        <th>cantidad a despachar</th>
        <th>cantidad despachada</th>
        <th>Despacho</th>
      </thead>
      <tbody>
        <%  @orden_produccion.compromisos_de_entrega.each do |fecha| %>
        <tr>
          <td><%=fecha.fecha_de_compromiso%></td>
          <td><%=fecha.cantidad%></td>
          <td><%=fecha.cantidad_despacho%></td>
          <%if fecha.enviado == true%>
            <td>
              <h6>
                <span class="badge badge-success"> Entregado
                  <i class="ion-checkmark-circled"></i>
                </span>
              </h6>
            </td>
          <% else %>
            <td>
              <h6>
                <span class="badge badge-warning"> Pendiente
                  <i class="ion-android-alarm-clock"></i>
                </span>
              </h6>
            </td>
          <%end%>

        </tr>
        <% end %>
      </tbody>
    </table>
  </div>


<div class="col-12">
  <br>
</div>

  <%if @orden_produccion.montaje.desarrollos_de_tintas.any? %>
      <br>
      <div class="col-12" id="">


            <div class="my_card_produccion">


              <div class="col-12">
                <h1>Tintas Programadas</h1>
              </div>
              <table class="table table-striped">
                <thead>
                  <th>Color</th>
                  <th>Linea</th>
                  <th>Malla</th>
                  <th>Tiro</th>
                  <th>Retiro</th>

                  <th>Eliminar</th>
                </thead>
                <tbody>
                  <%@orden_produccion.montaje.desarrollos_de_tintas.each do  |desarrollo|%>
                    <tr id=<%="quitar_desarrollo_#{desarrollo.id}"%>>

                      <td><%=best_in_place desarrollo, :descripción, :as => :input%></td>
                      <td>
                          <%=best_in_place desarrollo,
                          :linea_de_color_id, :as => :select,
                          :collection => LineaDeColor.all.map{|i| [i.id, i.nombre]},
                          inner_class: "js-select-best_in_place"
                          %>
                      </td>
                      <td><%=best_in_place desarrollo, :malla_id , :as => :select, :collection => Malla.all.map{|i| [i.id, i.nombre]}%></td>

                      <% if desarrollo.tiro== true %>
                        <td>
                          <span><i class="ion-checkmark-circled"></i> </span>
                        </td>
                      <% else %>
                        <td></td>
                      <% end %>



                      <% if desarrollo.retiro== true %>
                        <td>
                          <span><i class="ion-checkmark-circled"></i> </span>
                        </td>
                      <% else %>
                          <td></td>
                      <% end %>

                      <td><%= link_to '<button class="btn btn-outline-danger"><span><i class="ion-trash-a"></i></i></span></button>'.html_safe, desarrollo, method: :delete, data: { confirm: 'Are you sure?' } , remote:true%></td>
                    </tr>
                  <%end%>
                </tbody>
              </table>

            </div>
      </div>
      <hr>
      <%end%>




</div>


<hr>




<script type="text/javascript">
jQuery(".best_in_place").best_in_place();
$('.best_in_place').on('best_in_place:activate', function() {

});


</script>
