
<div class="" id="contenido_formulario">

  <div class="offset-md-10">
    <%= link_to '<button class="btn btn-outline-info"><span>Produccion Nueva <i class="ion-android-document"></i></span></button>'.html_safe, new_montaje_path  %>
  </div>


  <br>
<%= simple_form_for(@orden_produccion) do |f| %>
  <%= f.error_notification %>



<div class="col-6">
  <label for="">Selección De Referencia</label>
  <%=

    f.select  :montaje_id,Montaje.all.map {|i| ["Referencia: "+i.codigo+" -"+i.nombre , i.id]},
    {}, {required: 'true', autofocus: 'true', class: 'js-example-tags form-control', id: "buscandoControlador"}

  %>

</div>



<br>


  <div class="card text-center">

     <div class="card-header">
        <h1>Datos Generales</h1>

     </div>

     <!--Card Block-->
     <div class="card-block">
        <h4 class="card-title"></h4>
        <div class="container">
           <!--Container Con Flexbox-->
           <div class="my_card_pedidos_form">


             <!--Numero de Orden-->
             <div class="col-3">
               <%= f.input :numero_de_orden %>
             </div>

             <!--Mes-->
             <div class="col-3">
               <label for="">Cliente</label>
               <input type="text" name=""  class="form-control op_cliente" id="op_cliente" value="" disabled>
             </div>

             <div class="col-3">
               <label for="">Vendedor</label>
               <input type="text" name=""  class="form-control op_Vendedor" id="op_vendedor" value="" disabled>
             </div>


             <div class="col-3">
               <label for="">Linea De Color</label>
               <input type="text" name=""  class="form-control op_montaje" id="op_linea_de_color" value="" disabled>
             </div>


             <div class="col-3">
               <label for="">Cantidad </label>
               <%= f.input :cantidad_solicitada, label: false %>
             </div>

             <div class="col-3">
               <label for="">Linea De Producto</label>
               <input type="text" name=""  class="form-control op_montaje" id="op_linea_producto" value="" disabled>
             </div>

             <div class="col-3">
               <label for="">Maquina</label>
               <input type="text" name=""  class="form-control op_montaje" id="op_maquina" value="" disabled>
             </div>


             <!--Fecha De pedido-->
             <div class="col-3">
               <label for="">Fecha De La Orden</label>
               <div class="input-group" >
                 <%= f.text_field :fecha , class: "form-control", "data-date-format" => "yyyy/mm/dd", 'data-provide' => 'datepicker'%>
                 <span class="input-group-addon " id="basic-addon2"> <i class="ion-calendar"></i> </span>

               </div>
               <p id="campo_fecha_pedido"></p>
             </div>
             <div class="col-12">
               <br>
             </div>
             <div class="col-12">
               <div class="my_card_contactos_form">
                 <div >
                   <h3>Fechas De Entrega</h3>
                 </div>
                 <div >
                   <%= link_to_add_compromisos('<button type="button" id="pruebaSelect" class="btn btn-outline-primary"><span>Agregar <i class="ion-calendar"></i></span></button>'.html_safe, f, :compromisos_de_entrega, class: '') %>
                 </div>
             </div>
             </div>

             <div class="col-6 ">

               <table class="table">
                 <tbody class='fields_compromisos'>
                   <%=f.fields_for :compromisos_de_entrega do |builder|%>

                      <%= render 'compromiso_de_entrega', :f => builder%>

                   <%end%>
                 </tbody>
                 </table>




             </div>





           </div>
           <!--/Container con Flexbox-->
        </div>
        <!--Container-->
        <br>
     </div>
     <!--/Card Block-->
  </div>
  <!--/Datos Generales del Pedido---->


<br>
<div class="card card-outline-secondary mb-3 text-center">
  <div class="card-header">
     <h1>Materias Primas</h1>

  </div>
   <div class="card-block">
      <div class="container">
         <br>
         <br>
         <div class="my_card_pedidos_form">

                       <div class="col-12">
                         <label for="">Material A Imprimir</label>
                         <input type="text" name=""  class="form-control op_montaje" id="op_material" value="" disabled>
                       </div>
                       <div class="col-12">
                         <br>
                       </div>

                       <!--Mes-->
                       <div class="col-2">
                         <label for="">Medida de la hoja</label>
                         <input type="text" name=""  class="form-control op_cliente" id="op_medida_hoja" value="" disabled>
                       </div>

                       <div class="col-2">
                         <label for="">Tamaños por hoja </label>
                         <input type="text" name=""  class="form-control op_Vendedor" id="op_tamano_hoja" value="" disabled>
                       </div>


                       <div class="col-2">
                         <label for="">Medida de corte </label>
                         <input type="text" name=""  class="form-control op_montaje" id="op_medida_corte" value="" disabled>
                       </div>

                       <div class="col-2">
                         <%= f.input :cantidad_hoja %>
                       </div>

                  
                       <div class="col-2">
                         <label for="">Tamaños Totales</label>
                         <%= f.input :tamanos_total , label: false%>
                       </div>

                       <div class="col-2">
                         <%= f.input :cavidad %>
                       </div>

                       <div class="col-2">
                         <label for="">Cantidad Programada</label>
                         <%= f.input :cantidad_programada, label: false %>
                       </div>






         </div>
         <br>
      </div>
   </div>
</div>

<br>

<div class="card card-outline-secondary mb-3 text-center">
   <div class="card-block">
      <div class="container">
         <br>
         <br>
         <div class="my_card_pedidos_form">




             <div class="col-12">
               <label for="">Obsevaciones</label>
               <%= f.input :observacion, label: false %>
             </div>




         </div>
      </div>
   </div>
</div>


<div id="AgregarTintas">

</div>
<br>



<div class="btn pull-right">
<%= button_tag type: 'submit', class: "btn btn-outline-success" do %>
  <span>Guardar
    <i id="iconoSubmit"class="ion-paper-airplane" aria-hidden="true"></i>
  </span>
 <% end %>
</div>
<% end %>

</div>
