



   <!--Card Block-->
   <div class="card-block">

      <div class="container">
         <!--Container Con Flexbox-->
         <div class="my_card_pedidos_form">


           <!--Linea de Producto-->
           <div class="col-4">
             <%= f.association :linea_producto,
             collection: LineaProducto.all,
             label_method: :nombre,
             value_method: :id,
             as: :select,
             class:'col-4 my_cliente form-control',
             include_blank: 'Linea Producto'
             %>
             <p id="campo_productos"></p>
           </div>






           <!--Linea De Color-->
           <div class="col-4">
             <%= f.association :linea_de_color,
             collection: LineaDeColor.all,
             label_method: :nombre,
             value_method: :id,
             as: :select,
             class:'col-4 my_cliente form-control',
             include_blank: 'Linea De Color'
             %>
             <p id="campo_lineaColor"></p>
           </div>



           <!--Maquina-->
           <div class="col-4">
             <%= f.association :maquina,
             collection: Maquina.all,
             label_method: :nombre,
             value_method: :id,
             as: :select,
             class:'col-4 my_cliente form-control',
             include_blank: 'Seleccione la Maquina'
             %>
             <p id="campo_maquina"></p>
           </div>


           <!--Pieza A Decorar-->
           <div class="col-4">
             <%= f.association :pieza_a_decorar,
             collection: PiezaADecorar.all,
             label_method: :nombre,
             value_method: :id,
             as: :select,
             class:'col-4 my_cliente form-control',
             include_blank: 'Pieza A Decorar'

             %>
             <p id="campo_pieza"></p>
           </div>



           <div class="col-4">
             <%= f.input :material %>
             <p id="campo_material"></p>
           </div>




         </div>
         <!--/Container con Flexbox-->
      </div>
      <!--Container-->
      <br>
   </div>
   <!--/Card Block-->
</div>
<!--/Datos Generales del Pedido---->
<br>

<br>




<div class="">
 <div class="">

 </div>
