
<! ------------------Información Del Pedido---------------------------------->
<div class="container card-block">
  <div class="ocultar">
    <p id="tamanos"><%=@orden_produccion.tamanos_total%></p>
  </div>
  <div class="container my_card_pedidos_form my_orden_pedidos">
    <div class="col-3">
      <label for="">Cliente</label>

      <h4 ><%= @orden_produccion.montaje.cliente.nombre%></h4>
    </div>
    <div class="col-3">
      <label for="">Descripción</label>
      <h4 ><%= @orden_produccion.montaje.nombre%></h4>
    </div>
    <div class="col-3">
      <label for="">Numero de Orden</label>
      <h4><%= @orden_produccion.numero_de_orden%></h4>
    </div>
    <div class="col-3">
      <label for="">Fecha de Orden</label>
      <h4><%= @orden_produccion.fecha%></h4>
    </div>


    <div class="col-12">
      <hr>
    </div>


    <div class="col-3">
      <label for="">Máquina:</label>

        <h4><%=@orden_produccion.montaje.maquina.nombre%></h4>

    </div>




    <div class="col-3">
      <label for="">Sustrato:</label>

        <h4><%=@orden_produccion.montaje.material%></h4>

    </div>

    <div class="col-3">
      <label for="">Tamaño De Impresión:</label>

        <h4><%=@orden_produccion.tamano_de_corte%></h4>

    </div>

    <div class="col-3">
      <label for="">Linea de color:</label>
        <h4><%=@orden_produccion.montaje.linea_de_color.nombre%></h4>
    </div>
  </div>
</div>

<hr>






<div class="" id="ContenedorTintas">


<%if @orden_produccion.montaje.desarrollos_de_tintas.any? %>
    <br>
    <div class="" id="divContenedor">


          <div class="my_card_produccion">


            <div class="col-12">
              <h1>Tintas Programadas</h1>
            </div>
            <table class="table table-striped">
              <thead>
                <th>Color</th>
                <th>Linea</th>
                <th>Malla</th>
                <th>Tiro</th>
                <th>Retiro</th>
                <th>Desarrollar color</th>

              </thead>
              <tbody>
                <%@orden_produccion.montaje.desarrollos_de_tintas.each do  |desarrollo|%>
                  <tr id=<%="quitar_desarrollo_#{desarrollo.id}"%>>
                    <td><%=desarrollo.descripción%></td>
                    <td><%=desarrollo.linea_de_color.nombre%></td>
                    <td><%=desarrollo.malla.nombre%></td>

                    <% if desarrollo.tiro== true %>
                      <td>
                        <span><i class="ion-checkmark-circled"></i> </span>
                      </td>
                    <% else %>
                      <td></td>
                    <% end %>



                    <% if desarrollo.retiro== true %>
                      <td>
                        <span><i class="ion-checkmark-circled"></i> </span>
                      </td>
                    <% else %>
                        <td></td>
                    <% end %>





                    <td><%=  link_to '<button class="btn btn-outline-warning"><span><i class="ion-paintbucket"></i></span></button>'.html_safe, desarrollar_color_url(desarrollo), remote: true %></td>

                  </tr>
                <%end%>
              </tbody>
            </table>

          </div>
    </div>
    <div class="" id="ContenedorNuevo">

    </div>
    <hr>
    <%end%>



  <!-- true -->
  <div class="container_add_entregas col-12">
     <div class="col-4">
        <h1>Agregar Tinta al Tiro</h1>
     </div>
     <div class="col-3 offset-md-6">
        <%= link_to '<button class="btn btn-outline-info"><span><i class="ion-connection-bars"></i></span></button>'.html_safe, desarrollar_tintas_tiro_path(@orden_produccion.montaje.id), remote:true %>
     </div>
  </div>
  <div class="col-12">
    <br>
  </div>


  <div class="" id="generarTintaNueva">

  </div>


  <div class="col-12">
    <br>
  </div>
    <div class="my_card_produccion">
      <% if @orden_produccion.montaje.tintas_fop_tiro.any? %>
      <div class="col-12">
        <h1>Tintas Tiro</h1>
      </div>
      <table class="table">
        <thead>
          <th>Color</th>
          <th>Linea</th>
          <th>Malla</th>
          <th>Tiros</th>
          <th>Eliminar</th>
        </thead>
        <tbody id="AgregarTintasTiro">
          <%cont=0%>

          <%total=0%>
          <%@Tintas_tiro.each do |tinta|%>
                <%
                cont = cont +1
                cont_id=0
                %>
                <%@orden_produccion.montaje.tintas_fop_tiro.each do |tintas_tiro|%>
                  <%cont_id = cont_id+1%>
                  <% if cont == cont_id %>
                    <tr id=<%="tiro_#{tintas_tiro.id}"%>>
                  <% end %>

                <% end %>
                  <td><%=tinta.descripcion%></td>
                  <td><%=tinta.linea_de_color.nombre%></td>
                  <%cont2=0%>
                  <%@orden_produccion.montaje.tintas_fop_tiro.each do |tintas_tiro|%>
                  <%cont2 = cont2+1%>
                      <% if cont == cont2 %>
                        <!-- true -->
                        <td><%=tintas_tiro.malla.nombre%></td>
                        <td><%=@orden_produccion.tamanos_total%></td>
                          <td><%= link_to '<button class="btn btn-outline-danger"><span><i class="ion-trash-a"></i></span></button>'.html_safe, tintas_tiro, remote: true,method: :delete, data: { confirm: 'Esta seguro De Eliminar Este registro?' }%></td>
                      <% end %>

                  <% end %>

                </tr>



          <%end%>
        </tbody>
      </table>
<% end %>
    </div>
    <hr>



    <div class="my_card_produccion">
      <div class="container_add_entregas col-12">
         <div class="col-4">
            <h1>Agragar Tinta al Retiro</h1>
         </div>
         <div class="col-3 offset-md-6">
            <%= link_to '<button class="btn btn-outline-info"><span><i class="ion-connection-bars"></i></span></button>'.html_safe, desarrollar_tintas_retiro_path(@orden_produccion.montaje.id), remote:true %>
         </div>

      </div>


      <div class="col-12">
        <br>
      </div>


      <div class="col-12" id="generarTintaNuevaRetiro">

      </div>

      <div class="col-12">
          <br>
      </div>
<div class="col-12" id=<%="tinta_retiro#{@orden_produccion.montaje.id}"%>>
<% if @orden_produccion.montaje.tintas_fop_retiro.any? %>



      <div class="col-12">
        <h1>Tintas Retiro</h1>
      </div>
      <table class="table" >
        <thead>
          <th>Color</th>
          <th>Linea</th>
          <th>Malla</th>
          <th>Tiros</th>
          <th>Eliminar</th>
        </thead>
        <tbody id="AgregarTintasRetiro">
          <%cont=0%>

          <%total=0%>
          <%@Tintas_retiro.each do |tinta|%>
                <%
                cont = cont +1
                cont_id=0
                %>
                <%@orden_produccion.montaje.tintas_fop_retiro.each do |tintas_tiro|%>
                  <%cont_id = cont_id+1%>
                  <% if cont == cont_id %>
                    <tr id=<%="retiro_#{tintas_tiro.id}"%>>
                  <% end %>

                <% end %>
                  <td><%=tinta.descripcion%></td>
                  <td><%=tinta.linea_de_color.nombre%></td>

                  <%cont2=0%>
                  <%@orden_produccion.montaje.tintas_fop_retiro.each do |tintas_tiro|%>
                  <%cont2 = cont2+1%>
                      <% if cont == cont2 %>
                        <!-- true -->
                        <td><%=tintas_tiro.malla.nombre%></td>
                        <td><%=@orden_produccion.tamanos_total%></td>
                          <td><%= link_to '<button class="btn btn-outline-danger"><span><i class="ion-trash-a"></i></span></button>'.html_safe, tintas_tiro, remote: true,method: :delete, data: { confirm: 'Esta seguro De Eliminar Este registro?' }%></td>

                      <% end %>

                  <% end %>


                </tr>



          <%end%>
        </tbody>
      </table>

<% end %>
</div>
    </div>
</div>
