
<! ------------------Información Del Pedido---------------------------------->
<div class="container card-block">
  <div class="container my_card_pedidos_form my_orden_pedidos">
    <div class="col-3">
      <label for="">Cliente</label>

      <h4 ><%= @orden_produccion.montaje.cliente.nombre%></h4>
    </div>
    <div class="col-3">
      <label for="">Descripción</label>
      <h4 ><%= @orden_produccion.montaje.nombre%></h4>
    </div>
    <div class="col-3">
      <label for="">Numero de Orden</label>
      <h4><%= @orden_produccion.numero_de_orden%></h4>
    </div>
    <div class="col-3">
      <label for="">Fecha de Orden</label>
      <h4><%= @orden_produccion.fecha%></h4>
    </div>


    <div class="col-12">
      <hr>
    </div>


    <div class="col-3">
      <label for="">Máquina:</label>

      <div class="">
        <ul class="list-inline">
        <%conteo = 0%>
        <%@orden_produccion.montaje.contenedores_de_maquinas.each do |contenedor_maquina|%>
          <%
          conteo = conteo+1

          %>
                  <% if conteo == 1 %>


                        <li class="list-inline-item"> <p><%=contenedor_maquina.maquina.nombre%></p> </li>
                  <%else%>

                        <li class="list-inline-item"> <p><%=","+contenedor_maquina.maquina.nombre%></p> </li>

                  <% end %>
      <%end%>
      </ul>
      </div>


        </div>


    <div class="col-3">
      <label for="">Sustrato:</label>

        <h4><%=@orden_produccion.montaje.material.descripcion%></h4>

    </div>

    <div class="col-3">
      <label for="">Tamaño De Impresión:</label>

        <h4><%=@orden_produccion.montaje.tamano_de_corte%></h4>

    </div>

    <div class="col-3">
      <label for="">Linea de color:</label>

        <h4><%=@orden_produccion.montaje.linea_de_color.nombre%></h4>

    </div>
  </div>
</div>









<hr>

<%if @orden_produccion.orden_nueva == true%>
  <div class="col-md-6 offset-md-5">
    <h5> <span class="badge badge-warning">Producción nueva</span>  </h5>
  </div>
<%else%>
  <div class="col-md-6 offset-md-5">
    <h5> <span class="badge badge-info">Producción repetida</span>  </h5>
  </div>
<%end%>

<hr>

<div class="col-12">
  <br>
</div>

  <%if @orden_produccion.montaje.desarrollos_de_tintas.any? %>
      <br>
      <div class="col-12" id="">


            <div class="my_card_produccion">


              <div class="col-12">
                <h1>Tintas Programadas</h1>
                <br>
              </div>
              <table class="table table-striped">
                <thead>
                  <th>Color</th>
                  <th>Linea</th>
                  <th>Malla</th>
                  <th>Tiro</th>
                  <th>Retiro</th>
                  <th>Tamaños Totales</th>

                </thead>
                <tbody>
                  <%@orden_produccion.montaje.desarrollos_de_tintas.each do  |desarrollo|%>
                    <tr id=<%="quitar_desarrollo_#{desarrollo.id}"%>>
                      <td><%=desarrollo.descripción%></td>
                      <td><%=desarrollo.linea_de_color.nombre%></td>
                      <td><%=desarrollo.malla.nombre%></td>

                      <% if desarrollo.tiro== true %>
                        <td>
                          <span><i class="ion-checkmark-circled"></i> </span>
                        </td>
                      <% else %>
                        <td></td>
                      <% end %>



                      <% if desarrollo.retiro== true %>
                        <td>
                          <span><i class="ion-checkmark-circled"></i> </span>
                        </td>
                      <% else %>
                          <td></td>
                      <% end %>
                      <td><%=@orden_produccion.tamanos_total%></td>






                    </tr>
                  <%end%>
                </tbody>
              </table>

            </div>
      </div>
      <hr>
      <% else %>
      <div class="">
        <h3>La Orden No Tiene Tintas Definidas</h3>
      </div>
      <%end%>




</div>


<hr>
