<%if @montaje.desarrollos_de_tintas.any? %>
    <br>
    <div class="" id="divContenedor">


          <div class="my_card_produccion">


            <div class="col-12">
              <h1>Tintas Programadas</h1>
            </div>
            <table class="table table-striped">
              <thead>
                <th>Color</th>
                <th>Linea</th>
                <th>Malla</th>
                <th>Tiro</th>
                <th>Retiro</th>


              </thead>
              <tbody>
                <%@montaje.desarrollos_de_tintas.each do  |desarrollo|%>
                  <tr id=<%="quitar_desarrollo_#{desarrollo.id}"%>>
                    <td><%=desarrollo.descripción%></td>
                    <td><%=desarrollo.linea_de_color.nombre%></td>
                    <td><%=desarrollo.malla.nombre%></td>

                    <% if desarrollo.tiro== true %>
                      <td>
                        <span><i class="ion-checkmark-circled"></i> </span>
                      </td>
                    <% else %>
                      <td></td>
                    <% end %>



                    <% if desarrollo.retiro== true %>
                      <td>
                        <span class=""><i class="ion-checkmark-circled"></i> </span>
                      </td>
                    <% else %>
                        <td></td>
                    <% end %>



                  </tr>
                <%end%>
              </tbody>
            </table>

          </div>
    </div>
    <hr>
    <% else %>
    <h1>El Montaje No tiene Tintas Definidas</h1>
    <br>
    <%end%>











        <div class="card card-outline-secondary mb-3 text-center">
          <div class="card-header">

            <div class="col-12">
              <h3>Acabados</h3>
            </div>

          </div>


           <div class="card-block">
             <div class="container">
               <br>
                <br>
                <div class="my_card_pedidos_form" >
                     <%@montaje.contenedores_de_acabados.each do  |contenedor|%>
                           <div class="col-3">
                              <h6><%=contenedor.acabado.nombre%></h6>
                           </div>
                     <%end%>
             </div>

             </div>
             <br>
             <br>
           </div>
        </div>
