


<div class="">

  <div class="card card-outline-secondary mb-3 text-center">
     <div class="card-block">
        <div class="container">
           <br>
           <br>
           <div class="my_card_pedidos_form">

             <div class="col-3">
               <%= f.input :numero_de_orden %>
             </div>

             <div class="col-3">
               <%=
                 f.association :mes,
                 collection: Mes.all,
                 label_method: :nombre,
                 value_method: :id,
                 as: :select,
                 class:'col-4 my_cliente form-control',
                 include_blank: 'Seleccione el mes'
               %>
             </div>


             <!--Fecha De pedido-->
             <div class="col-3">
               <label for="">Fecha De La Orden</label>
               <div class="input-group" >
                 <%= f.text_field :fecha , class: "form-control", "data-date-format" => "yyyy/mm/dd", 'data-provide' => 'datepicker'%>
                 <span class="input-group-addon " id="basic-addon2"> <i class="ion-calendar"></i> </span>

               </div>
               <p id="campo_fecha_pedido"></p>
             </div>

             <div class="col-3">
               <label for="">Fecha De Compromiso</label>
               <div class="input-group" >
                 <%= f.text_field :fecha_compromiso , class: "form-control", "data-date-format" => "yyyy/mm/dd", 'data-provide' => 'datepicker'%>
                 <span class="input-group-addon " id="basic-addon2"> <i class="ion-calendar"></i> </span>
               </div>
               <p id="campo_fecha_pedido"></p>
             </div>



           </div>
           <br>
        </div>
     </div>
  </div>

  <br>

  <div class="card card-outline-secondary mb-3 text-center">
     <div class="card-block">
        <div class="container">
           <br>
           <br>
           <div class="my_card_pedidos_form">





                          <div class="col-2">
                            <label for="">Cantidad </label>
                            <%= f.input :cantidad_programada, label: false %>
                          </div>

                          <div class="col-2">
                            <%= f.input :precio_unitario %>
                          </div>

                          <div class="col-2">
                            <%= f.input :valor_total %>
                          </div>


                          <div class="col-2">
                            <label for="">Tamaños Totales</label>
                            <%= f.input :tamanos_total , label: false%>
                          </div>

                          <div class="col-2">
                            <%= f.input :cavidad %>
                          </div>

                          <div class="col-2">
                            <%= f.input :cantidad_hoja %>
                          </div>

           </div>
           <br>
        </div>
     </div>
  </div>

  <br>

  <div class="card card-outline-secondary mb-3 text-center">
     <div class="card-block">
        <div class="container">
           <br>
           <br>
           <div class="my_card_pedidos_form">






                          <div class="col-4">
                            <%= f.input :temperatura %>
                          </div>






                          <div class="col-4">
                            <br>
                            <%= f.input :tiro %>
                          </div>

                          <div class="col-4">
                            <br>
                            <%= f.input :retiro %>
                          </div>
                              <div class="col-12">
                                <label for="">Obsevaciones</label>
                                <%= f.input :observacion, label: false %>
                              </div>
           </div>
        </div>
     </div>
  </div>
</div>
