


<div class="">

  <div class="card card-outline-secondary mb-3 text-center">
     <div class="card-block">
        <div class="container">
           <br>
           <br>
           <div class="my_card_pedidos_form">

             <div class="col-3">
               <%= f.input :numero_de_orden %>
             </div>



             <!--Fecha De pedido-->
             <div class="col-3">
               <label for="">Fecha De La Orden</label>
               <div class="input-group" >
                 <%= f.text_field :fecha , class: "form-control", "data-date-format" => "yyyy/mm/dd", 'data-provide' => 'datepicker'%>
                 <span class="input-group-addon " id="basic-addon2"> <i class="ion-calendar"></i> </span>

               </div>
               <p id="campo_fecha_pedido"></p>
             </div>

             <div class="col-3">
               <label for="">Fecha De Compromiso</label>
               <div class="input-group" >
                 <%= f.text_field :fecha_compromiso , class: "form-control", "data-date-format" => "yyyy/mm/dd", 'data-provide' => 'datepicker'%>
                 <span class="input-group-addon " id="basic-addon2"> <i class="ion-calendar"></i> </span>
               </div>
               <p id="campo_fecha_pedido"></p>
             </div>



           </div>
           <br>
        </div>
     </div>
  </div>

  <br>

  <div class="card card-outline-secondary mb-3 text-center">
     <div class="card-block">
        <div class="container">
           <br>
           <br>
           <div class="my_card_pedidos_form">





                          <div class="col-2">
                            <label for="">Cantidad </label>
                            <%= f.input :cantidad_programada, label: false %>
                          </div>

                          <div class="col-2">
                            <%= f.input :precio_unitario %>
                          </div>

                          <div class="col-2">
                            <%= f.input :valor_total %>
                          </div>


                          <div class="col-2">
                            <label for="">Tamaños Totales</label>
                            <%= f.input :tamanos_total , label: false%>
                          </div>

                          <div class="col-2">
                            <%= f.input :cavidad %>
                          </div>

                          <div class="col-2">
                            <%= f.input :cantidad_hoja %>
                          </div>

           </div>
           <br>
        </div>
     </div>
  </div>

  <br>

  <div class="card card-outline-secondary mb-3 text-center">
     <div class="card-block">
        <div class="container">
           <br>
           <br>
           <div class="my_card_pedidos_form">


                          <div class="col-4">
                            <%= f.input :temperatura %>
                          </div>



                          <div class="col-12">
                            <label for="">Obsevaciones</label>
                            <%= f.input :observacion, label: false %>
                          </div>

           </div>
        </div>
     </div>
  </div>

  <br>
    <div class="card">
      <div class="card-header">
        <div class="my_card_contactos_form">
          <div >
            <h3>Fechas De Entrega</h3>
          </div>
          <div >
            <%= link_to_add_compromisos('<button type="button" id="pruebaSelect" class="btn btn-outline-primary"><span>Agregar <i class="ion-calendar"></i></span></button>'.html_safe, f, :compromisos_de_entrega, class: '') %>
          </div>
      </div>
      </div>


      <div class="container">

        <table class="table">
          <tbody class='fields_compromisos'>
            <%=f.fields_for :compromisos_de_entrega do |builder|%>

               <%= render 'compromiso_de_entrega', :f => builder%>

            <%end%>
          </tbody>
          </table>

      </div>
  </div>
</div>
