<br>
<h1>Editar Orden de Produccion</h1>

<%= render 'edit_form', orden_produccion: @orden_produccion %>

<%= link_to '<button type="button" class="btn btn-outline-dark">Listar ordenes de producción</button>'.html_safe, ordenes_produccion_path %>

<script type="text/javascript">
$("#buscandoControlador").select2()
var busVal = $("#buscandoControlador").select2("val")





  if (busVal.length != 0 ) {


        $.ajax({
          url:'/select_buscar_montaje/'+busVal+'',
          method:'get',
          success: function (data){

            var total_valor = $('#orden_produccion_tamanos_total').val()



              $('#orden_produccion_tamanos_total').val("<%=@orden_produccion.tamanos_total%>")
              $('#orden_produccion_cantidad_programada').val("<%=@orden_produccion.cantidad_programada%>")


            var valor_id = "<%=@orden_produccion.contacto.id%>"
            $('#select_contactos  ').val(valor_id).trigger('change');

            var direcion = "<%=@orden_produccion.lugar_despacho.id%>"
            var valor_entrega = $('#select_entrega').val()

            if (direcion == valor_entrega) {

            }else {

              var nombre_direcion = "<%=@orden_produccion.lugar_despacho.direccion%>"
              var cont = 0
              var totaloop= $('#select_entrega option').length



              var input2 = ""

              for (var i = 0; i < totaloop; i++) {


                   input2 = $('#select_entrega option:eq('+i+')').text();


                  if (input2 == nombre_direcion) {

            
                    $('#select_entrega option:eq('+i+')').text();
                    $('#select_entrega option:eq('+i+')').attr("selected", true)
                  }


              }

              var comprobar = $('#select_entrega').val()

              if (comprobar == direcion) {

              }


            }




            var facturar_a = "<%=@orden_produccion.nombre_facturacion.id%>"
            var valor_facturar_a = $('#select_facturar_a').val();

            if (valor_facturar_a == facturar_a) {

            }else{

              $('#select_facturar_a').val(facturar_a);
            }








          }
        })
  }






</script>
