<h1>Editing Orden Produccion</h1>

<%= render 'form', orden_produccion: @orden_produccion %>


<%= link_to 'Back', ordenes_produccion_path %>
<script type="text/javascript">
$("#buscandoControlador").select2()
var busVal = $("#buscandoControlador").select2("val")

var direcion = "<%=@orden_produccion.lugar_despacho%>"
$('#select_entrega').val(direcion).trigger('change');


var facturar_a = "<%=@orden_produccion.facturar_a%>"
$('#select_facturar_a').val(facturar_a).trigger('change');

if (busVal == null ) {



}else {
  if (busVal.length != 0 ) {


        $.ajax({
          url:'/select_buscar_montaje/'+busVal+'',
          method:'get',
          success: function (data){

            var valor_id = "<%=@orden_produccion.contacto.id%>"
            $('#select_contactos').val(valor_id).trigger('change');






          }
        })
  }
}





</script>
