<p id="notice"><%= notice %></p>

<h1>Ordenes de Producción</h1>





<!--
<div class="input-group input-daterange">
    <input type="text" class="form-control" value="2012-04-05">
    <div class="input-group-addon">to</div>
    <input type="text" class="form-control" value="2012-04-19">
</div>
-->



<div class="col-12">
  <div class="col-md-3 offset-md-9">
    <%= will_paginate @ordenes_produccion, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>



<div class="col-12">
  <br>
</div>



<div class="my_card_contactos_form">


              <div class="col-3">
                          <button type="button"
                            title="" data-toggle="popover" data-trigger="hover" data-content="buscar por parametros avanzados"
                            class="btn btn-outline-success"
                            id="advanced_search">
                                      Busqueda Avanzada
                                      <i class="ion-android-search">
                                      </i>
                          </button>

                          <button type="button"
                          title="" data-toggle="popover" data-trigger="hover"
                          data-content="buscar por parametros básicos"
                            class="btn btn-outline-success"
                            id="simple_search">
                                      Busqueda Sencilla
                                      <i class="ion-android-search">
                                      </i>
                          </button>

              </div>
              <div class="col-3">
                <%= link_to '<button type="button" class="btn btn-dark"><i class="ion-clipboard"></i> Crear orden de producción</button>'.html_safe, new_orden_produccion_path %>
              </div>

                <div class="col-3">
                  <div class="">
                      <%= link_to '<button type="button" class="btn btn-dark"><i class="ion-clipboard"></i> Ver ordenes</button>'.html_safe, ordenes_produccion_path %>
                  </div>
                </div>
</div>



<div class="formulario_busqueda_avanzada ">


      <%= form_tag busquda_avanzada_produccion_path, class: 'form-inline my_card_contactos_form form-inline',remote:true do%>
      <div class="col-12">
        <br>
      </div>
      <div class="col-3">


        <div class="control-group">
          <label for="select-beast">Seleccione Cliente:</label>
          <%= select_tag "clientes",
              options_for_select([ ""]),
              class:"demo-default",
              id:"selectize_cliente",
              include_blank: 'Seleccione cliente'
            %>


				</div>

      </div>
      <script type="text/javascript">
              $('#selectize_cliente').selectize({
              valueField: 'id',
              labelField: 'nombre',
              searchField: 'nombre',
              options: [],
              create: false,
              render: {
                  option: function(cliente, escape) {
                    return '<div>' +
                                '<span class="title">' +
                                    '<span class="ciccioname">' + cliente.nombre + '</span>' +
                                '</span>' +
                            '</div>';
                  }
              },
              load: function(query, callback) {
                  if (!query.length) return callback();
                  $.ajax({
                      url: '/cargar_select_advance_search.json',
                      data: { q: query},
                      type: 'GET',
                      dataType: 'json',
                      success: function(res) {
                      callback(res.slice(0,10));


                      }
                  });
              },
              render: {
                  option: function(item, escape) {

                    if (item != null) {
                      return `<div>` + escape(item.nombre) + `</div>`
                    }else if(item == null) {

                      var resp = "El Cliente no Exise"
                      return `<div>` + escape(resp) + `</div>`
                    }

                  }
                }

            });




      </script>

        <div class="col-3">

          <label for="" align="center">Estados</label>
          <%= select_tag "estados",
              options_for_select([ "Ninguno","Sin Programar", "Preprensa","Impresión", "Acabado", "Cerrado", "Inventario"]),
              class:"col-12",
              include_blank: 'Seleccione Estado'
            %>
        </div>
        <script type="text/javascript">
                $('#estados').selectize({

                });
        </script>


        <div class="col-3">

          <label for="" align="center">Selecionar Mes</label>
          <%= select_tag "mes",
              options_for_select(["Ninguno", "ENERO", "FEBRERO","MARZO", "ABRIL",
                "MAYO","JULIO", "AGOSTO", "SEPTIEMBRE","OCTUBRE", "NOVIEMBRE",
                "DICIEMBRE"]),
              class:" col-12",
              include_blank: 'Seleccione Mes'
            %>
        </div>
        <script type="text/javascript">
                $('#mes').selectize({

                });
        </script>


          <div class="col-3">
            <label for=""></label><br>
            <%= button_tag type: 'submit', class: "btn btn-primary input-group-btn form-control" do %>
              <span>Buscar... <i></i> </span>
            <%end%>
          </div>

      <%end%>



</div>

<script>
$(document).ready(function(){
    $('[data-toggle="popover"]').popover();
});
</script>



<div class="my_card_contactos_form" id="busqueda_basica">
  <div class="col-12">
    <br>
  </div>

          <div class="col-3">
              <div class="input-group">
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button"> <i class="ion-ios-search-strong"></i> Go!</button>
                </span>
                <input type="text" class="form-control" placeholder="Buscar..." id="buscar_orden">
              </div>
            </div>



            <div class="col-3">

              <%= form_tag buscador_de_ordenes_por_mes_path, class: 'form-inline',remote:true,multipart: true do %> <br>

                    <div class="input-group">
                      <%=
                      select_tag "mes",
                      options_for_select([ "ENERO", "FEBRERO","MARZO", "ABRIL", "MAYO","JULIO", "AGOSTO", "SEPTIEMBRE","OCTUBRE", "NOVIEMBRE", "DICIEMBRE" ], "ENERO"),
                      class:"form-control input-group"
                      %>
                    </div>
                    <div class="input-group">
                      &nbsp;&nbsp;
                    </div>
                    <div class="input-group">
                      <%= button_tag type: 'submit', class: "btn btn-primary input-group-btn form-control" do %>
                        <span>Buscar... <i></i> </span>
                       <% end %>

                    </div>

              <% end %>

            </div>






            <div class="col-5 ">

                  <%= form_tag buscador_de_ordenes_por_fecha_path, class: 'form-inline ', remote:true, multipart: true do %>


                    <div class="my_card_contactos_form">



                          <div class="input-group">




                                    <div class="col-6">
                                        <div class="input-group">
                                          <span class="input-group-addon " id="basic-addon2"> <i class="ion-calendar"></i> </span>
                                          <%= text_field_tag 'fecha',"",class: "form-control fecha_en_espanol", "data-date-format" => "dd/mm/yyyy", 'data-provide' => 'datepicker'%>

                                        </div>
                                    </div>







                                    <div class="input-group">
                                      <%= button_tag type: 'submit', class: "btn btn-primary input-group-btn form-control" do %>
                                        <span>Buscar... <i></i> </span>
                                       <% end %>

                                    </div>

                            </div>

                          </div>
                    <% end %>

            </div>








</div>
<br>

<table class="table table-hover tablesorter" id="myTable" >
  <thead>
    <tr>
      <th>Numero de orden</th>
      <th>Línea producto</th>
      <th>Cliente</th>
      <th>Descripción</th>
      <th>Linea de color</th>
      <th>Mes</th>
      <th class="sorter-shortDate dateFormat-ddmmyyyy tablesorter-header">Fecha compromiso</th>
      <th></th>
      <th colspan="4"></th>
  </thead>

  <tbody id="bodyDeOrdenes">






    <!--Ordenes con fechas sin incumplir-->
    <%@ordenes_prioridad.uniq.each do |orden_produccion| %>


    <tr class="ocultarBodyOrdenes order_table ocultar_incumplidos color_alert">
      <td><%= orden_produccion.numero_de_orden %></td>
      <td><%= orden_produccion.montaje.linea_producto.nombre%></td>
      <td><%= orden_produccion.montaje.cliente.nombre%></td>
      <td><%= orden_produccion.montaje.nombre %></td>
      <td><%=orden_produccion.montaje.linea_de_color.nombre%></td>





      <% if orden_produccion.compromisos_de_entrega.any? %>
                    <!-- true -->



                  <%



                  %>
                  <%cont=0%>
                  <%@comparador_fecha = ""%>
                  <%contador_enviados = 0%>



                  <%@hallado = false%>
                  <%@estado_data= false%>
                  <% orden_produccion.compromisos_de_entrega.each do  |fecha| %>

                          <% if fecha.fecha_de_compromiso != nil  %>
                                      <!-- true -->


                                          <%
                                            fech = fecha.fecha_de_compromiso
                                            fech.strftime("%Y/%m/%d")
                                          %>

                                          <% if fecha.enviado == true %>
                                              <%@estado_data = true%>
                                              <%contador_enviados = contador_enviados + 1%>
                                              <%@cantidades = contador_enviados%>
                                          <% end %>



                                  <%if fecha.fecha_de_compromiso < Date.today

                                        puts "******************Dia menor #{@dates}**********************"

                                        @dates= fecha.fecha_de_compromiso
                                        %>

                                  <% elsif fecha.fecha_de_compromiso >= Date.today %>

                                          <%
                                            dias = (fecha.fecha_de_compromiso - Date.today).to_i


                                            if dias == 0
                                              @dates= fecha.fecha_de_compromiso
                                              @hallado = true
                                              puts "******************Dia igual #{@dates}**********************"
                                            else
                                              if @hallado == false
                                                @dates= fecha.fecha_de_compromiso
                                                puts "******************Dia mayor #{@dates}**********************"
                                              end
                                            end

                                            %>


                                  <% end %>


                                  <% end %>

                        <% end %>


                            <% if @dates != nil %>
                              <!-- true -->

                            <%
                                      mes = @dates.strftime("%m")


                                      case mes
                                      when "01"%>
                                        <td>Enero</td>
                                      <%when "02"%>
                                        <td>Febrero</td>
                                      <%when "03"%>
                                        <td>Marzo</td>
                                      <%when "04"%>
                                        <td>Abril</td>
                                      <%when "05"%>
                                        <td>Mayo</td>
                                      <%when "06"%>
                                        <td>Junio</td>
                                      <%when "07"%>
                                        <td>Julio</td>
                                      <%when "08"%>
                                        <td>Agosto</td>
                                      <%when "09"%>
                                        <td>Septiembre</td>
                                      <%when "10"%>
                                        <td>Octubre</td>
                                      <%when "11"%>
                                        <td>Noviembre</td>
                                      <%when "12"%>
                                        <td>Diciembre</td>
                                      <% end %>
                                      <% else %>
                                      <td>Por Definir</td>
                                <% end %>

                                  <td><%=@dates%> </td>

                      <% else %>
                      <td><p>Pendiente Por Definir Fecha</p> </td>
                      <td><p>Pendiente Por Definir Fecha</p> </td>
                      <% end %>

      <!-- ---------------------Estado orden_produccion Bageds ------------------------------------ -->


                <td id=<%="estado_orden_produccion#{orden_produccion.id}"%>>





                  <% if  orden_produccion.entregado == false || orden_produccion.entregado == nil %>
                          <% if orden_produccion.sacar_de_inventario==true &&  orden_produccion.acabado== false%>
                            <!-- true -->
                            <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                              <span class="badge badge-dark">
                                 Inventario
                              </span>
                            </h6>
                            <% else %>



                                  <!-- true -->
                                  <% if @estado_data == false || @estado_data == nil%>
                                    <!-- true -->

                                        <% if  orden_produccion.impresion == false%>

                                          <% if orden_produccion.pantalla == true || orden_produccion.color === true || orden_produccion.corte_material=== true && orden_produccion.acabado == false%>

                                              <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                                <span class="badge badge-info">
                                                  Preprensa
                                                </span>
                                              </h6>

                                          <%elsif orden_produccion.pantalla == false && orden_produccion.color === false && orden_produccion.corte_material=== false && orden_produccion.acabado == true%>

                                            <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                              <span class="badge badge-warning baged_acabado">
                                                Acabado
                                              </span>
                                            </h6>

                                          <%elsif orden_produccion.pantalla == false && orden_produccion.color === false && orden_produccion.corte_material=== false%>

                                              <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                                <span class="badge badge-warning">
                                                  Sin Programar
                                                </span>
                                              </h6>



                                          <% end %>



                                        <%elsif orden_produccion.impresion == true && orden_produccion.acabado == false%>

                                          <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                            <span class="badge badge-warning baged_impresion">
                                              Impresión
                                            </span>
                                          </h6>

                                        <%elsif orden_produccion.impresion == true && orden_produccion.acabado == true%>

                                          <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                            <span class="badge badge-warning baged_acabado">
                                              Acabado
                                            </span>
                                          </h6>



                                        <% end %>

                                <% else %>
                                <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                  <span class="badge badge-success ">
                                    Despachos entregados: <br>
                                    <%=@cantidades%>
                                  </span>
                                </h6>
                                <% end %>

                            <% end %>
                  <% else %>
                  <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                    <span class="badge badge-success ">
                      Cerrada
                    </span>
                  </h6>
                  <% end %>


                  </td>

      <td><%= link_to '<button type="button" id="crearProduccion" data-toggle="modal" data-target="" class="btn btn-outline-dark"><span><i class="ion-pull-request" aria-hidden="true"></i></span></button>'.html_safe, cambiar_proceso_url(orden_produccion), remote: true %></td>
      <td><%= link_to '<button class="btn btn-outline-info"><span><i class="ion-stats-bars"></i></span></button>'.html_safe, orden_produccion, remote: true %></td>
      <td><%= link_to '<button class="btn btn-outline-warning"><span><i class="ion-paintbrush"></i></span></button>'.html_safe, edit_orden_produccion_path(orden_produccion) %></td>
      <td><%= link_to '<button class="btn btn-outline-danger"><span><i class="ion-trash-a"></i></i></span></button>'.html_safe, orden_produccion, method: :delete, data: { confirm: 'Realmente desea eliminar esta orden de produccion?' } %></td>
    </tr>





    <%end%>




<!--ordenes sin fechas-->
<%@ordenes_sin_fecha.uniq.each do |orden_produccion| %>


<tr class="ocultarBodyOrdenes order_table ocultar_incumplidos ">
  <td><%= orden_produccion.numero_de_orden %></td>
  <td><%= orden_produccion.montaje.linea_producto.nombre%></td>
  <td><%= orden_produccion.montaje.cliente.nombre%></td>
  <td><%= orden_produccion.montaje.nombre %></td>
  <td><%=orden_produccion.montaje.linea_de_color.nombre%></td>





  <% if orden_produccion.compromisos_de_entrega.any? %>
                <!-- true -->



              <%



              %>
              <%cont=0%>
              <%@comparador_fecha = ""%>
              <%contador_enviados = 0%>



              <%@hallado = false%>
              <%@estado_data= false%>
              <% orden_produccion.compromisos_de_entrega.each do  |fecha| %>

                      <% if fecha.fecha_de_compromiso != nil  %>
                                  <!-- true -->


                                      <%
                                        fech = fecha.fecha_de_compromiso
                                        fech.strftime("%Y/%m/%d")
                                      %>

                                      <% if fecha.enviado == true %>
                                          <%@estado_data = true%>
                                          <%contador_enviados = contador_enviados + 1%>
                                          <%@cantidades = contador_enviados%>
                                      <% end %>



                              <%if fecha.fecha_de_compromiso < Date.today

                                    puts "******************Dia menor #{@dates}**********************"

                                    @dates= fecha.fecha_de_compromiso
                                    %>

                              <% elsif fecha.fecha_de_compromiso >= Date.today %>

                                      <%
                                        dias = (fecha.fecha_de_compromiso - Date.today).to_i


                                        if dias == 0
                                          @dates= fecha.fecha_de_compromiso
                                          @hallado = true
                                          puts "******************Dia igual #{@dates}**********************"
                                        else
                                          if @hallado == false
                                            @dates= fecha.fecha_de_compromiso
                                            puts "******************Dia mayor #{@dates}**********************"
                                          end
                                        end

                                        %>


                              <% end %>


                              <% end %>

                    <% end %>


                        <% if @dates != nil %>
                          <!-- true -->

                        <%
                                  mes = @dates.strftime("%m")


                                  case mes
                                  when "01"%>
                                    <td>Enero</td>
                                  <%when "02"%>
                                    <td>Febrero</td>
                                  <%when "03"%>
                                    <td>Marzo</td>
                                  <%when "04"%>
                                    <td>Abril</td>
                                  <%when "05"%>
                                    <td>Mayo</td>
                                  <%when "06"%>
                                    <td>Junio</td>
                                  <%when "07"%>
                                    <td>Julio</td>
                                  <%when "08"%>
                                    <td>Agosto</td>
                                  <%when "09"%>
                                    <td>Septiembre</td>
                                  <%when "10"%>
                                    <td>Octubre</td>
                                  <%when "11"%>
                                    <td>Noviembre</td>
                                  <%when "12"%>
                                    <td>Diciembre</td>
                                  <% end %>
                                  <% else %>
                                  <td>Por Definir</td>
                            <% end %>

                              <td><%=@dates%> </td>

                  <% else %>
                  <td><p>Pendiente Por Definir Fecha</p> </td>
                  <td><p>Pendiente Por Definir Fecha</p> </td>
                  <% end %>

  <!-- ---------------------Estado orden_produccion Bageds ------------------------------------ -->


            <td id=<%="estado_orden_produccion#{orden_produccion.id}"%>>





              <% if  orden_produccion.entregado == false || orden_produccion.entregado == nil %>
                      <% if orden_produccion.sacar_de_inventario==true &&  orden_produccion.acabado== false%>
                        <!-- true -->
                        <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                          <span class="badge badge-dark">
                             Inventario
                          </span>
                        </h6>
                        <% else %>



                              <!-- true -->
                              <% if @estado_data == false || @estado_data == nil%>
                                <!-- true -->

                                    <% if  orden_produccion.impresion == false%>

                                      <% if orden_produccion.pantalla == true || orden_produccion.color === true || orden_produccion.corte_material=== true && orden_produccion.acabado == false%>

                                          <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                            <span class="badge badge-info">
                                              Preprensa
                                            </span>
                                          </h6>

                                      <%elsif orden_produccion.pantalla == false && orden_produccion.color === false && orden_produccion.corte_material=== false && orden_produccion.acabado == true%>

                                        <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                          <span class="badge badge-warning baged_acabado">
                                            Acabado
                                          </span>
                                        </h6>

                                      <%elsif orden_produccion.pantalla == false && orden_produccion.color === false && orden_produccion.corte_material=== false%>

                                          <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                            <span class="badge badge-warning">
                                              Sin Programar
                                            </span>
                                          </h6>



                                      <% end %>



                                    <%elsif orden_produccion.impresion == true && orden_produccion.acabado == false%>

                                      <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                        <span class="badge badge-warning baged_impresion">
                                          Impresión
                                        </span>
                                      </h6>

                                    <%elsif orden_produccion.impresion == true && orden_produccion.acabado == true%>

                                      <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                        <span class="badge badge-warning baged_acabado">
                                          Acabado
                                        </span>
                                      </h6>



                                    <% end %>

                            <% else %>
                            <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                              <span class="badge badge-success ">
                                Despachos entregados: <br>
                                <%=@cantidades%>
                              </span>
                            </h6>
                            <% end %>

                        <% end %>
              <% else %>
              <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                <span class="badge badge-success ">
                  Cerrada
                </span>
              </h6>
              <% end %>


              </td>

  <td><%= link_to '<button type="button" id="crearProduccion" data-toggle="modal" data-target="" class="btn btn-outline-dark"><span><i class="ion-pull-request" aria-hidden="true"></i></span></button>'.html_safe, cambiar_proceso_url(orden_produccion), remote: true %></td>
  <td><%= link_to '<button class="btn btn-outline-info"><span><i class="ion-stats-bars"></i></span></button>'.html_safe, orden_produccion, remote: true %></td>
  <td><%= link_to '<button class="btn btn-outline-warning"><span><i class="ion-paintbrush"></i></span></button>'.html_safe, edit_orden_produccion_path(orden_produccion) %></td>
  <td><%= link_to '<button class="btn btn-outline-danger"><span><i class="ion-trash-a"></i></i></span></button>'.html_safe, orden_produccion, method: :delete, data: { confirm: 'Realmente desea eliminar esta orden de produccion?' } %></td>
</tr>





<%end%>



<!--Ordenes con fechas sin incumplir-->



    <% @ordenes_produccion.uniq.each do |orden_produccion| %>
      <tr class="ocultarBodyOrdenes order_table">
        <td><%= orden_produccion.numero_de_orden %></td>
        <td><%= orden_produccion.montaje.linea_producto.nombre%></td>
        <td><%= orden_produccion.montaje.cliente.nombre%></td>
        <td><%= orden_produccion.montaje.nombre %></td>
        <td><%=orden_produccion.montaje.linea_de_color.nombre%></td>





        <% if orden_produccion.compromisos_de_entrega.any? %>
                      <!-- true -->



                    <%



                		%>
                    <%cont=0%>
                    <%@comparador_fecha = ""%>
                    <%contador_enviados = 0%>



                    <%@hallado = false%>
                    <%@estado_data= false%>
                    <% orden_produccion.compromisos_de_entrega.each do  |fecha| %>

                            <% if fecha.fecha_de_compromiso != nil  %>
                                        <!-- true -->


                                            <%
                                              fech = fecha.fecha_de_compromiso
                                              fech.strftime("%Y/%m/%d")
                                            %>

                                            <% if fecha.enviado == true %>
                                                <%@estado_data = true%>
                                                <%contador_enviados = contador_enviados + 1%>
                                                <%@cantidades = contador_enviados%>
                                            <% end %>



                                    <%if fecha.fecha_de_compromiso < Date.today

                                          puts "******************Dia menor #{@dates}**********************"

                                          @dates= fecha.fecha_de_compromiso
                                          %>

                                    <% elsif fecha.fecha_de_compromiso >= Date.today %>

                                            <%
                                              dias = (fecha.fecha_de_compromiso - Date.today).to_i


                                              if dias == 0
                                                @dates= fecha.fecha_de_compromiso
                                                @hallado = true
                                                puts "******************Dia igual #{@dates}**********************"
                                              else
                                                if @hallado == false
                                                  @dates= fecha.fecha_de_compromiso
                                                  puts "******************Dia mayor #{@dates}**********************"
                                                end
                                              end

                                              %>


                                    <% end %>


                                    <% end %>

                          <% end %>


                              <% if @dates != nil %>
                                <!-- true -->

                              <%
                                        mes = @dates.strftime("%m")


                                        case mes
                                        when "01"%>
                                          <td>Enero</td>
                                        <%when "02"%>
                                          <td>Febrero</td>
                                        <%when "03"%>
                                          <td>Marzo</td>
                                        <%when "04"%>
                                          <td>Abril</td>
                                        <%when "05"%>
                                          <td>Mayo</td>
                                        <%when "06"%>
                                          <td>Junio</td>
                                        <%when "07"%>
                                          <td>Julio</td>
                                        <%when "08"%>
                                          <td>Agosto</td>
                                        <%when "09"%>
                                          <td>Septiembre</td>
                                        <%when "10"%>
                                          <td>Octubre</td>
                                        <%when "11"%>
                                          <td>Noviembre</td>
                                        <%when "12"%>
                                          <td>Diciembre</td>
                                        <% end %>
                                        <% else %>
                                        <td>Por Definir</td>
                                  <% end %>

                                    <td><%=@dates%> </td>

                        <% else %>
                        <td><p>Pendiente Por Definir Fecha</p> </td>
                        <td><p>Pendiente Por Definir Fecha</p> </td>
                        <% end %>

        <!-- ---------------------Estado orden_produccion Bageds ------------------------------------ -->


                  <td id=<%="estado_orden_produccion#{orden_produccion.id}"%>>





                    <% if  orden_produccion.entregado == false || orden_produccion.entregado == nil %>
                            <% if orden_produccion.sacar_de_inventario==true &&  orden_produccion.acabado== false%>
                              <!-- true -->
                              <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                <span class="badge badge-dark">
                                   Inventario
                                </span>
                              </h6>
                              <% else %>



                                    <!-- true -->
                                    <% if @estado_data == false || @estado_data == nil%>
                                      <!-- true -->

                                          <% if  orden_produccion.impresion == false%>

                                            <% if orden_produccion.pantalla == true || orden_produccion.color === true || orden_produccion.corte_material=== true && orden_produccion.acabado == false%>

                                                <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                                  <span class="badge badge-info">
                                                    Preprensa
                                                  </span>
                                                </h6>

                                            <%elsif orden_produccion.pantalla == false && orden_produccion.color === false && orden_produccion.corte_material=== false && orden_produccion.acabado == true%>

                                              <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                                <span class="badge badge-warning baged_acabado">
                                                  Acabado
                                                </span>
                                              </h6>

                                            <%elsif orden_produccion.pantalla == false && orden_produccion.color === false && orden_produccion.corte_material=== false%>

                                                <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                                  <span class="badge badge-warning">
                                                    Sin Programar
                                                  </span>
                                                </h6>



                                            <% end %>



                                          <%elsif orden_produccion.impresion == true && orden_produccion.acabado == false%>

                                            <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                              <span class="badge badge-warning baged_impresion">
                                                Impresión
                                              </span>
                                            </h6>

                                          <%elsif orden_produccion.impresion == true && orden_produccion.acabado == true%>

                                            <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                              <span class="badge badge-warning baged_acabado">
                                                Acabado
                                              </span>
                                            </h6>



                                          <% end %>

                                  <% else %>
                                  <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                    <span class="badge badge-success ">
                                      Despachos entregados: <br>
                                      <%=@cantidades%>
                                    </span>
                                  </h6>
                                  <% end %>

                              <% end %>
                    <% else %>
                    <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                      <span class="badge badge-success ">
                        Cerrada
                      </span>
                    </h6>
                    <% end %>


                    </td>

        <td><%= link_to '<button type="button" id="crearProduccion" data-toggle="modal" data-target="" class="btn btn-outline-dark"><span><i class="ion-pull-request" aria-hidden="true"></i></span></button>'.html_safe, cambiar_proceso_url(orden_produccion), remote: true %></td>
        <td><%= link_to '<button class="btn btn-outline-info"><span><i class="ion-stats-bars"></i></span></button>'.html_safe, orden_produccion, remote: true %></td>
        <td><%= link_to '<button class="btn btn-outline-warning"><span><i class="ion-paintbrush"></i></span></button>'.html_safe, edit_orden_produccion_path(orden_produccion) %></td>
        <td><%= link_to '<button class="btn btn-outline-danger"><span><i class="ion-trash-a"></i></i></span></button>'.html_safe, orden_produccion, method: :delete, data: { confirm: 'Realmente desea eliminar esta orden de produccion?' } %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>



<div class="container">
  <div class="row align-items-start">

    <div class="col-4">
       <%= link_to '<button type="button"   class="btn btn-outline-success"><span><i class="fa fa-file-excel-o" aria-hidden="true"></i> Generar Excel </span></button>'.html_safe,
       ordenes_produccion_path(format: :xlsx) %>
     </div>


     <div class="col-4">
       <%= link_to '<button type="button"  class="btn btn-outline-warning"><span><i class="fa fa-file-excel-o" aria-hidden="true"></i> Generar Informe Pendientes Por Facturar </span></button>'.html_safe,
       export_formato_de_pendientes_facturacion_path(format: :xlsx)%>
     </div>

     <div class="col-4">
       <%= link_to '<button type="button" data-toggle="modal" data-target="#modalExportarExcel"  class="btn btn-outline-primary"><span><i class="fa fa-file-excel-o" aria-hidden="true"></i> Generar Informe De Oportunidad </span></button>'.html_safe,
       abrir_form_formato_de_oportunidad_path, remote: true %>
     </div>



     <!--div class="col-4">
       <%= link_to '<button class="btn btn-success" data-toggle="modal" data-target="#modalExcel">Importar ordenes de producción  desde Excel</button>'.html_safe,
       open_modal_import_path, remote: true %>
     </div-->
    <%if current_user.rol.cargo == "Administrador"%>

      <div class="col-3">
         <%= link_to '<button type="button"   class="btn btn-outline-success"><span><i class="fa fa-file-excel-o" aria-hidden="true"></i> Generar Excel </span></button>'.html_safe,
         ordenes_produccion_path(format: :xlsx) %>
       </div>


    <%end%>

  </div>
</div>


<div class="col-12">
        <br>
</div>

<div class="col-12">
  <div class="offset-md-9">
    <%= will_paginate @ordenes_produccion, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
  </div>
</div>






<!-- Modal Excel -->

<div class="modal fade fullscreen-modal " id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content col-12">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Información Ordenes De Producción</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="" id="contenidoModal">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

      </div>

    </div>
  </div>
</div>




<br>

<div class="modal fade fullscreen-modal " id="modalExcelImpotar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content col-12">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Importar Montajes Desde Excel</h5>






        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <div class="card text-center">
          <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
          </div>
          <div class="card-body">

            <div class="">

              <%= form_tag import_ordenes_produccion_from_excel_path, remote:true,multipart: true do %> <br>

              <h1 ALIGN="left" >Instrucciones:</h1>
              <h6 ALIGN="left"> <strong>-</strong> Para importar Ordenes de producción desde Excel asegurese de que el nombre del formato sea: <br> &nbsp; <strong> ORDEN DE PRODUCCIÓN UV.</strong>  </h6>
              <h6 ALIGN="left"><strong>-</strong> Además El archivo tendrá que pertenecer a alguna de estas extenciones:<br> &nbsp; <strong>".xls", ".xlsx", ".csv". </strong></h6>
              <br>


                  <div class="step_1 my_card_contactos_form">

                    <div class="col-12">
                      <h5>INFORMACION DE FICHAS TECNICAS</h5>
                    </div>

                    <div class="col-12">
                      <br>
                    </div>

                    <div class="col-4">
                      <div class="form-check">
                        <label class="form-check-label">
                          <h6> Seleccionar ficha tecnica </h6>

                          <input class="form-check-input" type="checkbox" id="checkbox_ficha" checked>


                        </label>
                      </div>
                    </div>

                    <div class="col-4">
                      <label for="">Seleccionar Ficha</label>
                      <% montajes = Montaje.all.map { |i| [i.nombre, i.id] } %>
                      <%= select_tag "seleccion_montaje_id",
                        options_for_select(montajes),
                        class:"demo-default",
                        id:"selectize_fichas",
                        include_blank: 'Seleccione Ficha Técnica'
                      %>
                    </div>
                    <div class="col-4">
                      <div class="control-group">
                        <label for="selectize_cliente_modal">Seleccione comercial:</label>
                            <%
                            comercial= "Comercial"
                            gerente_comercial = "Gerente Comercial"
                            %>
                        <%= select_tag "comercial_id",
                            options_for_select(User.joins(:rol).where('roles.cargo = ? OR roles.cargo = ?', comercial, gerente_comercial).map { |i| [i.nombre, i.id] }),
                            class:"demo-default",
                            id:"selectize_comercial_modal",
                            include_blank: 'Seleccione Comercial'
                          %>


              				</div>
                    </div>



                    <div class="col-12">
                      <br>
                    </div>


                    <div class="col-4 sel_ficha">
                      <label for="">Seleccione Linea de producto</label>
                      <% montajes = LineaProducto.all.map { |i| [i.nombre, i.id] } %>
                      <%= select_tag "seleccion_linea_de_producto_id",
                        options_for_select(montajes),
                        class:"demo-default",
                        id:"selectize_linea_de_producto",
                        include_blank: 'Seleccione Linea de producto'
                      %>
                    </div>

                    <div class="col-4 sel_ficha">
                      <label for="">Seleccione Linea de color</label>
                      <% montajes = LineaDeColor.all.map { |i| [i.nombre, i.id] } %>
                      <%= select_tag "seleccion_linea_de_color_id",
                        options_for_select(montajes),
                        class:"demo-default",
                        id:"selectize_linea_de_color",
                        include_blank: 'Seleccione Linea de color'
                      %>
                    </div>


                    <div class="col-4 sel_ficha">
                      <label for="">Seleccione las máquinas</label>
                      <% machines = []%>
                      <% machines = Maquina.all%>

                      <%= select_tag "seleccion_maquina_id",
                        options_from_collection_for_select(machines, :id, :nombre),
                        class:"demo-default",
                        id:"selectize_maquina",
                        :multiple=>true,

                        include_blank: 'Seleccione Las maquinas'
                      %>
                    </div>

                    <div class="col-12">
                        <br>
                    </div>

                    <div class="col-6 sel_ficha">
                     <% acabados = []%>
                     <% acabados = Acabado.all%>
                     <label for="">Seleccione Acabados</label>
                      <%= select_tag "seleccion_acabados",
                        options_from_collection_for_select(acabados, :id, :nombre),
                        class:"demo-default",
                        id:"selectize_acabados",
                        :multiple=>true,
                        include_blank: 'Seleccione Los acabados'
                      %>
                    </div>
                    <div class="col-6 sel_ficha">
                      <label for="">Agregar acabados</label>
                        <div class="input-group mb-3">
                              <div class="input-group-prepend">
                                <div class="input-group-text">
                                  <input type="checkbox" aria-label="Checkbox for following text input" id="cb_acabados">
                                </div>
                                </div>
                              <%= text_field_tag 'agregar_acabados',"",
                              class: "form-control",
                              id: "agregar_acabados_id"
                              %>
                        </div>
                    </div>

                    <script type="text/javascript">
                      $('#selectize_acabados').selectize()
                      $('#selectize_fichas').selectize()
                      $('#selectize_linea_de_producto').selectize()
                      $('#selectize_linea_de_color').selectize()
                      $('#selectize_maquina').selectize({
                              delimiter: ',',
                              persist: false,
                              create: function(input) {
                                return {
                                    value: id,
                                    text: input
                                }
                              }
                      })





                      $('#selectize_comercial_modal').selectize({

                      });



                    </script>

                </div>

                <br>
                <div class="step_1">
                  <p class="card-text"></p>
                  <button type="button" name="button" class="btn btn-primary" id="clear_step_1">SIGUIENTE</button>

                </div>


                <div class="step_2 my_card_contactos_form">
                  <div class="col-12">
                    <h5>INFORMACION DE LA ORDEN DE PRODUCCION</h5>
                  </div>
                  <div class="col-12">
                    <br>
                  </div>



                    <div class="col-4">
                      <div class="">
                        <label for="">Fecha de orden</label> <br>
                          <div class="input-group">

                            <span class="input-group-addon " id="basic-addon2"> <i class="ion-calendar"></i> </span>
                            <%= text_field_tag 'fecha_op',"",class: "form-control fecha_en_espanol", "data-date-format" => "dd/mm/yyyy", 'data-provide' => 'datepicker'%>
                          </div>
                      </div>
                    </div>

                    <div class="col-4">
                      <div class="form-check">
                        <label class="form-check-label">
                          Sacar de inventario <br>
                          <%=
                              check_box_tag 'inventario', 'yes', false
                            %>


                        </label>
                      </div>
                    </div>


                    <div class="col-4">
                      <div class="">
                        <label for="">Fecha de compromiso</label> <br>
                          <div class="input-group">

                            <span class="input-group-addon " id="basic-addon2"> <i class="ion-calendar"></i> </span>
                            <%= text_field_tag 'fecha_compromiso',"",class: "form-control fecha_en_espanol", "data-date-format" => "dd/mm/yyyy", 'data-provide' => 'datepicker'%>
                          </div>
                      </div>
                    </div>

                      <div class="col-12">
                        <br>
                      </div>
                    <div class="col-4">


                      <div class="control-group">
                        <label for="select-beast">Seleccione Cliente:</label>
                        <%= select_tag "cliente_id",
                            options_for_select([ ""]),
                            class:"demo-default",
                            id:"selectize_cliente_id",
                            include_blank: 'Seleccione cliente'
                          %>


              				</div>

                    </div>


                    <div class="col-4">
                      <label for="">Seleccione Contacto:</label>
                      <%= select_tag "contacto_id",
                          options_for_select([ ""]),
                          class:"demo-default",
                          id:"selectize_contacto_id",
                          include_blank: 'Seleccione contacto'
                        %>
                    </div>

                    <script type="text/javascript">
                    var xhr;
                    //AJAX CLIENTE
                            $('#selectize_cliente_id').selectize({
                            valueField: 'id',
                            labelField: 'nombre',
                            searchField: 'nombre',
                            options: [],
                            create: false,
                            render: {
                                option: function(cliente, escape) {
                                  return '<div>' +
                                              '<span class="title">' +
                                                  '<span class="ciccioname">' + cliente.nombre + '</span>' +
                                              '</span>' +
                                          '</div>';
                                }
                            },
                            load: function(query, callback) {
                                if (!query.length) return callback();
                                $.ajax({
                                    url: '/cargar_select_advance_search.json',
                                    data: { q: query},
                                    type: 'GET',
                                    dataType: 'json',
                                    success: function(res) {
                                    callback(res.slice(0,10));


                                    }
                                });
                            },
                            render: {
                                option: function(item, escape) {

                                  if (item != null) {
                                    return `<div>` + escape(item.nombre) + `</div>`
                                  }else if(item == null) {

                                    var resp = "El Cliente no Exise"
                                    return `<div>` + escape(resp) + `</div>`
                                  }

                                }
                              },
                              //ONCHANGE
                              onChange: function(value) {
                                if (!value.length) return;
                                console.log("ESTE ES EL VALOR:"+ value);
                                select_contacto.disable();
                                select_contacto.clearOptions();


                                select_contacto.load(function(callback) {
                                    xhr && xhr.abort();
                                    xhr = $.ajax({
                                      url: '/cargar_select_advance_search.json',
                                      data: { q: value},
                                      success: function(results) {
                                        select_contacto.enable();
                                        callback(results);
                                        console.log(results);

                                      },
                                      error: function() {
                                        callback();
                                      }
                                    })
                                  });


                              }







                          });


                          var select_contacto = $('#selectize_contacto_id').selectize({
                                  valueField: 'id',
                                  labelField: 'nombre',
                                  searchField: ['nombre']
                            })

                          select_contacto  = select_contacto[0].selectize;

                          //select_contacto.disable();

                    </script>


                    <div class="col-12">
                      <br>
                    </div>
                    <div class="col-12">
                      <div class="btn-group">
                        <button type="button" class="btn btn-primary" id="back_step_1">ATRAS</button>
                        <div  class="">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        <button type="button" class="btn btn-primary" id="clear_step_2">SIGUIENTE</button>
                      </div>
                    </div>

                </div>

                <div class="step_3 my_card_contactos_form">

                  <div class="col-12">
                    <%= file_field_tag :file %>
                    <%= submit_tag "Importar", :class=> "btn btn-success"%>
                  </div>




                </div>

                <div class="step_3">
                  <br>
                  <button type="button" name="button" class="btn btn-primary" id="back_step_2">ATRAS</button>

                </div>



              <% end %>

            </div>






          </div>
        </div>







      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

      </div>

    </div>
  </div>
</div>


<!-- Modal Excel Informa de oportunidad -->

<div class="modal fade fullscreen-modal " id="modalExportarExcel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content col-12">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Generar informes</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="" id="contenidoFormularioInformeOportunida">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

      </div>

    </div>
  </div>
</div>










<script type="text/javascript">











  var num_hoja = $('ul .active span').text()

  if (num_hoja > 11) {
    $('.ocultar_incumplidos').hide()

  }else {

    $('.ocultar_incumplidos').show()

  }



  $('#myTable').tablesorter({

            headers: {
                //identificar columna column
                6: { sorter: "ddmmyy" },
            },


            // include zebra and any other widgets
            widgets: ['zebra', 'columns']

  });





</script>
