<p id="notice"><%= notice %></p>

<h1>Ordenes Produccion Tintas</h1>




<table class="table">
  <thead>
    <tr>
      <th>Numero de orden</th>
      <th>Cliente</th>
      <th>Descripción</th>
      <th>Maquina</th>
      <th>Linea de color</th>
      <th>Mes</th>
      <th>Fecha compromiso</th>
      <th></th>

      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordenes_produccion.each do |orden_produccion| %>
      <tr>
        <td><%= orden_produccion.numero_de_orden %></td>
        <td><%= orden_produccion.montaje.cliente.nombre%></td>
        <td><%= orden_produccion.montaje.nombre %></td>

        <% orden_produccion.montaje.formatos_op.each do |formato|%>
          <td><%=formato.maquina.nombre%></td>
          <td><%=formato.linea_de_color.nombre%></td>
        <% end %>

        <%
    			@date = Time.now.strftime("%Y/%m/%d")

          @dat = Date.parse(@date)

          fec1 = "1111/01/01"
          @fech1 = fec1.to_time
    		%>
        <%cont=0%>
        <%@comparador_fecha = ""%>
        <%contador_enviados = 0%>



        <%@hallado = false%>
        <%@estado_data= false%>
        <% orden_produccion.compromisos_de_entrega.each do  |fecha| %>

              <%
                fech = fecha.fecha_de_compromiso
                fech.strftime("%Y/%m/%d")
              %>
              <% if fecha.enviado == true %>
                  <%@estado_data = true%>
                  <%contador_enviados = contador_enviados + 1%>
                  <%@cantidades = contador_enviados%>
              <% end %>



        <%if fech < Date.today




              %>

        <% elsif fech >= Date.today %>

                <%
                  dias = (fech - Date.today).to_i


                  if dias == 0
                    @dates= fech
                    @hallado = true
                  else
                    if @hallado == false
                      @dates= fech
                    end
                  end

                  %>


        <% end %>




  <% end %>



  <%
            mes = @dates.strftime("%m")


            case mes
            when "01"%>
              <td>Enero</td>
            <%when "02"%>
              <td>Febrero</td>
            <%when "03"%>
              <td>Marzo</td>
            <%when "04"%>
              <td>Abril</td>
            <%when "05"%>
              <td>Mayo</td>
            <%when "06"%>
              <td>Junio</td>
            <%when "07"%>
              <td>Julio</td>
            <%when "08"%>
              <td>Agosto</td>
            <%when "09"%>
              <td>Septiembre</td>
            <%when "10"%>
              <td>Octubre</td>
            <%when "11"%>
              <td>Noviembre</td>
            <%when "12"%>
              <td>Diciembre</td>
            <% end %>



        <td><%=@dates%> </td>
        <!-- ---------------------Estado orden_produccion Bageds ------------------------------------ -->

                  <td id=<%="estado_orden_produccion#{orden_produccion.id}"%>>
                        <% if orden_produccion.color == true%>
                              <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                <span class="badge badge-success">
                                  Cerrado
                                </span>
                              </h6>
                        <% else %>
                              <h6 id=<%="quitar_estado_orden_produccion#{orden_produccion.id}"%>>
                                <span class="badge badge-info">
                                  Pendiente
                                </span>
                              </h6>
                        <% end %>
                  </td>

        <td><%= link_to '<button type="button" id="crearProduccion" data-toggle="modal" data-target="" class="btn btn-outline-dark"><span><i class="ion-pull-request" aria-hidden="true"></i></span></button>'.html_safe, cerrar_color_url(orden_produccion), remote: true %></td>
        <td><%= link_to '<button class="btn btn-outline-info"><span><i class="ion-beaker"></i></span></button>'.html_safe, info_color_path(orden_produccion), remote: true %></td>
      </tr>

    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orden Produccion', new_orden_produccion_path %>


<!-- Modal Excel -->

<div class="modal fade fullscreen-modal " id="modalDetalles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content col-12">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Orden fabricación de colores</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="" id="contenidoModal">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

      </div>

    </div>
  </div>
</div>
