<%= simple_form_for(@tinta) do |f| %>
  <%= f.error_notification %>





  <div class="card">
    <h3 class="card-header">Tintas base</h3>

    <div class="container">
      <br>
        <div class="card-block">
          <div class="my_card_pedidos_form">
            <div class="col-4">
              <%= f.association :linea_de_color,
               collection: LineaDeColor.all.order('nombre'),
               label_method: :nombre,
               value_method: :id,
               as: :select,
               class:'col-4 my_cliente form-control',
               include_blank: 'Seleccione la Linea de Color'
               %>
            </div>
            <div class="col-4">
              <%= f.input :descripcion %>
            </div>
            <div class="col-4">
              <%= f.input :codigo %>
            </div>

          </div>
        </div>
      <br>
    </div>
</div>

<br>




  <br>

  <div class="btn pull-right">
  <%= button_tag type: 'submit', class: "btn btn-outline-success" do %>
    <span>Guardar
      <i id="iconoSubmit"class="ion-paper-airplane" aria-hidden="true"></i>
    </span>
   <% end %>
 </div>
 <br>
<% end %>
