<p id="notice"><%= notice %></p>



<br>

<div class="my_card_pedidos_form">


      <div class="col-6">
        <h1>Tintas Base</h1>
      </div>



      <div class="col-3 offset-md-3">
        <%= link_to '<button type="button" class="btn btn-dark float-xl-right">Registrar Tinta Nueva</button>'.html_safe, new_tinta_path %>
      </div>

</div>

<br>




<div class="pull-right">
  <%= will_paginate @tintas, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
<div class="">




</div>

<br>


<div class="col-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-secondary" type="button"> <i class="ion-ios-search-strong"></i> Go!</button>
      </span>
      <input type="text" class="form-control" placeholder="Buscar..." id="buscador_tintas">
    </div>
</div>

  <br>



<div class="container">


<table class="table">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Descripcion</th>
      <th>Linea de color</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody id="bodyDeOrdenes">
    <% @tintas.each do |tinta| %>
      <tr class="ocultarBodyOrdenes">
        <td><%= tinta.codigo %></td>
        <td><%= tinta.descripcion %></td>
        <td><%= tinta.linea_de_color.nombre %></td>
        <td><%= link_to '<button class="btn btn-outline-warning"><span><i class="ion-paintbrush"></i></span></button>'.html_safe, edit_tinta_path(tinta) %></td>
        <td><%= link_to '<button class="btn btn-outline-danger"><span><i class="ion-trash-a"></i></span></button>'.html_safe, tinta, method: :delete, data: { confirm: 'Realmente desea Eliminar esta Tinta?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<div class="pull-right">
  <%= will_paginate @tintas, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>


<div class="container">
  <div class="row align-items-start">
    <div class="col-4">
      <%= link_to '<button type="button" class="btn btn-dark">Registrar Tinta Nueva</button>'.html_safe, new_tinta_path %>
    </div>

<!--
    <div class="col-4">
      <button class="btn btn-success" data-toggle="modal" data-target="#modalExcel">Importar Tintas Desde Excel</button>
    </div>
-->

  </div>
</div>

<br>


<!-- Modal Excel -->

<div class="modal fade fullscreen-modal " id="modalExcel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content col-12">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Importar Tintas Desde Excel</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <h1>Instrucciones:</h1>
          <h6> <strong>-</strong> Para importar Tintas asegurese de que el orden las las columnas sean los siguientes: <br> &nbsp; <strong> Codigo, Linea De Color, Descripción.</strong>  </h6>
          <h6><strong>-</strong> Además El archivo tendrá que pertenecer a alguna de estas extenciones:<br> &nbsp; <strong>".xls", ".xlsx", ".csv". </strong></h6>
            <%= form_tag import_tintas_from_excel_path, multipart: true do %> <br>
            <%= file_field_tag :file %> <br> <br>
            <%= submit_tag "Importar", :class=> "btn btn-primary"%>
          <% end %>
          <h1><%=@user_id%></h1>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

      </div>

    </div>
  </div>
</div>
