<p id="notice"><%= notice %></p>

<h1>Contenedores De Maquinas</h1>

<table>
  <thead>
    <tr>
      <th>Orden produccion</th>
      <th>Maquina</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contenedores_de_maquinas.each do |contenedor_de_maquinas| %>
      <tr>
        <td><%= contenedor_de_maquinas.orden_produccion %></td>
        <td><%= contenedor_de_maquinas.maquina %></td>
        <td><%= link_to 'Show', contenedor_de_maquinas %></td>
        <td><%= link_to 'Edit', edit_contenedor_de_maquinas_path(contenedor_de_maquinas) %></td>
        <td><%= link_to 'Destroy', contenedor_de_maquinas, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contenedor De Maquinas', new_contenedor_de_maquinas_path %>
