<%= simple_form_for(@detalle_de_produccion) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :orden_de_produccion %>
    <%= f.input :codigo %>
    <%= f.input :descripcion %>
    <%= f.input :cantidad %>
    <%= f.input :fecha %>
    <%= f.input :inventario %>
    <%= f.input :estado %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
