<%= simple_form_for(@tiempos_de_entrega) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :pedido %>
    <%= f.input :remision %>
    <%= f.input :cantidad %>
    <%= f.input :fecha_compromiso %>
    <%= f.input :precio %>
    <%= f.input :fecha_de_despacho %>
    <%= f.input :cantidad_enviada %>
    <%= f.input :precio_a_facturar %>
    <%= f.input :cantidad_faltante %>
    <%= f.input :anexo %>
    <%= f.input :entrega_cumplida %>
    <%= f.input :estado %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
