<tr>
  <td><%= f.input :numero_de_remision %></td>
  <td class="ocultar_fecha"><%= f.text_field:fecha_de_despacho, class:"my_fecha" %></td>
  <td>
    <div class="contenedor_detalle_fecha">
      <label for="">Fecha De Despacho</label>
      <div class="input-group" >
        <input type="text" data-date-format="yyyy/mm/dd" class="form-control fecha"
        data-provide='datepicker' placeholder="Fecha"
        aria-describedby="basic-addon2" id='fecha'>
        <span class="input-group-addon " id="basic-addon2"> <i class="ion-calendar"></i> </span>
      </div>
    </div>
  </td>
  <td><%= f.input :cantidad_enviada %></td>
  <td><%= f.input :precio_a_facturar %></td>
  <td></td>
  <td>
    <%= f.input_field :_destroy, as: :hidden %>
    <%= link_to '<button type="button" class="btn btn-outline-danger"><span><i class="ion-trash-a"></i></span></button>'.html_safe, '#', class: 'remove_remisiones' %>
  </td>
</tr>
