<p id="notice"><%= notice %></p>

<h1>Despachos</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Numero De Pedido</th>
      <th>Descripción</th>
      <th>Fecha De Pedido</th>
      <th>Fechas De Entregas</th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @tiempos_de_entregas.each do |tiempos_de_entrega| %>
      <tr>
        <td><%= tiempos_de_entrega.pedido.contacto.cliente.nombre%></td>
        <td><%= tiempos_de_entrega.pedido.numero_de_pedido%></td>
        <td><%= tiempos_de_entrega.pedido.descripcion%></td>
        <td><%= tiempos_de_entrega.pedido.fecha_de_pedido %></td>
        <td><%= tiempos_de_entrega.fecha_compromiso %></td>
        <td><%= link_to '<button class="btn btn-outline-primary" data-toggle="modal" data-target="#modalConsultarDespachos" ><span><i class="ion-network"></i></i></span></button>'.html_safe, info_despacho_path(tiempos_de_entrega.id), remote: true%></td>
        <!td><!%= link_to 'Destroy', tiempos_de_entrega, method: :delete, data: { confirm: 'Are you sure?' } %><!/td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div class="modal fade fullscreen-modal " id="modalConsultarDespachos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content col-12">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class=" container" id="contenidoModal">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
