<%= simple_form_for(@tinta_fop_tiro) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :montaje %>
    <%= f.input :tinta %>
    <%= f.association :malla %>
    <%= f.input :descripcion %>
    <%= f.input :estado %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
