<p id="notice"><%= notice %></p>

<p>
  <strong>Montaje:</strong>
  <%= @tinta_fop_tiro.montaje %>
</p>

<p>
  <strong>Tinta:</strong>
  <%= @tinta_fop_tiro.tinta %>
</p>

<p>
  <strong>Malla:</strong>
  <%= @tinta_fop_tiro.malla %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @tinta_fop_tiro.descripcion %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @tinta_fop_tiro.estado %>
</p>

<%= link_to 'Edit', edit_tinta_fop_tiro_path(@tinta_fop_tiro) %> |
<%= link_to 'Back', tintas_fop_tiro_path %>
