<p id="notice"><%= notice %></p>

<p>
  <strong>Formato op:</strong>
  <%= @tinta_fop_tiro.formato_op %>
</p>

<p>
  <strong>Malla:</strong>
  <%= @tinta_fop_tiro.malla %>
</p>

<p>
  <strong>Tipo de tinta:</strong>
  <%= @tinta_fop_tiro.tipo_de_tinta %>
</p>

<p>
  <strong>Color:</strong>
  <%= @tinta_fop_tiro.color %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @tinta_fop_tiro.estado %>
</p>

<%= link_to 'Edit', edit_tinta_fop_tiro_path(@tinta_fop_tiro) %> |
<%= link_to 'Back', tintas_fop_tiro_path %>
