<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @formato_op.user %>
</p>

<p>
  <strong>Maquina:</strong>
  <%= @formato_op.maquina %>
</p>

<p>
  <strong>Montaje:</strong>
  <%= @formato_op.montaje %>
</p>

<p>
  <strong>Pieza a decorar:</strong>
  <%= @formato_op.pieza_a_decorar %>
</p>

<p>
  <strong>Referencia de orden:</strong>
  <%= @formato_op.referencia_de_orden %>
</p>

<p>
  <strong>Linea de color:</strong>
  <%= @formato_op.linea_de_color %>
</p>

<p>
  <strong>Tipo de produccion:</strong>
  <%= @formato_op.tipo_de_produccion %>
</p>

<p>
  <strong>Material:</strong>
  <%= @formato_op.material %>
</p>

<p>
  <strong>Temperatura:</strong>
  <%= @formato_op.temperatura %>
</p>

<p>
  <strong>Tamanos total:</strong>
  <%= @formato_op.tamanos_total %>
</p>

<p>
  <strong>Cavidad:</strong>
  <%= @formato_op.cavidad %>
</p>

<p>
  <strong>Tipo de linea:</strong>
  <%= @formato_op.tipo_de_linea %>
</p>

<p>
  <strong>Cantidad hoja:</strong>
  <%= @formato_op.cantidad_hoja %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @formato_op.observacion %>
</p>

<p>
  <strong>Linea producto:</strong>
  <%= @formato_op.linea_producto %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @formato_op.estado %>
</p>

<%= link_to 'Edit', edit_formato_op_path(@formato_op) %> |
<%= link_to 'Back', formatos_op_path %>
