<p id="notice"><%= notice %></p>

<h1>Acabados</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @acabados.each do |acabado| %>
      <tr>
        <td><%= acabado.nombre %></td>
        <td><%= acabado.descripcion %></td>
        <td><%= link_to '<button class="btn btn-outline-warning"><span><i class="ion-paintbrush"></i></i></span></button>'.html_safe, edit_acabado_path(acabado) %></td>
        <td><%= link_to '<button class="btn btn-outline-danger"><span><i class="ion-trash-a"></i></i></span></button>'.html_safe, acabado, method: :delete, data: { confirm: 'Realmente desea eliminar este acabado?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Acabado', new_acabado_path %>
