<%= simple_form_for(@factura_despacho, remote: true) do |f| %>
  <%= f.error_notification %>

  <table class="table" id=<%="factura_#{@factura_despacho.id}"%>>
    <thead class="table-primary">
      <th colspan="5"><h1>Numero de Factura: <%=@factura_despacho.numero_de_factura%></h1>
    </th>
    <th class="">
     <%= link_to_add_remision('<button type="button" id="pruebaSelect" class="btn btn-outline-warning"><span><i class="ion-plus-round"></i></span></button>'.html_safe, f, :remisiones, class: '') %>
  </th>
    <th><%= link_to '<button class="btn btn-outline-danger borrar"><span><i class="ion-trash-a"></i></i></span></button>'.html_safe, @factura_despacho, method: :delete, id:'borrar',remote: true,data: { confirm: 'Are you sure?' } %></th>
    </thead>
    <thead>
      <th>N° De Remisión</th>
      <th>Fecha</th>
      <th>Cantidad Envidad</th>
      <th>Precio Facturado</th>
      <th></th>
      <th></th>
      <th></th>
    </thead>
    <tbody class="fields_remisiones_new">
      <%@factura_despacho.remisiones.each do |remisiones|%>
      <tr>
        <td><%=remisiones.numero_de_remision%></td>
        <td><%=remisiones.fecha_de_despacho%></td>
        <td><%=remisiones.cantidad_enviada%></td>
        <td><%=remisiones.precio_a_facturar%></td>
        <td></td>
        <td></td>

      </tr>
      <%end%>



    </tbody>
  </table>
<%end%>

<script>
$('form').on('click', '.remove_remisiones', function(event) {
  $(this).prev('input[type=hidden]').val('1');
  $(this).closest('tr').remove();
  return event.preventDefault();
});

$('form').on('click', '.add_remisiones', function(event) {
  var regexp, time;
  time = new Date().getTime();
  regexp = new RegExp($(this).data('id'), 'g');
  $('.fields_remisiones_new').append($(this).data('fields').replace(regexp, time));
  $('.ocultar_fecha').hide();
  $('.fecha').focusout(function(){

    var this_fecha = $(this).parents("tr").find(".fecha").val();
    $(this).parents("tr").find(".my_fecha").val(this_fecha);
    var validar_fecha = $(this).parents("tr").find(".my_fecha").val();
  })
  return event.preventDefault();
});

</script>
