<p id="notice"><%= notice %></p>

<p>
  <strong>Montaje:</strong>
  <%= @desarrollo_de_tinta.montaje %>
</p>

<p>
  <strong>Linea de color:</strong>
  <%= @desarrollo_de_tinta.linea_de_color %>
</p>

<p>
  <strong>Malla:</strong>
  <%= @desarrollo_de_tinta.malla %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @desarrollo_de_tinta.descripción %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @desarrollo_de_tinta.cantidad %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @desarrollo_de_tinta.estado %>
</p>

<p>
  <strong>Tiro:</strong>
  <%= @desarrollo_de_tinta.tiro %>
</p>

<p>
  <strong>Retiro:</strong>
  <%= @desarrollo_de_tinta.retiro %>
</p>

<%= link_to 'Edit', edit_desarrollo_de_tinta_path(@desarrollo_de_tinta) %> |
<%= link_to 'Back', desarrollos_de_tintas_path %>
