<%# navigation styled for Bootstrap 4.0 %>

<!-- Admind  -->
  <% if user_signed_in? %>

  <!-- Admind  -->
  <% if current_user.rol.cargo == "Administrador" %>
    <nav class="navbar navbar-light bg-light my_nav">

      <a class="navbar-brand" href="#">
        Intercalco
      </a>

      <div class="form-inline">

        <a class="navbar-brand" href="#">
          <%= link_to 'Usuarios', users_path, class:'navbar-brand' %>
        </a>

        <a class="navbar-brand" href="#">
          <%= link_to 'Fichas Técnicas', montajes_path, class:'navbar-brand' %>
        </a>

        <a class="navbar-brand" href="#">
          <%= link_to 'Tintas', tintas_path, class:'navbar-brand' %>
        </a>

        <a class="navbar-brand" href="#">
          <%= link_to 'Producción', ordenes_produccion_path, class:'navbar-brand' %>
        </a>
        <!--a class="navbar-brand" href="#">
          <%= link_to 'Reportes', genera_reporte_pedido_path, class:'navbar-brand' %>
        </a-->
        <a class="navbar-brand" href="#">
          <%= link_to 'Líneas De Producción', lineas_productos_path, class:'navbar-brand' %>
        </a>


        <!--a class="navbar-brand" href="#">
          <%= link_to 'Despachos', entregas_path, class:'navbar-brand' %>
        </a-->

      <div class="nav-item dropdown">

        <button class="btn btn-outline-danger my-2 my-sm-0 nav-link dropdown-toggle "  href="#" id="navbarDropdown"
        role="button" data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"type=""><span  ></span><%=current_user.nombre%></button>



        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">
          <%= link_to 'Clientes', clientes_path, class:'navbar-brand' %>
        </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">
          <%= link_to 'Contactos', contactos_path, class:'navbar-brand' %>
        </a>
        <a class="dropdown-item" href="#">
          <%= link_to 'Tintas Formuladas', tintas_formuladas_path, class:'navbar-brand' %>
        </a>
        <a class="dropdown-item" href="#">
          <%= link_to 'Lineas De Colores', lineas_de_colores_path, class:'navbar-brand' %>
        </a>
        <a class="dropdown-item" href="#">
          <%= link_to 'Formulas', formulas_tinta_path, class:'navbar-brand' %>
        </a>
        <a class="dropdown-item" href="#">
          <%= link_to 'Despachos', compromisos_de_entrega_path, class:'navbar-brand' %>
        </a>
        <a class="dropdown-item" href="#">
          <%= link_to 'Pantallas', produccion_pantallas_path, class:'navbar-brand' %>
        </a>
        <a class="dropdown-item" href="#">
          <%= link_to 'Color', produccion_color_path, class:'navbar-brand' %>
        </a>
        <a class="dropdown-item" href="#">
          <%= link_to 'Facturas', facturas_path, class:'navbar-brand' %>
        </a>

          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <%= link_to '<button type="button" class="btn btn-outline-danger btn-sm btn-block my_btn_title">Logout</button>'.html_safe, destroy_user_session_path, :method=>'delete' %>

        </div>
      </div>


      </div>
    </nav>
    <!-- /Admind  -->

    <!-- tintas  -->
    <%elsif current_user.rol.cargo == "Tintas"%>
    <nav class="navbar navbar-light bg-light my_nav">

      <a class="navbar-brand" href="#">
        Intercalco
      </a>

      <div class="form-inline">

        <a class="navbar-brand" href="#">
          <%= link_to 'Ordenes de producción', produccion_color_path, class:'navbar-brand' %>
        </a>
        <a class="navbar-brand" href="#">
          <%= link_to 'Tintas', tintas_path, class:'navbar-brand' %>
        </a>
        <a class="navbar-brand" href="#">
          <%= link_to 'Tintas Formuladas', tintas_formuladas_path, class:'navbar-brand' %>
        </a>


      <div class="nav-item dropdown">

        <button class="btn btn-outline-danger my-2 my-sm-0 nav-link dropdown-toggle "  href="#" id="navbarDropdown"
        role="button" data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"type=""><span  ></span><%=current_user.nombre%></button>



        <div class="dropdown-menu" aria-labelledby="navbarDropdown">


          <div class="dropdown-divider"></div>



          <%= link_to '<button type="button" class="btn btn-outline-danger btn-sm btn-block my_btn_title">Logout</button>'.html_safe, destroy_user_session_path, :method=>'delete' %>

        </div>
      </div>


      </div>
    </nav>
    <!-- /Gerente Comercial  -->

    <!-- pantalla  -->
    <% elsif  current_user.rol.cargo == "Pantallas" %>
      <nav class="navbar navbar-light bg-light my_nav">

        <a class="navbar-brand" href="#">
          Intercalco
        </a>

        <div class="form-inline">

          <a class="navbar-brand" href="#">
            <%= link_to 'Ordenes Producción', produccion_pantallas_path, class:'navbar-brand' %>
          </a>



        <div class="nav-item dropdown">

          <button class="btn btn-outline-danger my-2 my-sm-0 nav-link dropdown-toggle "  href="#" id="navbarDropdown"
          role="button" data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"type=""><span  ></span><%=current_user.nombre%></button>



          <div class="dropdown-menu" aria-labelledby="navbarDropdown">


            <div class="dropdown-divider"></div>



            <%= link_to '<button type="button" class="btn btn-outline-danger btn-sm btn-block my_btn_title">Logout</button>'.html_safe, destroy_user_session_path, :method=>'delete' %>

          </div>
        </div>


        </div>
      </nav>
      <!-- /Comercial  -->


      <!-- Despacho  -->
      <% elsif  current_user.rol.cargo == "Despachos" %>
        <nav class="navbar navbar-light bg-light my_nav">

          <a class="navbar-brand" href="#">
            Intercalco
          </a>

          <div class="form-inline">

            <a class="navbar-brand" href="#">
              <%= link_to 'Despachos', compromisos_de_entrega_path, class:'navbar-brand' %>
            </a>




          <div class="nav-item dropdown">

            <button class="btn btn-outline-danger my-2 my-sm-0 nav-link dropdown-toggle "  href="#" id="navbarDropdown"
            role="button" data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"type=""><span  ></span><%=current_user.nombre%></button>



            <div class="dropdown-menu" aria-labelledby="navbarDropdown">


              <div class="dropdown-divider"></div>



              <%= link_to '<button type="button" class="btn btn-outline-danger btn-sm btn-block my_btn_title">Logout</button>'.html_safe, destroy_user_session_path, :method=>'delete' %>

            </div>
          </div>


          </div>
        </nav>
        <!-- /Despacho  -->

        <!-- Produccion  -->
        <% elsif  current_user.rol.cargo == "Producción" %>
          <nav class="navbar navbar-light bg-light my_nav">

            <a class="navbar-brand" href="#">
              Intercalco
            </a>

            <div class="form-inline">

              <a class="navbar-brand" href="#">
                <%= link_to 'Producción', ordenes_produccion_path, class:'navbar-brand' %>
              </a>
              <a class="navbar-brand" href="#">
                <%= link_to 'Fichas Técnicas', montajes_path, class:'navbar-brand' %>
              </a>












            <div class="nav-item dropdown">

              <button class="btn btn-outline-danger my-2 my-sm-0 nav-link dropdown-toggle "  href="#" id="navbarDropdown"
              role="button" data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"type=""><span  ></span><%=current_user.nombre%></button>



              <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                <div class="dropdown-divider"></div>

                <a class="dropdown-item" href="#">
                  <%= link_to 'Lineas De Colores', lineas_de_colores_path, class:'navbar-brand' %>
                </a>

                <a class="dropdown-item" href="#">
                  <%= link_to 'Linea de producto', lineas_productos_path, class:'navbar-brand' %>
                </a>

                <a class="dropdown-item" href="#">
                  <%= link_to 'Maquinas', maquinas_path, class:'navbar-brand' %>
                </a>

                <a class="dropdown-item" href="#">
                  <%= link_to 'Mallas', mallas_path, class:'navbar-brand' %>
                </a>






                <%= link_to '<button type="button" class="btn btn-outline-danger btn-sm btn-block my_btn_title">Logout</button>'.html_safe, destroy_user_session_path, :method=>'delete' %>

              </div>
            </div>


            </div>
          </nav>
          <!-- /Produccion  -->
          <!-- Gerente  -->
          <% elsif  current_user.rol.cargo == "Gerencia" %>
            <nav class="navbar navbar-light bg-light my_nav">

              <a class="navbar-brand" href="#">
                Intercalco
              </a>

              <div class="form-inline">

                <a class="navbar-brand" href="#">
                  <%= link_to 'Reportes', genera_reporte_pedido_path, class:'navbar-brand' %>
                </a>




              <div class="nav-item dropdown">

                <button class="btn btn-outline-danger my-2 my-sm-0 nav-link dropdown-toggle "  href="#" id="navbarDropdown"
                role="button" data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"type=""><span  ></span><%=current_user.nombre%></button>



                <div class="dropdown-menu" aria-labelledby="navbarDropdown">


                  <div class="dropdown-divider"></div>



                  <%= link_to '<button type="button" class="btn btn-outline-danger btn-sm btn-block my_btn_title">Logout</button>'.html_safe, destroy_user_session_path, :method=>'delete' %>

                </div>
              </div>


              </div>
            </nav>
            <!-- /Gerente  -->
    <%end%>

  <%else%>
<!--/ Admind -->


<!-- UserNull -->
    <nav class="navbar navbar-light bg-light my_nav">

      <a class="navbar-brand" href="#">
        Intercalco
      </a>

    </nav>
<!--/UserNull  -->
  <%end%>
