<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Intercalco" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Intercalco" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= csrf_meta_tags %>
    
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
    
  </head>
  <body>
    
    
    
    <header>
      
      <%= render 'layouts/navigation' %>
    </header>
    
    <main role="main">
      <div class="container">
         <%= render 'layouts/messages' %>
         <%= yield %>
      </div>
    </main>
   
  </body>
</html>
